/***************************** ADVANCED FILTER ****************************/

.advanced-filter-overlay {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    z-index:100;
    display:none;
}

.advanced-filter-container {
    position:relative;
    background:white;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    padding-bottom:60px;
}

.advanced-filter-container .column{
    box-sizing:border-box;
    padding:20px;
    text-align:left;
    font-size:14px;
}

.advanced-filter-container .column .filter-type{
    font-family:effra_medium;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:5px;
}

.advanced-filter-container  .done-button{
    position:absolute;
    bottom:20px;
    left:20px;
    width:150px;
    height:30px;
    line-height:30px;
    font-family:effra_medium;
    font-size:14px;
    letter-spacing:2px;
    color:white;
    text-align:center;
    cursor:pointer;
    border-radius:3px;
}

/***************************** RADIO BUTTONS ****************************/


.advanced-filter-container .column .radio{

    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
}


.advanced-filter-container [type="radio"]:checked,
.advanced-filter-container [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
        visibility: hidden;
}

.advanced-filter-container [type="radio"]:checked + label,
.advanced-filter-container [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
        height:30px;
}

.advanced-filter-container [type="radio"]:checked + label:before,
.advanced-filter-container [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 7px;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    border-radius: 100%;
    background: #fff;
}

.advanced-filter-container [type="radio"]:checked + label:after,
.advanced-filter-container [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #333;
    position: absolute;
    top: 10px;
    left: 3px;
    border-radius: 100%;

}

.advanced-filter-container [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.advanced-filter-container [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
