.spacio-custom-dd {
    width:100%;
    height:30px;
    line-height:30px;
    position:relative;
    box-sizing:border-box;
    border:1px solid #333;
    z-index:50;
    font-family:effra_regular;
}

.spacio-custom-dd .dd-container {
    width:100%;
    height:inherit;
    line-height:inherit;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;

}

.spacio-custom-dd .dd-selected {
    flex-grow:1;
    height:inherit;
    line-height:inherit;
    box-sizing:border-box;
    padding-left:10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.spacio-custom-dd .dd-downarrow {
    display:inline-block;
    flex-basis:40px;
    flex-grow:0;
    flex-shrink:0;
    height:inherit;
    line-height:inherit;
    color:#999;
    text-align:center;
    font-size:12px;
}

.spacio-custom-dd .dd-options.hidden {
    width:100%;
    height:auto;
    position:absolute;
    top:100%;
    left:0%;
    display:none;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.spacio-custom-dd .dd-options.visible {
    width:100%;
    height:auto;
    position:absolute;
    top:100%;
    left:0%;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.spacio-custom-dd .dd-options .dd-option {
    position:relative;
    box-sizing:border-box;
    padding-left:10px;
    background:#eee;
    border-bottom:1px solid #ddd;
    width:100%;
    height:40px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:black;
    line-height:40px;
}

.spacio-custom-dd .dd-options .dd-option.selected {
    
    background:#333;
   
    color:white;
}
