@charset "UTF-8";
/* CSS Document */

/* Reset default browser CSS. 
-------------------------------------------------------------- */


.main-color-font {
	color:#2b2b2b!important;
}
	
.main-color-background {
	background-color:#2b2b2b!important;
}

.main-color-background-lite-1 {
	background-color:rgba(43,43,43,0.75)!important;
}

.main-color-background-lite-2 {
	background-color:rgba(43,43,43,0.85)!important;
}

.main-color-background-lite-3 {
	background-color:#4b4b4b!important;
}

.main-color-border {
	border-color:#2b2b2b!important;
}

.main-font-regular {
	font-family:proxima_nova_regular!important;
}

.main-font-light {
	font-family:proxima_nova_light!important;
}

.main-font-bold {
	font-family:proxima_nova_bold!important;
}




.account-tab.selected {
	float:left;
	height:40px;
	background:white;
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
	color:#2b2b2b!important;;
	width:200px;
}

/***************************** ON/OFF SWITCH ****************************/


.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2b2b2b!important; 
	color: #FFFFFF;
	text-align: left;
}
