/***************************** GENERAL FORM INPUTS ****************************/


.form-text-caption {
    padding:10px 20px;
    line-height:1.4;
    font-family:effra_regular;
    font-size:16px;
    border-bottom: 1px solid #f2f2f2;

}

.form-sub-title {
    height:60px;
    line-height:60px;
    font-family:effra_medium;
    font-size:16px;
    border-bottom: 1px solid #ccc;
    letter-spacing:2px;
    text-transform:uppercase;
    padding-left:20px;
    padding-right:20px;
    box-sizing:border-box;
    background:rgba(0,0,0,0.1);

}


.settings-subtitle {
    padding:10px 20px;
    line-height:1.4;
    font-family:effra_medium;
    font-size:16px;
     background:rgba(0,0,0,0.05);

}

.settings-caption {
     padding:10px 20px;
    line-height:1.4;
    font-family:effra_regular;
    font-size:16px;
    display:none;
}


.form-info-row {
  height:50px;
  width:100%;
  border-bottom: 1px solid #ddd;
  background:#f2f2f2;
  display: flex;
  flex-direction: row;
}

.form-info-row .info-icon {
  order: 1;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  height:100%;
  text-align: center;
  line-height: 50px;
  border-right:1px solid #eee;
}

.form-info-row .info {
  order: 2;
  flex-grow: 0;
  height:100%;
  padding:5px;
  box-sizing: border-box;
    overflow: hidden;
}

.form-info-row .info div{
  height:20px;
  line-height: 20px;
}

.form-input-row {
  height:40px;
  width:100%;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  position:relative;
}

.form-button-row {
  height:70px;
  width:100%;
  border-top: 1px solid #f2f2f2;
  position:relative;
  box-sizing: border-box;
  padding-top:20px;
}

.form-input-row .input-label{
  order: 1;
  flex-basis: 125px;
  flex-grow: 0;
  flex-shrink: 0;
  height:100%;
  text-align: left;
  line-height: 40px;
  border-right:1px solid #eee;
  font-family: effra_medium;
  box-sizing: border-box;
  padding:0px;
  padding-left:20px;
  margin:0px;
  font-size:16px;
}

.form-input-row .input-label-grow{
  order: 1;
  flex-grow: 1;
  flex-shrink: 0;
  height:100%;
  text-align: left;
  line-height: 40px;
  border-right:1px solid #eee;
  font-family: effra_medium;
  box-sizing: border-box;
  padding:0px;
  padding-left:20px;
  margin:0px;
  font-size:16px;
}

.form-input-row .input-label-full{
  order: 1;
  flex-grow: 1;
  height:100%;
  text-align: left;
  line-height: 40px;
  font-family: effra_medium;
  box-sizing: border-box;
  padding:0px;
  padding-left:20px;
  margin:0px;
  font-size:16px;
}

.form-input-row .input-value{
  order: 2;
  flex-grow: 1;
  height:100%;
  text-align: left;
  line-height: 40px;
  font-family: effra_regular;
  box-sizing: border-box;
  padding:0 20px;
  -webkit-appearance: none;
  border:none;
  margin:0;
  font-size:14px;
  color:black;
  border-radius:0px;
}

.form-input-row .input-dropdown{
    order:2;
    flex-grow:1;
    flex-shrink:0;
    padding:0;
}

.form-input-row .input-dropdown select{
    -webkit-appearance:none;
    font-size:16px;
    border-radius:0px;
    height:100%;
    width:100%;
    padding-left:20px;
    box-sizing:border-box;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/arrow_down_grey.png);
}

.form-input-row input[type="text"],
.form-input-row input[type="email"],
.form-input-row input[type="tel"],
.form-input-row input[type="url"],
.form-input-row input[type="number"],
.form-input-row input[type="password"]{
  order: 2;
  flex-grow: 1;
  height:100%;
  text-align: left;
  line-height: 1;
  font-family: effra_regular;
  box-sizing: border-box;
  padding:0 20px;
  -webkit-appearance: none;
  border:none;
  margin:0;
  font-size:16px;
  color:black;
  border-radius:0px;
}

.form-input-row input[type="text"]:read-only,
.form-input-row input[type="email"]:read-only,
.form-input-row input[type="tel"]:read-only,
.form-input-row input[type="url"]:read-only,
.form-input-row input[type="number"]:read-only{
  background:#f2f2f2;
}

.form-input-row .readonly {
    position:absolute;
    right:10px;
    top:10px;
    z-index:100;
    height:20px;
    line-height:20px;
    padding:0 5px;
    color:white;
    background:#333;
    display:none;
}

.form-input-row .form-inline-select{
    order:3;
    flex-grow:0;
    flex-shrink:0;
    flex-basis:100px;
    height:100%;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/arrow_down_grey.png);
    -webkit-appearance: none;
    border:none;
    border-left:1px solid #eee;
    margin:0;
    font-size:14px;
}

.form-input-row textarea{
  order: 2;
  flex-grow: 1;
  height:100%;
  text-align: left;
  font-family: effra_light;
  box-sizing: border-box;
  padding:12px 20px;
  background-repeat: no-repeat;
  background-size:40px 40px;
  background-position: right top;
  background-image: url(../img/edit_grey.png);
  -webkit-appearance: none;
  border:none;
  margin:0;
  font-size:14px;
}

.form-questions textarea {
    width:100%;
    height:120px;
    background:transparent;
    margin-top:0px;
    box-sizing:border-box;
    padding:20px;
    font-size:16px;
    border-bottom:1px solid #eeeeee;
    border-radius:0px;
    -webkit-appearance:none;
    font-family:effra_light;
    text-align:left;
}


.form-question-row {
    font-size:16px;
    text-align:left;
    position:relative;
}

.form-question-row .question{
  width:100%;
  padding: 10px 20px;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: effra_medium;
  border: none!important;
  margin-bottom:10px;
  font-size:16px;
}

.form-question-row .question-section{
  width:100%;
  padding: 10px 20px;
  padding-bottom:0px;
  padding-right:110px;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: effra_medium;
  border: none!important;
  margin-bottom:10px;
}

.form-question-row input[type="text"]{
  height:40px;
  text-align: left;
  line-height: 1;
  font-family: effra_light;
  box-sizing: border-box;
  padding:0 20px;
  padding-right:40px;
  background-repeat: no-repeat;
  background-size:40px 40px;
  background-position: right center;
  background-image: url(../img/edit_grey.png);
  -webkit-appearance: none;
  border:none;
  margin:0;
  font-size:16px;
  width:100%;
  border-bottom: 1px solid #f2f2f2;

}

.form-question-row .answer{
  height:40px;
  text-align: left;
  line-height: 40px;
  font-family: effra_light;
  box-sizing: border-box;
  padding:0 20px;
  padding-right:40px;
  -webkit-appearance: none;
  border:none;
  margin:0;
  font-size:16px;
  width:100%;
  border-bottom: 1px solid #f2f2f2;
}

.form-question-row label{
  margin-right:20px;
  margin-left:5px;
  cursor: pointer;
}

.full-width-checkboxes {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.half-width-checkboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.full-width-checkboxes .checkbox{
    width: 100%;
    box-sizing: border-box;
    padding-left:20px;
    height: 30px;
    line-height: 30px;
}

.full-width-checkboxes .checkbox{
    width: 100%;
    box-sizing: border-box;
    padding-left:20px;
    height: 30px;
    line-height: 30px;
}

.full-width-checkboxes input[type="text"]{
    width: 100%;
    padding-left:55px;
    border-bottom:none;
    background:transparent;
    background-color:rgba(0,0,0,0.05);
    display: none;
}

.form-question-row [type="radio"]:checked,
.form-question-row [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
        visibility: hidden;
}

.form-question-row [type="radio"]:checked + label,
.form-question-row [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
        height:30px;
}

.form-question-row [type="radio"]:checked + label:before,
.form-question-row [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 100%;
    background: #fff;
}

.form-question-row [type="radio"]:checked + label:after,
.form-question-row [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #333;
    position: absolute;
    top: 9px;
    left: 5px;
    border-radius: 100%;

}

.form-question-row [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-question-row [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-question-row [type="checkbox"]:checked,
.form-question-row [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
        visibility: hidden;
}

.form-question-row [type="checkbox"]:checked + label,
.form-question-row [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
        height:30px;
}

.form-question-row [type="checkbox"]:checked + label:before,
.form-question-row [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    background: #fff;
}

.form-question-row [type="checkbox"]:checked + label:after,
.form-question-row [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #333;
    position: absolute;
    top: 9px;
    left: 5px;

}

.form-question-row [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-question-row [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.answers-section {
    text-align:left;
}

.datetime-input {
    border:none;
    border-radius:0px;
    height:40px;
    font-family: effra_light;
    font-size:14px;
    padding-left:20px;
    background: url(../img/arrow_down.png) no-repeat right;
    background-size:30px 30px!important;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-appearance:none;
}

.timepicker-input {
    border:none;
    border-radius:0px;
    height:40px;
    font-family: effra_light;
    font-size:14px;
    padding-left:20px;
    background: url(../img/arrow_down.png) no-repeat right;
    background-size:30px 30px!important;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-appearance:none;
}

.scheduler-select{
    border:none!important;
    height:40px!important;
    font-family: effra_light!important;
    font-size:14px!important;
    padding:0 40px 0 20px!important;
    background-color: #eee!important;
    border-bottom: 1px solid #ddd!important;
    box-sizing: border-box!important;
    background: url(../img/arrow_down.png) no-repeat right;
    background-size:30px 30px!important;
    margin:0!important;
}

.scheduler-title {
    height:40px;
    line-height: 40px;
    font-size:16px;
    width: 100%;
    box-sizing: border-box;
    padding-left:20px;
    position: relative;
    border-bottom:1px solid #eee;
}

.scheduler-open-button {
    height:40px;
    line-height: 40px;
    font-size:16px;
    width: 40px;
    text-align: center;
    border-left:1px solid #eee;
    box-sizing: border-box;
    position: absolute;
    right:0px;
    top:0px;
    font-size: 20px;
    font-family: effra_medium;
    cursor: pointer;


}
.scheduler-flex {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.scheduler-label {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:200px;
    height:40px;
    line-height:40px;
    box-sizing: border-box;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
}

/***************************** ADD/VIEW PROPERTY WINDOW ****************************/



/***************************** ADD/VIEW PROPERTY WINDOW ****************************/


.bottom .scroll-panel {
    position:absolute;
    height:100%;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    padding-bottom:100px;
    box-sizing:border-box;
    -webkit-overflow-scrolling:touch;
}
.form-bottom-bar {
    position:absolute;
    bottom:0px;
    left:0px;
    height:80px;
    width:100%;
    box-sizing:border-box;
    padding:0 20px;
    border-top:1px solid #eee;
    background:white;

}

.form-bottom-bar input[type="submit"] {
    -webkit-appearance: none;
/*    width:200px;*/
/*    border-radius:0px;*/
/*    height:40px;*/
/*    color:#2b2b2b;*/
/*    border:1px solid #2b2b2b;*/
/*    box-sizing:border-box;*/
/*    background:transparent;*/
/*    margin-right:20px;*/
/*    margin-top:20px;*/
/*    float:left;*/
/*    font-size:16px;*/
/*    font-family:effra_light;*/
/*     -webkit-user-select: none;*/

}


/***************************** EDIT SIGN IN FORM ****************************/

#popup-edit-form .form-input-row .input-label {
 text-transform:capitalize;
 font-family:effra_regular;
}


/***************************** EDIT PROFILE ****************************/

#editProfile_Form .form-input-row .input-label, #changePassword_Form .form-input-row .input-label{
  flex-basis: 240px;
}


/***************************** VISITOR SIGN IN FORM ****************************/
#propertyReg_Form .signin-form-content {
   width:100%;
   padding-bottom:50px;
   box-sizing:border-box;
   position:absolute;
   top:80px;
   height:calc(100vh - 160px);
   left:0px;
   overflow-y:scroll;
   overflow-x:hidden;
}

#propertyReg_Form .form-input-row .input-label{
  font-size:inherit;
  border-right:1px solid #ddd;
}

#propertyReg_Form .form-input-row input{
  font-size:inherit;
}

#propertyReg_Form .form-questions label{
  font-size:inherit;
}

#propertyReg_Form .form-questions input{
  font-size:inherit;
}

#propertyReg_Form .form-questions .question{
  font-size:inherit;
}

#propertyReg_Form .form-question-row {
    font-size:inherit;
}




#propertyReg_Form .form-title-section {
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:80px;
    line-height:80px;
    font-size:24px;
    text-align:left;
    box-sizing:border-box;
    padding-left:30px;
    padding-right:30px;
    border-bottom:1px solid #eee;
}

#propertyReg_Form .signin-button {
    -webkit-appearance:none;
    position:absolute;
    top:18px;
    right:30px;
    height:44px;
    background-color:#2b2b2b;
    color:white;
    padding:0px 15px;
    font-size:16px;
		font-family:effra_light;
	 	-webkit-user-select: none;
    z-index:10;
    border-radius:0px;
}

#propertyReg_Form .form-input-row {
  border-bottom: 1px solid #ddd;
}

#propertyReg_Form .form-question-row .answer{
  border-bottom: 1px solid #ddd;
}

#propertyReg_Form .form-question-row input[type="text"]{
  border-bottom: 1px solid #ddd;
}

#propertyReg_Form .full-width-checkboxes {
    border-bottom: 1px solid #ddd;
}

#propertyReg_Form .half-width-checkboxes {
    border-bottom: 1px solid #ddd;
}

.extra-permission-row {
    width:100%;
    box-sizing: border-box;
    padding:10px 20px;
    line-height: 1.2;
    margin-top:10px;
    display:none;
    text-align:left;
    font-size:inherit;
}

.brokerage-disclaimer {
	margin-top:40px;
	width:100%;
    box-sizing: border-box;
    padding:10px 20px;
    line-height: 1.2;
    font-size:12px;
}
