/***************************** LEFT MENU BAR ****************************/


.left-menu-bar {
    position:absolute;
    left:0px;
    top:0;
    width:200px;
    height:100%;
    position:absolute;
    display:none;
    text-align:right;
    z-index:10;
    background:#2e2e2e;
}

.left-menu-bar .top-bar {
    height:40px;
    width:100%;
    position:relative;
    box-sizing:border-box;
    line-height:40px;
    text-align:left;
    font-family:effra_medium;
    letter-spacing:3px;
    color:white;
    padding-left:20px;
}

.left-menu-bar .top-bar .profile-button {
     position: absolute;
     top:0px;
     left:0px;
     height: 40px;
     line-height: 40px;
     box-sizing: border-box;
     cursor: pointer;
     text-align: center;
     font-size:14px;
     padding:0px 20px;
     font-family:effra_medium;
     color:white;
     text-transform:uppercase;
     letter-spacing:2px;
}

.left-menu-bar .top-bar .upgrade-button {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size:14px;
  padding:0px 20px;
  font-family:effra_medium;
  color:white;
  text-transform:uppercase;
  letter-spacing:2px;
  background-color: orange;
  display: none;

}

.left-menu-bar .menu-logo {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top center;
    width:160px;
    height:60px;
    margin:20px;
    margin-top:30px;
}

.left-menu-bar .menu {
    width:100%;
    height:calc(100% - 180px);
    border-top:1px solid rgba(255,255,255,0.1);
    overflow:auto;
    -webkit-over-scrolling:touch;
    font-family:effra_medium;
}

.left-menu-bar .submenu {
    display:none;
    border-bottom:1px solid rgba(255,255,255,0.1);
}



.left-menu-bar .menu-item {
    width:200px;
    height:40px;
    line-height:40px;
    color:white;
    font-size:14px;
    letter-spacing:2px;
    box-sizing:border-box;
    padding:0px 20px;
    margin:0 auto;
    text-align:left;
    cursor:pointer;
    background-color:rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);

}

.left-menu-bar .submenu-item {
    width:200px;
    height:40px;
    line-height:40px;
    color:white;
    font-size:14px;
    box-sizing:border-box;
    padding:0px 20px;
    padding-left:40px;
    margin:0 auto;
    text-align:left;
    cursor:pointer;
    background-color:rgba(0,0,0,0.25);

}

.left-menu-bar .menu-item-collapsible {
    width:200px;
    height:40px;
    line-height:40px;
    color:white;
    font-size:14px;
    letter-spacing:2px;
    box-sizing:border-box;
    padding:0px 20px;
    margin:0 auto;
    text-align:left;
    cursor:pointer;
    background-color:rgba(0,0,0,0.1);
    background-image:url(../img/arrow_down_grey.png);
    background-size:40px 40px;
    background-position:right center;
    background-repeat:no-repeat;
    border-bottom:1px solid rgba(255,255,255,0.1);

}

.menu-item.selected {
    background-color:rgba(255,255,255,0.2);
}

.submenu-item.selected {
    background-color:rgba(255,255,255,0.2);
}

.menu-item-collapsible.selected {
    background-image:url(../img/arrow_up_grey.png);
    border-bottom:none;
}

.menu-item.not-selected {
    /*
    opacity:0.5;
    */
    background-color:rgba(0,0,0,0.10);

}



.iab-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:200;
    overflow:hidden;
    background:rgba(0,0,0,0.85);
    display: none;
}

.iab-input-container {
    margin-top:140px;
    margin-bottom:20px;
    width:100%;
    text-align:left;
    font-family:effra_medium;
    color:white;
}

.iab-apply-btn {
    position:absolute;
    top:140px;
    left:20px;
    width:calc(100% - 40px);
    height:30px;
    line-height:30px;
    text-align:center;
    background-color:white;
    border-radius:3px;
    font-family:effra_medium;
}

.iab-clear-btn {
    position:absolute;
    top:140px;
    left:20px;
    width:calc(100% - 40px);
    height:30px;
    line-height:30px;
    text-align:center;
    background-color:white;
    border-radius:3px;
    font-family:effra_medium;
}
