/***************************** ON/OFF SWITCH ****************************/

.onoffswitch {
    margin-top:10px;
    margin-bottom:10px;
    position: relative;
    width: 90px;
    height: 30px;
    line-height:30px;
    -webkit-user-select:none;
    font-family:effra_medium;
    border-radius:3px;
    overflow:hidden;
}

.onoffswitch-flex {
    order:2;
    margin:0;
    position: relative;
    flex-basis: 90px;
    flex-grow:0;
    flex-shrink:0;
    height: 30px;
    line-height:30px;
    margin-top:5px;
    margin-right:5px;
    -webkit-user-select:none;
    font-family:effra_medium;
    border-radius:3px;
    overflow:hidden;

}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: none; border-radius: 0px;
    position:relative;
    height:inherit;

}
.onoffswitch-inner, .onoffswitch-inner-2 {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after,.onoffswitch-inner-2:before, .onoffswitch-inner-2:after {
    display: block; float: left; width: 50%; height: inherit; padding: 0; line-height: inherit;
    font-size: 14px; color: white;
    -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2B2B2B; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-inner-2:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2B2B2B; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner-2:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 20px; height:20px; margin: 0px;
    background: #FFFFFF;
    border-radius: 0px;
    position: absolute; top:5px; right: 65px;
    -webkit-transition: all 0.3s ease-in 0s;
    border-radius:3px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner, .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner-2 {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 5px;
}
