/***************************** PANELS ****************************/

.panel {
    display:none;
    position:absolute;
    top:40px;
    left:0px;
    width:100%;
    height:calc(100vh - 40px);
    overflow:hidden;
    background:#eee;
}

.sso-overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    background:rgba(0,0,0,0.9);
    width:100%;
    height:100vh;
    display:none;
}

.panel .title-bar {
    position:relative;
    width:100%;
    height:80px;
    font-size:20px;
    font-family:effra_medium;
    color:#333;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
}

.panel .title-bar .vcentered-title{
    box-sizing:border-box;
    position:absolute;
    top:0px;
    left:0px;
    height:80px;
    width:300px;
    overflow:hidden;
    padding-left:20px;
    line-height: 80px;
}

.panel .title-bar .padded-title{
    box-sizing:border-box;
    position:absolute;
    top:0px;
    left:0px;
    height:80px;
    width:300px;
    padding:20px 20px;
    line-height: 1.2;
}

.panel .title-bar .padded-title div{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.panel .filter-bar {
    position:relative;
    width:100%;
    height:40px;
    font-size:16px;
    font-family:effra_regular;
    color:black;
    box-sizing:border-box;
    background:white;
    border-bottom:1px solid #ddd;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.panel .filter-bar .filter-label{
    flex-grow:0;
    height:40px;
    line-height:40px;
    padding-left:20px;
    font-family:effra_medium;
    color:#666;
}

.panel .filter-bar .filter-dropdown{
    flex-grow:0;
    flex-shrink:0;
    flex-basis:150px;
    height:40px;
    border-right:1px solid #ddd;
    margin-left:10px;
}

.panel .filter-bar .filter-dropdown select{
    -webkit-appearance:none;
    font-size:14px;
    border-radius:0px;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/arrow_down_grey.png);
    box-sizing:border-box;
    padding-right:40px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.panel .filter-bar .advanced-filter{
    flex-grow:0;
    flex-basis:500px;
    height:40px;
    border-right:1px solid #ddd;
    display:flex;
    flex-direction:row;
    cursor:pointer;
}

.panel .filter-bar .advanced-filter-button{
    flex-grow:0;
    height:40px;
    line-height:40px;
    padding-left:20px;
    padding-right:0px;
    font-family:effra_medium;
    color:#666;
}

.panel .filter-bar .advanced-filter-settings{
    flex-grow:1;
    height:40px;
    line-height:40px;
    padding-left:10px;
    font-family:effra_regular;
    background-color:transparent;
    color:#666;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:14px;
}

.panel .filter-bar .advanced-filter-dd-button{
    flex-basis:40px;
    height:40px;
    line-height:40px;
    background-color:transparent;
    color:#aaa;
    text-align:center;
    font-size:14px;
}

.panel .panel-content {
    position:relative;
    height:calc(100% - 120px);
    width:100%;
    overflow:hidden;
    padding:0px;
}

.panel .panel-content-flex {
    position:relative;
    height:calc(100% - 120px);
    width:100%;
    overflow:hidden;
    padding:0px;
    display:flex;
    flex-direction:column;
}

.panel .panel-content .panel-content-scroll {
    position:relative;
    height:100%;
    width:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    padding:0px;
    background:white;
}


.panel .tabs {
    position:relative;
    width:100%;
    height:40px;
    font-size:16px;
    font-family:effra_medium;
    color:black;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.tab.selected {
    height:40px;
    background:white;
    padding-left:10px;
    padding-right:10px;
    line-height:40px;
    color:#2b2b2b;
    width:120px;
}

.tab.unselected {
    height:40px;
    padding-left:10px;
    padding-right:10px;
    line-height:40px;
    background:transparent;
    color:#666;
    border-right:1px solid #ddd;
    cursor:pointer;
    width:120px;
}

.tab-panel {
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    position:absolute;
    top:0px;
    left:0px;
    box-sizing:border-box;

}

/***************************** SEARCH BAR ****************************/


.search-bar {
    height:40px;
    display:flex;
    flex-direction:row;
    flex-grow:1;
    position:relative;
}

.search-button {
    width:40px;
    height:40px;
    line-height:40px;
    background-color:transparent;
    text-align:center;
}

.search-button:active {
    opacity:0.5;
}

.clear-search-button {
    position:absolute;
    right:40px;
    top:0px;
    width:40px;
    height:40px;
    line-height:40px;
    font-size:14px;
    text-align:center;
    color:#aaa;
    z-index:10;
}

.search-input {
    -webkit-appearance:none;
    flex-grow:1;
    height:100%;
    font-size:14px;
    border:none;
    border-radius:0px;
    padding-left:20px;
    padding-right:40px;
    box-sizing:border-box;
    font-family:effra_regular;
    background-color:rgba(0,0,0,0.05);
}

/***************************** EMAIL TEMPLATES ****************************/



.tags-explanation-panel {
    position:absolute;
    right: -350px;
    width:350px;
    height:calc(100% - 80px);
    top:80px;
    z-index:100;
    background:#333;
    color:white;
    -webkit-transition:all 0.5s ease-in;
    box-sizing:border-box;
    padding:20px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.tags-explanation-panel.opened {
    right: 0px;
}

.tag {
    letter-spacing:2px;
    font-family:effra_medium;
    margin-top:15px;
    margin-bottom:5px;
}
