/***************************** GENERAL POPUP PANELS INPUTS ****************************/

.popup-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:200;
    overflow:hidden;
    background:rgba(0,0,0,0.75);
    display: none;
}

.popup-panel-full {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:white;
    display:none;
}

.popup-panel-floating {
    position:absolute;
    top:20px;
    left:20px;
    width:calc(100% - 40px);
    height:calc(100% - 40px);
    overflow:hidden;
    background:white;
    display:none;
}

.popup-panel-half-left {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    overflow:hidden;
    background:white;
    display:none;
}

.popup-panel-half-right {
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100%;
    overflow:hidden;
    background:white;
    display:none;
}

.popup-panel-full .top,
.popup-panel-floating .top,
.popup-panel-half-left .top,
.popup-panel-half-right .top {
    width:100%;
    height:80px;
    line-height:80px;
    background:white;
    padding-left:20px;
    padding-right:20px;
    box-sizing:border-box;
    color:black;
    border-bottom:1px solid #ddd;
    font-size:20px;
    font-family:effra_light;
    position:relative;
}

.popup-panel-full .bottom,
.popup-panel-floating .bottom,
.popup-panel-half-left .bottom,
.popup-panel-half-right .bottom {
    width:100%;
    height:calc(100% - 90px);
    box-sizing:border-box;
    position:relative;
}

.popup-panel-floating .left,
.popup-panel-full .left {
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
    box-sizing:border-box;
    border-right:1px solid #ccc;
}

.popup-panel-floating .right,
.popup-panel-full .right {
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    right:0;
    box-sizing:border-box;
}

.popup-panel-floating .filter-bar {
    position:relative;
    width:100%;
    height:40px;
    font-size:16px;
    font-family:effra_regular;
    color:black;
    box-sizing:border-box;
    background:white;
    border-bottom:1px solid #ddd;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.popup-panel-floating .filter-bar .filter-label{
    flex-grow:0;
    height:40px;
    line-height:40px;
    padding-left:20px;
    font-family:effra_medium;
    color:#666;
}

.popup-panel-floating .filter-bar .filter-dropdown{
    flex-grow:0;
    flex-shrink:0;
    flex-basis:150px;
    height:40px;
    border-right:1px solid #ddd;
    margin-left:10px;
}

.popup-panel-floating .filter-bar .filter-dropdown select{
    -webkit-appearance:none;
    font-size:14px;
    border-radius:0px;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/arrow_down_grey.png);
}


.popup-panel-floating .filter-bar .advanced-filter{
    flex-grow:0;
    flex-basis:500px;
    height:40px;
    display:flex;
    flex-direction:row;
    cursor:pointer;
}

.popup-panel-floating .filter-bar .advanced-filter-button{
    flex-grow:0;
    height:40px;
    line-height:40px;
    padding-left:20px;
    padding-right:0px;
    font-family:effra_medium;
    color:#666;
}

.popup-panel-floating .filter-bar .advanced-filter-settings{
    flex-grow:1;
    height:40px;
    line-height:40px;
    padding-left:10px;
    font-family:effra_regular;
    background-color:transparent;
    color:#666;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:14px;
}

.popup-panel-floating .filter-bar .advanced-filter-dd-button{
    flex-basis:40px;
    height:40px;
    line-height:40px;
    background-color:transparent;
    color:#aaa;
    text-align:center;
    font-size:14px;
}

/***************************** SHARE PROPERTY ****************************/

.share-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:100;
    overflow:hidden;
    background:rgba(0,0,0,0.75);
    display: none;
}


.share-panel {
    position:relative;
    width:350px;
    height:auto;
    border-radius:5px;
    background-color:white;
    overflow:hidden;
    padding:20px;
    box-sizing:border-box;
}

.share-panel .title {
    width:100%;
    box-sizing:border-box;
    height:80px;
    line-height:1.4;
    color:black;
    font-family:effra_medium;
    margin-bottom:10px;
    background-color:white;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.share-panel .options {


}

.share-panel .options .share-option {
    box-sizing:border-box;
    height:40px;
    width:100%;
    line-height:40px;
    padding:0px;
    overflow:hidden;
    font-size:14px;
    border-radius:3px;
    color:white;
    margin-bottom:10px;
    font-family:effra_medium;
    display:flex;
    flex-direction: row;
    cursor:pointer;

}

.share-panel .options .share-option:active {
  opacity:0.5;
}

.share-panel .options .share-option .icon {
    height:40px;
    width:40px;
    line-height:40px;
    padding:0px;
    overflow:hidden;
    text-align:center;
    font-size:16px;
    color:white;
    background-color:rgba(255,255,255,0.1);
    margin-right:20px;

}


/***************************** EDIT SIGN IN FORM ****************************/

#popup-edit-form .title-container{
     margin-left:0px;
     margin-top:10px;
     position: relative;
     height:60px;

   }

.settings-property-photo {
    width:60px;
    height:60px;
    border-radius: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    box-sizing: border-box;
    border:2px solid white;
    vertical-align: top;
    margin-top:5px;
}

.settings-property-details {
    width:400px;
    height:60px;
    box-sizing: border-box;
    padding-top:10px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height:1.4;
}

.questions-popup {
    position:absolute;
    top:0px;
    right:0px;
    z-index:100;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.5);
    display:none;
}

.questions-popup .container {
    position:absolute;
    top:20px;
    left:25%;
    width:50%;
    height:calc(100vh - 80px);
    background:white;
}

.questions-popup .container .scroll-section{
    height:calc(100% - 90px);
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    width:100%;
    overflow-x:hidden;
    box-sizing: border-box;
    padding-bottom:30px;
}


.choices-block {
    box-sizing:border-box;
    padding:20px;
    background-color:#eee;
    width:100%;
    min-height:40px;
    position:relative;
    margin-bottom:10px;
}


/***************************** VIEW VISITOR ****************************/


#popup-view-registrant .title-container{
     margin-left:0px;
     margin-top:10px;
     position: relative;
     height:60px;
   }

.user-pphoto, .visitor-pphoto {
    width:60px;
    height:60px;
    border-radius: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    box-sizing: border-box;
    border:2px solid white;
    vertical-align: top;
}

.visitor-details {
    width:400px;
    height:60px;
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height:1.4;
}
