
@media (min-width: 501px) {

  .report-main-container {
    width:850px;
    margin:0 auto;
    font-family:effra_light;
  }

  .report-logo-container {
    width:100%;
    height:80px;
    line-height:80px;
    border-bottom:1px solid #ddd;
    text-align: center;
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
  }

  .report-logo-container .mobile-logo {
    display:none;
  }

  .report-title-container {
    width:100%;
    height:120px;
    /*border-bottom:1px solid #ddd;*/
    text-align: left;
    position:relative;
    box-sizing: border-box;
    padding-top:20px;
    border-bottom:1px solid #ddd;
  }

  .report-title-container .reportType{
    font-size:40px;
  }

  .report-title-container .report-offices{
    font-size:18px;
  }

  .report-title-container .report-daterange{
    font-size:18px;
  }



  .report-daterange{
    position:absolute;
    top:70px;
    left:0px;
    text-align:right;
    height:20px;
    line-height:20px;
    color:#999;
  }

  .agent-profile-photo {
    width:80px;
    height:80px;
    position: absolute;
    top:20px;
    right:0px;
    overflow: hidden;
    border-radius: 50%;
  }

  .agent-information {
    position: absolute;
    top:20px;
    right:100px;
    width:300px;
    font-size:16px;
    overflow: hidden;
    text-align: right;
    color:#666;
  }

  .report-property-container {
    width:100%;
    height:120px;
    line-height:80px;
    /*border-bottom:1px solid #ddd;*/
    text-align: left;
    position:relative;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom:1px solid #ddd;
  }

  .property-info {
    display:inline-block;margin-left:20px;height:100px;
  }

  .property-image {
    height:100px;
    width:190px;
    display:inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:top;
  }

  .property-title {
    font-size:30px;
    height:30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .property-addr {
    font-size:16px;
    height:30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .data-panel {
      order:1;
      flex-grow: 1;
  }



  .data-panel-no-flex {
      order:1;
      width:200px;
  }

  .data-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
        border-bottom: 1px solid rgba(0,0,0,0.05);

      }

  .data-panel-no-flex  .data-row {
       box-sizing: border-box;
       padding:20px;
       padding-left:40px;
       text-align: left;
       color:white;
       width:100%;
       border-bottom: 1px solid rgba(255,255,255,0.1);
  }


  .data-row .left {
       order:1;
       width:200px;
       box-sizing: border-box;
       padding:20px;
       padding-left:20px;
       text-align: left;
       color:white;
       flex-grow: 0;     /* do not grow   - initial value: 0 */
       flex-shrink: 0;
       flex-basis:200px;
       color:black;
  }


   .data-row .right {
       order:2;
       flex-grow: 1;
       box-sizing: border-box;
       padding:0px;
       min-height:142px;
       position:relative;
     }

       .stat-category {
          height:30px;
          line-height: 30px;
          margin-bottom:5px;
          text-transform:uppercase;
          font-family:effra_medium;
          letter-spacing: 3px;
          font-size:16px;
          color:#2e2e2e;
      }

      .stat-subcategory {
           height:50px;
           line-height: 50px;
           width: 100%;
           text-transform:uppercase;
           font-family:effra_medium;
           letter-spacing: 3px;
           font-size:16px;
           color:#2e2e2e;
           box-sizing: border-box;
           padding-left:20px;
           border-bottom:1px solid #f2f2f2;
      }

   .stat-subcategory .toggle-button {
       height:20px;
       line-height: 20px;
       font-family: effra_medium;
       letter-spacing:2px;
       border-radius:3px;
       padding-left:10px;
       padding-right:10px;
       color:white;
       display: inline-block;
       position: relative;
       vertical-align: top;
       margin-right:20px;
       cursor:pointer;
       font-size:12px;
       top:15px;
       text-align:center;
       letter-spacing: 0px;
       float:right;


   }

      .stat-total {

       font-family:effra_regular;
       font-size:40px;
       margin-bottom: 5px;


   }

    .stat-desc {
       height:30px;
       font-size:14px;
       color: white;
       line-height: 30px;
       font-family:effra_light;
       width: 100%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color:black;
     }

     .stat-avg {
       height:30px;
       font-size:14px;
       color: white;
       line-height: 30px;
       font-family:effra_light;
       width: 100%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       position: relative;
       top:-10px;
     }

     .stat-row {
       width:100%;


     }

     .stat-footnote {
       width:100%;
       height:20px;
       line-height: 20px;
       font-size: 14px;
       color:#999;
     }


     .stat-number {
       display: inline-block;
       height:50px;
       font-size:30px;
       width:75px;
       text-align: left;
       line-height: 50px;
       vertical-align: top;
       color: black;
       margin-left:20px;
     }

     .stat-sub-container {
       display: inline-block;
       min-height: 60px;
       font-size:16px;
       width:calc(100% - 110px);
       text-align: left;
       vertical-align: top;
     }

      .stat-percentage-container {
       display: inline-block;
       min-height: 60px;
       font-size:30px;
       width:calc(100% - 110px);
       text-align: left;
       vertical-align: top;
     }

     .stat-percentage {
       width:40px;
       display: inline-block;
       color:white;
       font-size:16px;
       vertical-align: top;
     }

      .percentage-bar {
       width:calc(100% - 60px);
       display: inline-block;
       height:10px;
       vertical-align: top;
       position:relative;
       top:3px;
       margin-right:10px;
       overflow: hidden;
       position: relative;
     }

     .percentage-bar .percentage-fill {
       width:0;
       height:100%;
       -webkit-transition: all 0.5s ease-in; /* Safari */
       transition: all 0.5s ease-in;
       position:relative;

     }

      .stat-row {
          width:100%;

      }

      .title-column .property-thumbnail {
    		width:80px;
    		height:80px;
    		float:left;
    		margin-right: 10px;
    		background-repeat: no-repeat;
    		background-position: center;
    		background-size: cover;
    	}

      .title-column .property-title-row {
    		width: calc(100% - 90px);
    		height:30px;
    		line-height: 30px;
    		margin-top:10px;
    		overflow: hidden;
    		text-overflow: ellipsis;

    	}
    	.title-column .property-addr-row {
    		width: calc(100% - 90px);
    		height:20px;
    		line-height: 20px;
    		overflow: hidden;
    		text-overflow: ellipsis;
    		color:#666;
    	}

      .visitors-column {
    		width:100px;
    		overflow: hidden;
    		text-overflow: ellipsis;
    		box-sizing: border-box;
    		padding-right:10px;
    		flex-grow: 0;
    		flex-shrink:0;
    		flex-basis: 100px;
    	}

    	.productivity-column {
    		width:100px;
    		overflow: hidden;
    		text-overflow: ellipsis;
    		box-sizing: border-box;
    		padding-right:10px;
    		flex-grow: 0;
    		flex-shrink:0;
    		flex-basis: 100px;

    	}

      .title-column {
    		flex-grow: 1;
    		box-sizing: border-box;
    		padding-right:20px;
    		margin-right:20px;
    	}

      .oh-row {
    		height:80px;
    		line-height: 80px;
    		width: 100%;
    		box-sizing: border-box;
    		display: flex;
    		flex-direction: row;
    		justify-content: flex-start;
    		align-items: flex-start;
    		border-bottom:1px solid rgba(0,0,0,0.05);
    	}

      .oh-row-2 {
    		height:80px;
    		line-height: 80px;
    		width: 100%;
    		box-sizing: border-box;
    		display: flex;
    		flex-direction: row;
    		justify-content: flex-start;
    		align-items: flex-start;
    		border-bottom:1px solid rgba(0,0,0,0.05);
        padding-left:20px;
    	}

      .agent-information-mobile {
        display:none;
      }


}

@media (max-width: 500px) {
  body {
    margin:0px;
    padding:0px;
  }

  .report-main-container {
    width:100%;
    box-sizing: border-box;
    font-family:effra_light;
  }

  .report-logo-container {
    width:100%;
    height:auto;
    line-height:80px;
    border-bottom:1px solid #ddd;
    text-align: center;
    position:relative;
    padding-bottom:20px;
    padding-top:20px;

  }

  .report-logo-container .mobile-logo {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin:0 auto;
  }

  .report-logo-container .desktop-logo {
    display:none;
  }

  .report-title-container {
    width:100%;
    height:auto;
    /*border-bottom:1px solid #ddd;*/
    text-align: left;
    position:relative;
    box-sizing: border-box;
    padding:20px;
    padding-bottom:20px;
  }

  .report-title-container .reportType{
    display: block;
    height:auto;
    font-size:30px;
  }



  .report-title-container .report-daterange{
    font-size:16px;
  }

  .report-offices{

    text-align:;left;
    height:16px;
    line-height:16px;
    color:#999;
  }

  .report-daterange{

    text-align:left;
    height:16px;
    line-height:16px;
    color:#999;
  }

  .agent-profile-photo {
    width:80px;
    height:80px;
    margin:0 auto;
    margin-bottom:20px;
    overflow: hidden;
    border-radius: 50%;
    display:none;
  }

  .agent-information {

    width:100%;
    font-size:16px;
    color:#666;
    display:none;
  }

  .agent-information-mobile {
    width:100%;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
  }

  .agent-information-mobile .agent-information {
    display:block;
  }

  .agent-information-mobile .agent-profile-photo {
    display:block;
  }

  .report-property-container {
    width:100%;
    height:auto;
    /*border-bottom:1px solid #ddd;*/
    text-align: left;
    position:relative;
    box-sizing: border-box;
    border-top:1px solid #ddd;
  }

  .property-info {
    position: relative;
    z-index: 10;
    background: rgba(0,0,0,0.75);
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
  }

  .property-image {
    position: absolute;
    z-index:1;
    height:100%;
    width:100%;
    display:inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:top;
  }

  .property-title {
    font-size:20px;

    color:white;
    box-sizing: border-box;
    padding:0 20px;
    margin-bottom:5px;
    line-height: 1.1;
  }

  .property-addr {
    font-size:14px;
    height:20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
    box-sizing: border-box;
    padding:0 20px;
    white-space: nowrap;
  }

  .data-panel-no-flex  .data-row {
   box-sizing: border-box;
   padding:20px;
   padding-left:40px;
   text-align: left;
   color:white;
   width:100%;
   border-bottom: 1px solid rgba(255,255,255,0.1);
 }

  .data-panel  .data-row {
    display: block;
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    position:relative;
  }

  .data-panel .data-row .left {
    position:relative;
    z-index:100;
     width:100%;
     display:block;
     box-sizing: border-box;
     padding:20px;
     text-align: left;
     color:white;
		 color:black;
   }


   .data-panel  .data-row .right {
     position:relative;
     display:block;
       box-sizing: border-box;
       padding:0px;
       background-color: white;
     }

     .stat-category {
        height:30px;
        line-height: 30px;
        margin-bottom:5px;
        text-transform:uppercase;
        font-family:effra_medium;
        letter-spacing: 3px;
        font-size:16px;
        color:#2e2e2e;
    }

    .stat-subcategory {
         height:50px;
         line-height: 50px;
         width: 100%;
         text-transform:uppercase;
         font-family:effra_medium;
         letter-spacing: 3px;
         font-size:16px;
         color:#2e2e2e;
         box-sizing: border-box;
         padding-left:20px;
         border-bottom:1px solid #f2f2f2;
    }

 .stat-subcategory .toggle-button {
     height:20px;
     line-height: 20px;
     font-family: effra_medium;
     letter-spacing:2px;
     border-radius:3px;
     padding-left:10px;
     padding-right:10px;
     color:white;
     display: inline-block;
     position: relative;
     vertical-align: top;
     margin-right:20px;
     cursor:pointer;
     font-size:12px;
     top:15px;
     text-align:center;
     letter-spacing: 0px;
     float:right;


 }

    .stat-total {

     font-family:effra_regular;
     font-size:40px;
     margin-bottom: 5px;


 }

  .stat-desc {
     height:30px;
     font-size:14px;
     color: white;
     line-height: 30px;
     font-family:effra_light;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     color:black;
   }

   .stat-avg {
     height:30px;
     font-size:14px;
     color: white;
     line-height: 30px;
     font-family:effra_light;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     position: relative;
     top:-10px;
   }

   .stat-row {
     width:100%;


   }

   .stat-footnote {
     width:100%;
     height:20px;
     line-height: 20px;
     font-size: 14px;
     color:#999;
   }


   .stat-number {
     display: inline-block;
     height:50px;
     font-size:30px;
     width:75px;
     text-align: left;
     line-height: 50px;
     vertical-align: top;
     color: black;
     margin-left:20px;
   }

   .stat-sub-container {
     display: inline-block;
     min-height: 60px;
     font-size:16px;
     width:calc(100% - 110px);
     text-align: left;
     vertical-align: top;
   }

    .stat-percentage-container {
     display: inline-block;
     min-height: 60px;
     font-size:30px;
     width:calc(100% - 110px);
     text-align: left;
     vertical-align: top;
   }

   .stat-percentage {
     width:40px;
     display: inline-block;
     color:white;
     font-size:16px;
     vertical-align: top;
   }

    .percentage-bar {
     width:calc(100% - 60px);
     display: inline-block;
     height:10px;
     vertical-align: top;
     position:relative;
     top:3px;
     margin-right:10px;
     overflow: hidden;
     position: relative;
   }

   .percentage-bar .percentage-fill {
     width:0;
     height:100%;
     -webkit-transition: all 0.5s ease-in; /* Safari */
     transition: all 0.5s ease-in;
     position:relative;

   }

    .stat-row {
        width:100%;

    }

  .title-column {
		flex-grow: 1;
		box-sizing: border-box;
		margin-right:20px;
	}

  .title-column .property-thumbnail {
		width:80px;
		height:80px;
		float:left;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
    display:none;
	}

  .title-column .property-title-row {
		width: 100%;
		height:30px;
		line-height: 30px;
		margin-top:10px;
		overflow: hidden;
		text-overflow: ellipsis;
    box-sizing: border-box;
    padding-left:20px;

	}
	.title-column .property-addr-row {
		width: 100%;
		height:20px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		color:#666;
    box-sizing: border-box;
    padding-left:20px;
	}

  .visitors-column {
		width:75px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		padding-right:10px;
		flex-grow: 0;
		flex-shrink:0;
		flex-basis: 75px;
	}

	.productivity-column {
		width:100px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		padding-right:10px;
		flex-grow: 0;
		flex-shrink:0;
		flex-basis: 100px;
    display:none;

	}

  .oh-row, .oh-row-2 {
		height:80px;
		line-height: 80px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom:1px solid rgba(0,0,0,0.05);
	}



}


.content-panel {
  background:white;
}

.report-info-container {
  width:100%;
  height:40px;
  line-height:40px;
  border-bottom:1px solid #eee;
  text-align: left;
  color:#666;
}




.content-panel .panel {
position: relative;
top:0px;
left:0px;
height:auto;
}
.content-panel .panel .panel-scroll-container {
  position: relative;
  top:0px;
  left:0px;
  height:auto;
}


/***************************** REPORTING ****************************/



.reporting-filter-bar {
	height:50px;
	width:100%;
	border-bottom:1px solid #ddd;
	position:absolute;
	top:80px;
	left:0px;
	box-sizing: border-box;
	padding-left:20px;
}

.reporting-sub-container-scroll {
	width:100%;
	box-sizing:border-box;
  position:relative;
}

.data-panel {
     order:1;
     flex-grow: 1;
     position:relative;
     z-index:20;

   }

.data-panel-no-flex {
     order:1;
     width:200px;
   }



	.stat-row {
		width:100%;
    position:relative;
    z-index:100;

	}





	.oh-headers {
		height:40px;
		line-height: 40px;
		width: 100%;
		box-sizing: border-box;
		padding-left:20px;
		padding-right:20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom:1px solid rgba(0,0,0,0.1);
		border-top:1px solid rgba(0,0,0,0.1);
		font-size:16px;
	}


	.oh-row .column {

	}

	.ranking-column {
		width:40px;
		text-align:left;
		margin-left:20px;
	}




	.title-column .property-thumbnail .property-ranking{
		width:100%;
		height:100%;
		text-align: center;
		line-height: 80px;
		font-size:24px;
		color:white;
		background:rgba(0,0,0,0.3);
	}



	.addr-column {
		width:180px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		padding-right:20px;
	}



	.delete-column {
		width:80px;
		line-height: 80px;
		box-sizing: border-box;
		flex-grow: 0;
		flex-shrink:0;
		flex-basis: 80px;
		cursor: pointer;
    display:none;

	}

	.reporting-filter-bar .filter-box {
	     width:200px;
	     height:30px;
	     line-height: 30px;
	     box-sizing: border-box;
	     border:1px solid black;
	     overflow:hidden;
	     display: inline-block;
	   }

	.reporting-filter-bar .filter-flex {
	     width:100%;
	     height:100%;
	     display: flex;
	     flex-wrap: nowrap;
	     flex-direction: row;
	     justify-content: flex-start;
	     align-items: flex-start;
	   }



	   .reporting-filter-bar .filter-box .filter-flex .label {
	     order:1;
	     margin-left:10px;
	     height:30px;
	     line-height: 30px;
	     text-align: right;
	     color:black;
	     font-family: effra_light;
	     letter-spacing: normal;
			 flex-grow: 0;
			 flex-shrink: 0;
			 flex-basis: 90px;
	   }



	   .reporting-filter-bar .filter-box .filter-flex .select {
	     order:2;
	     flex-grow: 1;
	     height:30px;
			 padding:0px;
 				margin:0px;
	     margin-left:10px;
	     line-height: 30px;
	     -webkit-appearance:none;
	     border:none;
	     background-color:transparent;
	     color:black;
	     font-family: effra_light;
	     font-size:16px;
	     background-image: url(../img/arrow_down.png);
	    background-repeat:no-repeat;
	    background-position:center right;
	    background-size:30px 30px;
	    box-sizing: border-box;
			flex-basis: 100px;
	    padding-right:35px;
			overflow: hidden;
			text-overflow: ellipsis;
			width:200px;
	   }

		 .reporting-filter-bar .filter-box .filter-flex select {

	   }



	   .reporting-filter-bar .filter-box .filter-flex .input {
	     order:2;
	     flex-grow: 1;
	     height:30px;
	     margin-left:0px;
	     line-height: 30px;
	     -webkit-appearance:none;
	     border:none;
	     background:transparent;
	     color:white;
	     font-family: effra_light;
	     font-size:14px;
	   }

     .oh-rankings {

     }


.background-print-color {
position:absolute;top:0;left:0;z-index:1;
width:100%;
height:100%;
}
