

/***************************** REPORTING ****************************/


.data-panel {
    order:1;
    flex-grow: 1;
}

.data-panel-no-flex {
    order:1;
    width:200px;
}

.data-panel-no-flex  .data-row {
     box-sizing: border-box;
     padding:20px;
     padding-left:40px;
     text-align: left;
     color:white;
     width:100%;
     border-bottom: 1px solid rgba(255,255,255,0.1);
}

.data-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width:100%;
      border-bottom: 1px solid rgba(0,0,0,0.05);
           background-color:#f2f2f2;

    }


.data-row .left {
     order:1;
     width:200px;
     box-sizing: border-box;
     padding:20px;
     padding-left:20px;
     text-align: left;
     color:white;
     flex-grow: 0;     /* do not grow   - initial value: 0 */
     flex-shrink: 0;
     flex-basis:200px;
     color:black;
}


 .data-row .right {
     order:2;
     flex-grow: 1;
     box-sizing: border-box;
     padding:0px;
     min-height:142px;
     background-color: white;
   }

     .stat-category {
        height:30px;
        line-height: 30px;
        margin-bottom:5px;
        text-transform:uppercase;
        font-family:effra_medium;
        letter-spacing: 3px;
        font-size:16px;
        color:#2e2e2e;
    }

    .stat-subcategory {
         height:50px;
         line-height: 50px;
         width: 100%;
         text-transform:uppercase;
         font-family:effra_medium;
         letter-spacing: 3px;
         font-size:16px;
         color:#2e2e2e;
         box-sizing: border-box;
         padding-left:20px;
         border-bottom:1px solid #f2f2f2;
    }

 .stat-subcategory .toggle-button {
     height:20px;
     line-height: 20px;
     font-family: effra_medium;
     letter-spacing:2px;
     border-radius:3px;
     padding-left:10px;
     padding-right:10px;
     background:#666;
     color:white;
     display: inline-block;
     position: relative;
     vertical-align: top;
     margin-right:20px;
     cursor:pointer;
     font-size:12px;
     top:15px;
     text-align:center;
     letter-spacing: 0px;
     float:right;
     

 }

    .stat-total {

     font-family:effra_regular;
     font-size:40px;
     margin-bottom: 5px;


 }

  .stat-desc {
     height:30px;
     font-size:14px;
     color: white;
     line-height: 30px;
     font-family:effra_light;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
   }

   .stat-avg {
     height:30px;
     font-size:14px;
     color: white;
     line-height: 30px;
     font-family:effra_light;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     position: relative;
     top:-10px;
   }

   .stat-row {
     width:100%;


   }

   .stat-footnote {
     width:100%;
     height:20px;
     line-height: 20px;
     font-size: 14px;
     color:#999;
   }


   .stat-number {
     display: inline-block;
     height:50px;
     font-size:30px;
     width:75px;
     text-align: left;
     line-height: 50px;
     vertical-align: top;
     color: white;
     margin-left:20px;
   }

   .stat-sub-container {
     display: inline-block;
     min-height: 60px;
     font-size:16px;
     width:calc(100% - 110px);
     text-align: left;
     vertical-align: top;
   }

    .stat-percentage-container {
     display: inline-block;
     min-height: 60px;
     font-size:30px;
     width:calc(100% - 110px);
     text-align: left;
     vertical-align: top;
   }

   .stat-percentage {
     width:40px;
     display: inline-block;
     color:white;
     font-size:16px;
     vertical-align: top;
   }

    .percentage-bar {
     width:calc(100% - 60px);
     display: inline-block;
     height:10px;
     background-color: #f2f2f2;
     vertical-align: top;
     position:relative;
     top:3px;
     margin-right:10px;
         overflow: hidden;
   }

   .percentage-bar .percentage-fill {
     width:0;
     height:100%;
     background-color:orange;
     -webkit-transition: all 0.5s ease-in; /* Safari */
     transition: all 0.5s ease-in;

   }

    .stat-row {
        width:100%;

    }



    .cards {
        width:100%;
        height:260px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        padding:20px;
        padding-top:0px;
        border-top:1px solid rgba(0,0,0,0.05);
        border-bottom:1px solid rgba(0,0,0,0.05);
    }

    .card {
        padding-top:20px;
        width:180px;
        height:100%;
        text-align: center;
        margin-right:20px;
    }


    .donut-chart {
        position:relative;
        box-sizing: border-box;
        width:140px;
        height:140px;
        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0.1);
        overflow: hidden;
        margin:0 auto;

    }

    .donut-chart .inner {
        position:absolute;
        top:0px;
        left:0px;
        width:calc(100%);
        height:calc(100%);
        border-radius: 50%;

    }

    .donut-chart .slice-top {
        position:absolute;
        top:4px;
        left:4px;
        width:calc(100% - 8px);
        height:calc(100% - 8px);
        border-radius: 50%;
        background:white;
        z-index:10;
        clip: rect(0, 132px, 66px, 0);
        transform: rotate(0);
        transition: all 0.5s ease;
    }

    .donut-chart .cover-top {
        position:absolute;
        top:2px;
        left:2px;
        width:calc(100% - 4px);
        height:calc(100% - 4px);
        border-radius: 50%;
        background:white;
        z-index:15;
        clip: rect(68px, 136px, 136px, 0);
        transform: rotate(0);
        transition: all 0.5s ease;
    }

    .donut-chart .slice-bottom {
        position:absolute;
        top:4px;
        left:4px;
        width:calc(100% - 8px);
        height:calc(100% - 8px);
        border-radius: 50%;
        background:white;
        z-index:20;
        clip: rect(62px, 132px, 132px, 0);
        transform: rotate(0);
        transition: all 0.5s ease;
    }

    .donut-chart .cover-bottom {
        position:absolute;
        top:2px;
        left:2px;
        width:calc(100% - 4px);
        height:calc(100% - 4px);
        border-radius: 50%;
        background:white;
        z-index:20;
        clip: rect(68px, 136px, 136px, 0);
        transform: rotate(0);
        transition: all 0.5s ease;
    }

    .donut-chart .center {
        position:absolute;
        top:10px;
        left:10px;
        width:calc(100% - 20px);
        height:calc(100% - 20px);
        border-radius: 50%;
        background:white;
        z-index:30;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donut-chart .center .stat-percentage {
        font-size:24px;
        color:#999;
    }

    .donut-chart .center .percentage-symbol {
        font-size:16px;
    }

    .oh-headers {
        height:40px;
        line-height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding-left:20px;
        padding-right:20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom:1px solid rgba(0,0,0,0.1);
        border-top:1px solid rgba(0,0,0,0.1);
        font-size:16px;
    }

    .oh-row {
        height:80px;
        line-height: 80px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom:1px solid rgba(0,0,0,0.05);
    }

    .oh-row-2 {
        height:80px;
        line-height: 80px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom:1px solid rgba(0,0,0,0.05);
        padding-left:20px;
    }

    .oh-row .column {

    }

    .ranking-column {
        width:40px;
        text-align:left;
        margin-left:20px;
    }

    .title-column {
        flex-grow: 1;

        box-sizing: border-box;
        padding-right:20px;
        margin-right:20px;
    }

    .title-column .property-thumbnail {
        width:80px;
        height:80px;
        float:left;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title-column .property-thumbnail .property-ranking{
        width:100%;
        height:100%;
        text-align: center;
        line-height: 80px;
        font-size:24px;
        color:white;
        background:rgba(0,0,0,0.3);
    }

    .title-column .property-title-row {
        width: calc(100% - 90px);
        height:30px;
        line-height: 30px;
        margin-top:10px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .title-column .property-addr-row {
        width: calc(100% - 90px);
        height:20px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        color:#666;
    }

    .addr-column {
        width:180px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        padding-right:20px;
    }

    .visitors-column {
        width:100px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        padding-right:10px;
        flex-grow: 0;
        flex-shrink:0;
        flex-basis: 100px;
    }

    .productivity-column {
        width:100px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        padding-right:10px;
        flex-grow: 0;
        flex-shrink:0;
        flex-basis: 100px;

    }

    .delete-column {
        width:80px;
        line-height: 80px;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink:0;
        flex-basis: 80px;
        cursor: pointer;

    }

    .reporting-filter-bar .filter-box {
         width:200px;
         height:30px;
         line-height: 30px;
         box-sizing: border-box;
         border:1px solid black;
         overflow:hidden;
         display: inline-block;
         vertical-align:top;
       }

    .reporting-filter-bar .filter-flex {
         width:100%;
         height:100%;
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
            overflow:visible;
       }



       .reporting-filter-bar .filter-box .filter-flex .label {
         order:1;
         margin-left:10px;
         height:30px;
         line-height: 30px;
         text-align: right;
         color:black;
         font-family: effra_light;
         letter-spacing: normal;
             flex-grow: 0;
             flex-shrink: 0;
             flex-basis: 90px;
       }



       .reporting-filter-bar .filter-box .filter-flex .select {
         order:2;
         flex-grow: 1;
         height:30px;
             padding:0px;
                 margin:0px;
         margin-left:10px;
         line-height: 30px;
         -webkit-appearance:none;
         border:none;
         background-color:transparent;
         color:black;
         font-family: effra_light;
         font-size:16px;
         background-image: url(../img/arrow_down.png);
        background-repeat:no-repeat;
        background-position:center right;
        background-size:30px 30px;
        box-sizing: border-box;
            flex-basis: 100px;
        padding-right:35px;
            overflow: hidden;
            text-overflow: ellipsis;
            width:200px;
       }

         .reporting-filter-bar .filter-box .filter-flex select {

       }



       .reporting-filter-bar .filter-box .filter-flex .input {
         order:2;
         flex-grow: 1;
         height:30px;
         margin-left:0px;
         line-height: 30px;
         -webkit-appearance:none;
         border:none;
         background:transparent;
         color:white;
         font-family: effra_light;
         font-size:14px;
       }

         .more-bar {
             height:44px;
             line-height: 44px;
             background:#666;
             width:100%;
             text-align: center;
             color:white;
             cursor: pointer;
         }

