
/* Reset default browser CSS.
-------------------------------------------------------------- */


.main-color-font {
	color:#00295d!important;
}

.main-color-background {
	background-color:#00295d!important;
}

.main-color-background-lite-1 {
	background-color:rgba(0,41,96,0.75)!important;
}

.main-color-background-lite-2 {
	background-color:rgba(0,41,96,0.85)!important;
}

.main-color-background-lite-3 {
	background-color:#053780!important;
}

.main-color-border {
	border-color:#00295d!important;
}

.account-tab.selected {
	float:left;
	height:40px;
	background:white;
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
	color:#00295d!important;;
	width:200px;
}



/***************************** ON/OFF SWITCH ****************************/


.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #00295d!important;
	color: #FFFFFF;
	text-align: left;
}
