
/* Reset default browser CSS.
-------------------------------------------------------------- */


.main-color-font {
	color:#E22232!important;
}

.main-color-background {
	background-color:#E22232!important;
}

.main-color-background-lite-1 {
	background-color:rgba(226,34,50,0.75)!important;
}

.main-color-background-lite-2 {
	background-color:rgba(226,34,50,0.85)!important;
}

.main-color-background-lite-3 {
	background-color:#FC2235!important;
}

.main-color-border {
	border-color:#E22232!important;
}

.account-tab.selected {
	float:left;
	height:40px;
	background:white;
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
	color:#E22232!important;;
	width:200px;
}


/***************************** ON/OFF SWITCH ****************************/


.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #E22232!important;
	color: #FFFFFF;
	text-align: left;
}
