/***************************** GENERAL TABLE ELEMENTS ****************************/

.table {
    width:100%;
    height:100%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    position: relative;
}

.table .filter-bar {
    flex-basis:44px;
    flex-grow:0;
    flex-shrink:0;
    width:100%;
    background-color:#eee;
    display:flex;
    flex-direction:row;
    position:relative;
    z-index:100;
}

.table .filter-bar .filter-label{
    flex-basis:75px;
    flex-grow:0;
    flex-shrink:0;
    height:100%;
    line-height:44px;
    box-sizing:border-box;
    padding-left:20px;

}

.table .filter-bar .filter-dropdown{
    flex-basis:150px;
    flex-grow:0;
    flex-shrink:0;
    padding:0;
}

.table .headers-bar {
    flex-basis:44px;
    flex-grow:0;
    flex-shrink:0;
    line-height:44px;
    width:100%;
    border-bottom:1px solid #ddd;
    font-family: effra_medium;
    display:flex;
    flex-direction:row;
    font-size:14px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.table .column,
.table .header {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height:100%;
    flex-grow:0;
    flex-shrink:0;
    font-size:14px;
}

.table .table-content {
    flex-grow:1;
    width:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    padding-bottom:100px;
}

.table .row {
    display:flex;
    flex-direction:row;
    width:100%;
    height:44px;
    line-height:44px;
    border-bottom:1px solid #eee;
    box-sizing:border-box;
    cursor:pointer;
}

 .header .sort-box {
    display: inline-block;
    height:40px;
    width:40px;
    vertical-align: top;
    position: relative;
    opacity: 0.25;
}

    .header.sorted .sort-box{
         opacity: 1;
     }

     .sort-box .asc-icon, .sort-box .desc-icon {
         width:20px;
         height:20px;
         color:black;
         position: absolute;
         top:12px;
         left:10px;
         border-radius:5px;
         font-size:12px;
         line-height: 20px;
         text-align: center;
         display: none;
     }

     .sort-box.asc .asc-icon {
         display:block;
     }

     .sort-box.desc .desc-icon {
         display:block;
     }


/***************************** BROADCAST TO VISITORS TABLE ELEMENTS ****************************/


.checkbox-column, .checkbox-header {
    flex-basis:44px;
    text-align:center;
}

.name-column, .name-header {
    flex-basis:120px;
}

.email-column, .email-header {
    flex-basis:200px;
    flex-grow:1!important;
}

.dateCreated-column, .dateCreated-header, .date-column {
    flex-grow:1;
    flex-basis:100px;
}

.hasagent-column, .hasagent-header {
    flex-basis:80px;
}


.hasclient-column, .hasclient-header {
    flex-basis:75px;
}

.selection-tools {
  position:absolute;z-index:15;bottom:0;left:0;width:100%;height:40px;line-height:40px;
  background: white;
  border-top:1px solid #eee;
}

.selection-btn {
  height:20px;
  padding:0 10px;
  margin-left:10px;
  line-height:18px;
  text-align:center;
  border-radius:3px;
  color:#666;
  border:1px solid #666;
  background-color:transparent;
  box-sizing:border-box;
  font-size:12px;
  letter-spacing:2px;
  font-family:effra_medium;
  margin-top:10px;
  cursor:pointer;
  display: inline-block;
}

/***************************** MY LEADS / VIEW VISITORS TABLE ELEMENTS ****************************/


#leads-panel .unsynched,#popup-view-visitors .unsynched {
    background-image:url(../img/icon_alert_grey.png);
    background-repeat:no-repeat;
    background-position:right center;
    background-size:contain;
}

#leads-panel .photo-column, #leads-panel .photo-header,
#popup-view-visitors .photo-column, #popup-view-visitors .photo-header {
    flex-basis:60px;
    margin-left:10px;
    margin-right:10px;
}

#leads-panel .photo-column .lead-photo,
#popup-view-visitors .photo-column .lead-photo {
    width:50px;
    height:50px;
    border-radius:50px;
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    margin-top:5px;
}

#leads-panel .name-column, #leads-panel .name-header,
#popup-view-visitors .name-column, #popup-view-visitors .name-header {
    flex-basis:220px;
}

#leads-panel .email-column, #leads-panel .email-header,
#popup-view-visitors .email-column, #popup-view-visitors .email-header {
    flex-basis:75px;
    flex-grow:1;
}

#leads-panel .hasagent-column, #leads-panel .hasagent-header,
#popup-view-visitors .hasagent-column, #popup-view-visitors .hasagent-header {
    flex-basis:100px;
}

#leads-panel .hasclient-column, #leads-panel .hasclient-header,
#popup-view-visitors .hasclient-column, #popup-view-visitors .hasclient-header  {
    flex-basis:100px;
}

#leads-panel .hasagent-column, #popup-view-visitors .hasagent-column {
    text-transform:capitalize;
}

#leads-panel .verified-column, #leads-panel .verified-header,
#popup-view-visitors .verified-column, #popup-view-visitors .verified-header  {
    flex-basis:100px;
}

#leads-panel .date-column,#leads-panel .dateCreated-column, #leads-panel .dateCreated-header,
#popup-view-visitors .date-column, #popup-view-visitors .dateCreated-column, #popup-view-visitors .dateCreated-header {
    flex-basis:100px;
    flex-grow:0;
}

#leads-panel .table .row,
#popup-view-visitors .table .row {
    display:flex;
    flex-direction:row;
    width:100%;
    height:60px;
    line-height:60px;
    border-top:1px solid #eee;
    border-bottom:none;
    box-sizing:border-box;
    cursor:pointer;
    background-color:white;
}

#leads-panel .table .sub-row {

    width:100%;
    height:24px;
    line-height:24px;
    box-sizing:border-box;
    background-color:rgba(255,255,255,0.8);

}

#leads-panel .table .sub-row .lead-registered-at{
    width:190px;
    height:inherit;
    line-height:inherit;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-left:80px;
    font-size:12px;
    color:#333;
}
