
/* Reset default browser CSS. 
-------------------------------------------------------------- */

* {
	border:0;
	margin:0;
	padding:0;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:transparent;
}


body {
	line-height:1.1;
	width:100%;
	font-family:proxima_nova_regular;
}

a {
	text-decoration:none;
}

a img{
	border:none;
	outline:none;	
}


/***************************** OVERLAY ****************************/

.full-overlay {
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
}

.alert-overlay {
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:99999;
	display:none;
}

/***************************** MAIN CONTAINER ****************************/
.main-container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	overflow:hidden;
	display:none;
}

.background-image {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	overflow:hidden;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);	
}

.left-menu-bar {
	width:200px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgb(106,98,90);	
}

.top-menu-bar {
	width:200px;
	height:40px;
	position:absolute;
	top:0;
	left:200px;
	background:white;
	line-height:40px;
	font-family:proxima_nova_light;
}

#profile-box {
	width:100%;
	height:120px;
}

#profile-picture {
	width:60px;
	height:60px;
	position:absolute;
	top:30px;
	left:20px;
	border-radius:30px;
	border:2px solid #837C76;
	overflow:hidden;
}

#profile-picture-edit {
	margin-left:auto;
	margin-right:auto;
	width:100px;
	height:100px;
	border-radius:50px;
	border:2px solid #837C76;
	overflow:hidden;
}

#profile-picture-edit-button {
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:30px;
	color:white;
	line-height:30px;
	text-align:center;
	background-color:rgb(239,164,79);
	cursor:pointer;
}

#profile-name {
	width:100px;
	height:20px;
	color:white;
	font-size:14px;
	position:absolute;
	white-space:nowrap;
	text-overflow:ellipsis;
	top:45px;
	left:100px;
}

#profile-view {
	width:100px;
	height:20px;
	color:#ddd;
	font-size:12px;
	position:absolute;
	cursor:pointer;
	
	top:65px;
	left:100px;
}

.menu-item {
	position:relative;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:white;
	box-sizing:border-box;
	padding-left:20px;
	font-family:proxima_nova_light;
	cursor:pointer;
}

.menu-item.selected {
	opacity:1;
	background:rgb(232,126,4);	
}

.menu-item.not-selected {
	opacity:0.75;
	background:transparent;	
}
.menu-item-sidebar{
	position:absolute;
	top:0;
	left:0;
	width:5px;
	height:inherit;
}

.menu-item.selected .menu-item-sidebar {
	background:rgb(239,164,79);	
}

.menu-item.not-selected. menu-item-sidebar {
	background:transparent;	
}

/***************************** LOGIN PANEL ****************************/

.login-panel {
	z-index:100;	
	background:rgb(247,247,247);
	display:none;
}

.login-box {
	text-align:center;
	font-size:14px;
	height:350px;
	width:350px;
	background:white;
	margin-left:auto;
	margin-right:auto;
	color:rgb(182,178,174);
}

#loginManager_Form input[type="text"],#loginManager_Form input[type="email"],#loginManager_Form input[type="password"] {
	-webkit-appearance: none;
	width:280px;
	border:1px solid #ddd;
	border-radius:0px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

#loginManager_Form input[type="submit"] {
	-webkit-appearance: none;
	width:300px;
	height:30px;
	color:white;
	background:rgb(232,126,4);
}
/***************************** SUB CONTAINER ****************************/

.sub-container {
	display:none;
	position:absolute;
	top:40px;
	left:200px;
	width:200px;
	height:200px;	
}

.sub-container-title-bar {
	position:absolute;
	top:0px;
	left:0px;
	width:inherit;
	height:80px;
	background:rgb(247,247,247);
	font-size:20px;
	font-family:proxima_nova_bold;
	color:rgb(106,98,90);
	box-sizing:border-box;
	padding-left:20px;
	padding-right:10px;
	line-height:80px;
}

.sub-container-scroll {
	position:absolute;
	top:80px;
	left:0px;
	width:inherit;
	height:80px;
	overflow:auto;
}

.registrant-row {
	padding:20px;
	box-sizing:border-box;
	width:inherit;
	height:110px;
	color: rgb(106,98,90);	
	line-height:18px;
	font-size:14px;
}

.registrant-info {
	float:left;	
}

.registrant-info-label {
	width:75px;
	display:inline-block;	
	color:#999999;
}

.registrant-spacio-user {
	float:right;
	width:100px;	
	font-size:12px;
	color:#999999;
}

.profile-row {
	padding:20px;
	box-sizing:border-box;
	width:inherit;
	height:90px;
	color: rgb(106,98,90);	
	line-height:24px;
}

.beacon-item, .property-item {
	width:inherit;
	height:90px;
	position:relative;
	
}

.beacon-title {
	font-size:16px;
	text-overflow: ellipsis;
	overflow:hidden;
	width:220px;	
	margin-bottom:3px;
}

.property-title {
	font-size:16px;
	text-overflow: ellipsis;
	overflow:hidden;
	width:320px;	
	margin-bottom:3px;
}

.beacon-info {
	float:left;
	margin-top:20px;
	margin-left:20px;
	height:50px;
	width:200px;
	padding-right:15px;
	font-size:14px;
	color:rgb(106,98,90);
	border-right:1px solid rgb(230,230,230);
	overflow:hidden;
}

.property-info {
	float:left;
	margin-top:20px;
	margin-left:20px;
	height:50px;
	width:400px;
	padding-right:15px;
	font-size:14px;
	color:rgb(106,98,90);
	border-right:1px solid rgb(230,230,230);
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
	cursor:pointer;
}

.property-image {
	width:50px;
	height:50px;
	float:left;
	overflow:hidden;
	margin-right:10px;	
	position:relative;
}

.preview-icon {
	background-image:url(../img/icon_preview.png);
	background-size:cover;
	width:15px;
	height:15px;
	position:absolute;
	top:0px;
	left:0px;	
}

.item-button-orange-edit {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	position:absolute;
	top:0px;
	margin-top:30px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
	right:80px;
}

.item-button-orange-delete {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	position:absolute;
	top:0px;
	margin-top:30px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
	right:10px;
}

.item-button-orange {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	float:right;
	margin-top:30px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
}

.manage-container {
	position:absolute;
	height:30px;
	width:90px;
	top:30px;
	right:145px;		
}

.details-container {
	position:absolute;
	height:30px;
	width:90px;
	top:30px;
	right:110px;		
}

.item-button-manage {
	height:30px;
	line-height:28px;
	width:90px;
	padding-left:10px;
	padding-right:10px;
	background:transparent;
	float:right;
	color:#666;
	font-family:proxima_nova_light;
	cursor:pointer;
	box-sizing:border-box;
	border:2px solid #666;
}

.item-button-details {
	height:30px;
	line-height:28px;
	width:90px;
	padding-left:10px;
	padding-right:10px;
	background:transparent;
	float:right;
	color:rgb(182,178,174);
	font-family:proxima_nova_light;
	cursor:pointer;
	box-sizing:border-box;
	border:2px solid rgb(182,178,174);
}

.more-menu {
	display:none;
	position:absolute;
	z-index:999;	
	width:200px;
	background:white;
	top:35px;
	right:0px;
	min-height:120px;
	box-shadow:0px 0px 5px #CCC;
	
}

.more-menu-item {
	width:190px;
	text-align:left;
	padding-left:10px;
	height:40px;
	line-height:40px;
	color:#666;
	cursor:pointer;
}

.manage-container:hover {
	height:70px;	
}

.manage-container:hover .more-menu {
	display:block;	
}

.details-container:hover {
	height:70px;	
}

.details-container:hover .more-menu {
	display:block;	
}

.item-button-grey {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(182,178,174);
	float:right;
	margin-top:30px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
}

.even {
	background:white;
}

.odd {
	background:rgb(247,247,247);
}

/***************************** POP UP PANEL ****************************/

.popup-panel {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	display:none;
	background:rgba(0,0,0,0.75);	
}

.popup-box {
	display:none;
	position:relative;
	width:610px;
	height:500px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	background:white;
	background:rgb(247,247,247);
}

.popup-box-title {
	height:60px;
	width:inherit;	
	background:white;
	line-height:60px;
	padding-left:20px;
	box-sizing:border-box;
	color:rgb(106,98,90);
	font-size:20px;
	
}

.popup-box-subtitle {
	height:40px;
	width:inherit;	
	line-height:16px;
	padding:14px 20px;
	box-sizing:border-box;
	font-size:16px;
	background:#eee;
	color:black;
	
}

.popup-box-content {
	height:40px;
	width:inherit;	
	position:absolute;
	left:0;
	top:60px;
	overflow:auto;
}




.title-button-orange {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	float:right;
	margin-top:15px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
	font-size:14px;
}

.title-button-grey {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(182,178,174);
	float:right;
	margin-top:15px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	cursor:pointer;
	font-size:14px;
}

#editProfilePicture_Form input[type="url"],
#changePassword_Form input[type="password"],
#editProfile_Form input[type="text"],#editProfile_Form input[type="email"],#editProfile_Form input[type="tel"],
#addProperty_Form input[type="text"],#addProperty_Form input[type="email"],#addProperty_Form input[type="number"],#addProperty_Form input[type="url"],
#editProperty_Form input[type="text"],#editProperty_Form input[type="email"],#editProperty_Form input[type="number"],#editProperty_Form input[type="url"],
#editBeacon_Form input[type="text"],#editBeacon_Form input[type="email"],#editBeacon_Form input[type="number"] {
	width:470px;
	border:1px solid #ddd;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	margin-left:10px;
	
}

#propertyRegSpacio_Form input[type="text"],#propertyRegSpacio_Form input[type="email"],#propertyRegSpacio_Form input[type="number"],
#propertyRegSpacio_Form input[type="tel"],
#propertyReg_Form input[type="text"],#propertyReg_Form input[type="email"],#propertyReg_Form input[type="number"],
#propertyReg_Form input[type="tel"] {
	width:300px;
	border:1px solid #ddd;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:20px;
	margin-left:10px;
	font-size:14px;
	color:black;
	
}

#broadcastMessage_Form textarea,
#addProperty_Form textarea,
#editProperty_Form textarea {
	width:470px;
	border:1px solid #ddd;
	height:100px;
	margin-bottom:10px;
	margin-left:10px;
	padding:10px;
	box-sizing:border-box;
}

#changePassword_Form .label,
#propertyRegSpacio_Form .label,
#propertyReg_Form .label {
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	margin-left:20px;
	text-align:left;
	color:rgb(106,98,90);
	padding:0;
	padding-left:5px;
	font-size:14px;
	border-radius:0px;
	font-family:proxima_nova_bold;
	vertical-align:top;
}

#editProfilePicture_Form .label,
#broadcastMessage_Form .label,
#editProfile_Form .label,
#addProperty_Form .label,
#editProperty_Form .label,
#editBeacon_Form .label {
	display:inline-block;
	width:75px;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	margin-left:20px;
	text-align:left;
	color:rgb(106,98,90);
	padding:0;
	padding-left:5px;
	font-size:14px;
	font-family:proxima_nova_bold;
	background:transparent;
	border-radius:0px;
	vertical-align:top;
	overflow:hidden;
	
}


#propertyReg_Form input[type="submit"],
#propertyRegSpacio_Form input[type="submit"] {
	-webkit-appearance: none;
	border-radius:0px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	margin-top:15px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	font-size:14px;
	position:absolute;
	bottom:20px;
	right:20px;
	
}

#changePassword_Form input[type="submit"],
#broadcastMessage_Form input[type="submit"],
#editProfile_Form input[type="submit"],
#editProfilePicture_Form input[type="submit"],
#addProperty_Form input[type="submit"],
#editBeacon_Form input[type="submit"] {
	-webkit-appearance: none;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	float:right;
	margin-top:15px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	font-size:14px;
}

#addProperty_Form select {
	border:1px solid #ddd;
	border-radius:0px;
	height:30px;
	width:100px;
}


#editProperty_Form input[type="submit"] {
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	background:rgb(239,164,79);
	float:right;
	margin-top:15px;
	margin-right:10px;
	color:white;
	font-family:proxima_nova_light;
	font-size:14px;
}

#editProperty_Form select {
	border:1px solid #ddd;
	border-radius:0px;
	height:30px;
	width:100px;
}

/***************************** PREVIEW PANEL ****************************/

.preview-panel {
	background:white;
	display:none;
	z-index:500;
	overflow:hidden;
}

.iphone-box {
	position:absolute;
	width:600px;
	height:828px;	
	background:white;
	background-image:url(../img/iphone5_white.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.iphone-screen {
	width:320px;
	height:568px;
	background:white;
	position:absolute;
	top:129px;
	left:142px;
	overflow:auto;	
}

/***************************** LOADING PANEL ****************************/

.loading-panel {
	position:absolute;
	top:0;
	left:0;
	z-index:999;
	display:none;
	background:rgba(0,0,0,0.75);	
}

/***************************** ALERT BOX ****************************/

.alert-box {
	width:400px;
	min-height:100px;
	background:white;
	vertical-align:middle;	
	margin-left:auto;
	margin-right:auto;
}

.alert-title {
	color:#DD8000;
	font-size:18px;
	font-family:proxima_nova_regular;
}

.alert-message {
	color: rgb(106,98,90);	
	font-size:16px;
	font-family:proxima_nova_regular;
	margin-top:10px;
}

.alert-content {
	width:400px;
	min-height:100px;
	
	padding:20px;
	box-sizing:border-box;
}

alert-buttons {
	width:500px;
	height:40px;
	text-align:center;
	
}

.alert-button-1 {
	width:200px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	color:white;
	float:left;	
	background:#DD8000;
	text-align:center;
}

.alert-button-2 {
	width:200px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	color:white;
	float:right;	
	background:rgb(239,164,79);
	text-align:center;
}

/***************************** SIGN IN PANEL ****************************/

.signin-tab {
	width:100%;
	height:60px;
	line-height:60px;
	cursor:pointer;
	float:left;
	text-align:center;
	
}

.signin-tab.selected {
	background:white;
	color:rgb(232,126,4);
}

.signin-tab.deselected {
	background:#eee;
	color:#aaa;
}


