    	<div class="alert-container">

                <div class="alert-box">
                    <div class="alert-icon">
                      <img src="/assets/img/website/icon_error_white.png" height="100%">
                    </div>
                    <div class="alert-content">
                        <div class="alert-title"></div>
                        <div class="alert-message"></div>
                    </div>
                	   <div class="alert-buttons">
                   	 	<div class="alert-button-1"></div>
                    	<div class="alert-button-2"></div>
                    </div>
                </div>
        </div>
