<div class="menu-container">
  <div class="menu-column">
    <div class="menu-column-title">PRODUCT</div>
    <!-- <a href="/features/"> More Features</a><br/>
     <a href="/manual/">Manual</a><br/> -->
    <a href="/partners/">Integration Partners</a><Br/>
   	<a href="/customers/">Customers</a><br/>
    <a href="/whyspacio/">Why Spacio?</a><br/>
    <a href="/branding/">Branding</a><br/>
  </div>

  <div class="menu-column">
    <div class="menu-column-title">ABOUT SPACIO</div>
    <!-- Company<br/> -->
    <!-- Media<br/> -->
    <a href="/podcast/">Podcast</a><br>
    <a href="https://medium.com/@GoSpacio" target="_blank">Blog</a><br/>
    <a href="/terms/">Terms of Use</a><br/>
    <a href="/privacy/">Privacy</a><br/>
  </div>
  <div class="menu-column">
    <div class="menu-column-title">CONTACT</div>
    <a href="/contact/">Contact</a><br/>
    <span onclick="showPopup('contact')" style="cursor:pointer">Contact Sales</span><br/>
    <span onclick="showPopup('request')" style="cursor:pointer">Request Demo</span><br/>
  </div>
  <div class="menu-column">
    <div class="menu-column-title">APPS</div>
    <a href="/download/">Download</a><br/>
    <a href="http://status.spac.io">System Status</a>
  </div>
</div>

<div class="menu-container-mobile">
	<div class="footer-menu-row product-menu-btn" onclick="toggleFooterSubmenu('product')">
    	PRODUCT
    </div>
    <div class="footer-submenu product-submenu">
    	<!-- <a href="/features/"><div class="footer-submenu-row">More Features</div></a>
         <a href="/manual/"><div class="footer-submenu-row">Manual</div></a> -->
         <a href="/partners/"><div class="footer-submenu-row">Integration Partners</div></a>
         <a href="/customers/"><div class="footer-submenu-row">Customers</div></a>
         <a href="/whyspacio/"><div class="footer-submenu-row">Why Spacio?</div></a>
         <a href="/branding/"><div class="footer-submenu-row">Branding</div></a>
    </div>
    <div class="footer-menu-row about-menu-btn" onclick="toggleFooterSubmenu('about')">
    	ABOUT SPACIO
    </div>
     <div class="footer-submenu about-submenu">
    	<!-- <div class="footer-submenu-row">Company</div>
      <div class="footer-submenu-row">Media</div> -->
      <a href="/podcast/"><div class="footer-submenu-row">Podcast</div></a>
       <a href="https://medium.com/@GoSpacio" target="_blank"><div class="footer-submenu-row">Blog</div></a>
       <a href="/terms/"><div class="footer-submenu-row">Terms of Use</div></a>
       <a href="/privacy/"><div class="footer-submenu-row">Privacy</div></a>
    </div>
    <div class="footer-menu-row contact-menu-btn" onclick="toggleFooterSubmenu('contact')">
    	CONTACT
    </div>
    <div class="footer-submenu contact-submenu">
    	 <a href="/contact/"><div class="footer-submenu-row">Contact</div></a>
        <div class="footer-submenu-row" onclick="showPopup('contact')">Contact Sales</div>
        <div class="footer-submenu-row" onclick="showPopup('request')">Request Demo</div>
        <div class="footer-submenu-row">hello@spac.io</div>
    </div>
    <div class="footer-menu-row apps-menu-btn" onclick="toggleFooterSubmenu('apps')">
    	APPS
    </div>
     <div class="footer-submenu apps-submenu">
    	<a href="/download/"><div class="footer-submenu-row">Download</div></a>
      <a href="http://status.spac.io"><div class="footer-submenu-row">System Status</div></a>
    </div>
</div>

<div style="margin-top:20px;width:100%;border-top:1px solid #eee;padding-top:20px;padding-bottom:0px;text-align:center;">
  <!-- <img class="leadingre-preferred-logo preferred-logo" src="/assets/img/website/leadingre_partner.png"> -->
  <!-- <img class="bhhs-preferred-logo preferred-logo" src="/assets/img/website/bhhs_preferred_supplier.png">
  <img class="exit-preferred-logo preferred-logo" src="/assets/img/website/exit_partner_logo.png"> -->
</div>


<!-- <div class="short-grey-line" style="width:75px;border-bottom:1px solid #eee;margin:20px auto;"></div> -->
<div style="text-align:center">
  <img src="/assets/img/website/spacio_logo_short_grey.png" height="40">
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-57752413-4', 'auto');
  ga('send', 'pageview');
</script>
