    <div class="popup-container">
      <div class="popup-box">
        <div class="popup-close-btn" onclick="hidePopup()">CLOSE</div>
        <div class="popup-close-btn-mobile" onclick="hidePopup()"></div>
        <span class="request" style="display:none;">
          <div class="large" style="margin-bottom:10px;z-index:1000;">Request Demo</div>
          <div class="normal" style="margin-bottom:20px;z-index:1000;">
            Want to know more? Complete this form and we’ll get back to you as soon as possible.
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*NAME</div>
            <input class="popup-input" name="request-name" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*COMPANY</div>
            <input class="popup-input" name="request-company" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">PHONE</div>
            <input class="popup-input" name="request-phone" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*EMAIL</div>
            <input class="popup-input" name="request-email" type="email">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*PRODUCT</div>
            <select class="popup-select" name="request-product" onchange="productChanged('request')">
              <option value="">Select</option>
              <option value="Spacio for Agents">Spacio for Agents</option>
              <option value="Spacio for Teams">Spacio for Teams</option>
              <option value="Brokerage Solution">Brokerage Solution</option>
              <!-- <option value="Spacio Projects for Builders">Spacio Projects for Builders</option> -->
              <option value="Franchise Solution">Franchise Solution</option>
            </select>
          </div>
          <div class="popup-input-box request-teamsize" style="display:none;">
            <div class="popup-label">*TEAM SIZE</div>
            <input class="popup-input" name="request-teamsize" type="number">
          </div>
          <div class="popup-input-box request-brokeragesizeagents" style="display:none;">
            <div class="popup-label">*NUMBER OF AGENTS</div>
            <input class="popup-input" name="request-brokeragesizeagents" type="number">
          </div>
          <div class="popup-input-box request-brokeragesizeoffices" style="display:none;">
            <div class="popup-label">*NUMBER OF OFFICES</div>
            <input class="popup-input" name="request-brokeragesizeoffices" type="number">
          </div>

          <div class="popup-input-box">
            <div class="popup-label">HOW DID YOU HEAR ABOUT SPACIO?</div>
            <input class="popup-input" name="request-howhearabout" type="text">
          </div>

          <div class="popup-input-textbox">
            <div class="popup-label">*MESSAGE</div>
            <textarea class="popup-textbox" name="request-message"></textarea>
          </div>

          <div class="popup-error-message">

          </div>
          <div class="popup-submit-btn" onclick="requestDemo()">
            SUBMIT
          </div>
        </span>
        <span class="contact" style="display:none;">

          <div class="large" style="margin-bottom:10px;z-index:1000;">Get In Touch With Us</div>
          <div class="normal" style="margin-bottom:20px;z-index:1000;">
            Complete this form and we’ll get back to you as soon as possible.
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*NAME</div>
            <input class="popup-input" name="contact-name" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*COMPANY</div>
            <input class="popup-input" name="contact-company" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">PHONE</div>
            <input class="popup-input" name="contact-phone" type="text">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*EMAIL</div>
            <input class="popup-input" name="contact-email" type="email">
          </div>
          <div class="popup-input-box">
            <div class="popup-label">*PRODUCT</div>
            <select class="popup-select" name="contact-product"  onchange="productChanged('contact')">
              <option value="">Select</option>
              <option value="Spacio for Agents">Spacio for Agents</option>
              <option value="Spacio for Teams">Spacio for Teams</option>
              <option value="Brokerage Solution">Brokerage Solution</option>
              <!-- <option value="Spacio Projects for Builders">Spacio Projects for Builders</option> -->
              <option value="Franchise Solution">Franchise Solution</option>
            </select>
          </div>
          <div class="popup-input-box contact-teamsize" style="display:none;">
            <div class="popup-label">*TEAM SIZE</div>
            <input class="popup-input" name="contact-teamsize" type="number">
          </div>
          <div class="popup-input-box contact-brokeragesizeagents" style="display:none;">
            <div class="popup-label">*NUMBER OF AGENTS</div>
            <input class="popup-input" name="contact-brokeragesizeagents" type="number">
          </div>
          <div class="popup-input-box contact-brokeragesizeoffices" style="display:none;">
            <div class="popup-label">*NUMBER OF OFFICES</div>
            <input class="popup-input" name="contact-brokeragesizeoffices" type="number">
          </div>

          <div class="popup-input-box">
            <div class="popup-label">HOW DID YOU HEAR ABOUT SPACIO?</div>
            <input class="popup-input" name="contact-howhearabout" type="text">
          </div>

          <div class="popup-input-textbox">
            <div class="popup-label">*HOW CAN WE HELP YOU?</div>
            <textarea class="popup-textbox" name="contact-message"></textarea>
          </div>

          <div class="popup-error-message">

          </div>
          <div class="popup-submit-btn" onclick="contactSales()">
            SUBMIT
          </div>
        </span>

      </div>
    </div>
