  <div class="login-overlay">
  	<div class="login-container">
    	<div class="login-box">
        	<div class="login-close-btn" onclick="hideLoginOptions()">CLOSE</div>
             <div class="large" style="margin-bottom:20px;text-align:center;">Login</div>
             <div class="normal" style="margin-bottom:20px;text-align:left;">Select the product you wish to login to:</div>
             <a href="https://spac.io/dashboard/"><div class="login-option">SPACIO FOR AGENTS</div></a>
             <a href="https://spac.io/teams/dashboard/"><div class="login-option">TEAM DASHBOARD</div></a>
             <a href="https://spac.io/brokerages/dashboard/"><div class="login-option">BROKERAGE DASHBOARD</div></a>
             <a href="/projects/dashboard/"><div class="login-option">SPACIO PROJECTS</div></a>
        </div>
    </div>
  </div>

  <div class="web-menu">
      <div class="spacio-top-menu-button"  id="top-btn-products" onclick="toggleProductOptions()">
        <div class="btn">PRODUCTS<div class="underline"></div></div>
      </div>
      <a href="/pricing/">
        <div class="spacio-top-menu-button" id="top-btn-pricing">
          <div class="btn">PRICING<div class="underline"></div></div>
        </div>
      </a>
      <a href="/">
        <div class="spacio-top-menu-logo">
          <img src="/assets/img/website/spacio_logo_long.png" height="40">
        </div>
      </a>
      <a href="/contact/">
        <div class="spacio-top-menu-button"  id="top-btn-contact">
          <div class="btn">CONTACT<div class="underline"></div></div>
        </div>
      </a>
      <div class="spacio-top-menu-button"  id="top-btn-request"  onclick="showPopup('request')">
        <div class="btn">REQUEST DEMO<div class="underline"></div></div>
      </div>

      <div class="spacio-login-button-black"   onclick="showLoginOptions()">
        <div class="btn">LOGIN<div class="underline"></div></div>
      </div>
  </div>
  <div class="mobile-menu">
      <div class="spacio-mobile-menu-bar">
          <div class="spacio-top-menu-logo-mobile">
          	<a href="/">
            	<img src="/assets/img/website/spacio_logo_long.png" height="40">
            </a>
          </div>
          <div id="nav-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
      </div>
      <div class="spacio-mobile-menu-content">
          <div class="spacio-mobile-menu-button"  onclick="toggleMobileProductOptions()">
            PRODUCTS
          </div>
          <div class="spacio-mobile-submenu products-submenu">
             <a href="/agents/">
             	<div class="spacio-mobile-submenu-button">
            		AGENTS
          		</div>
             </a>
             <a href="/teams/">
             	<div class="spacio-mobile-submenu-button">
            		TEAMS
          		</div>
             </a>
             <a href="/brokerages/">
                <div class="spacio-mobile-submenu-button">
            	BROKERAGES
          		</div>
              </a>
              <!-- <a href="/projects/">
                <div class="spacio-mobile-submenu-button">
            	BUILDERS
          		</div>
                </a> -->
          </div>

          <a href="/pricing/">
              <div class="spacio-mobile-menu-button">
                PRICING
              </div>
          </a>
          <a href="/contact/">
          	<div class="spacio-mobile-menu-button">
           	 CONTACT
          	</div>
          </a>

          <div style="margin-left:10px;margin-top:40px;width:calc(100% - 20px);" class="spacio-boxed-button-black" onclick="showLoginOptions('')">
            LOGIN
          </div>
          <div style="margin-left:10px;margin-top:20px;width:calc(100% - 20px);" class="spacio-boxed-button-black" onclick="showPopup('request')">
            REQUEST DEMO
          </div>
      </div>
  </div>
  <div class="product-options small">
    <div class="product-options-bar">
      <a href="/agents/">
        <div class="product-option" style="margin-right:20px;">
          <div class="product-type-title">Agents</div>
          <div style="color:#999;">Automate Your Open<br/>Houses</div>
        </div>
      </a>
      <a href="/teams/">
        <div class="product-option" style="margin-right:20px;">
          <div class="product-type-title">Teams</div>
          <div style="color:#999;">Consolidate Your Open<br/>Houses</div>
        </div>
      </a>
      <a href="/brokerages/">
        <div class="product-option" style="margin-right:20px;">
          <div class="product-type-title">Brokerages</div>
          <div style="color:#999;">Paperless Open Houses for<Br/>All Your Agents</div>
        </div>
      </a>
      <!-- <a href="/projects/">
        <div class="product-option">
          <div class="product-type-title">Builders</div>
          <div style="color:#999;">Spacio Projects for Development Marketing</div>
        </div>
      </a> -->
    </div>
    <div class="product-options-overlay" onclick="toggleProductOptions()"></div>
  </div>
