@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'effra_light';
    src: url('effra_std_lt-webfont.eot');
    src: url('effra_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('effra_std_lt-webfont.woff2') format('woff2'),
         url('effra_std_lt-webfont.woff') format('woff'),
         url('effra_std_lt-webfont.ttf') format('truetype'),
         url('effra_std_lt-webfont.svg#effra_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'effra_regular';
    src: url('effra_std_lt-webfont.eot');
    src: url('effra_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('effra_std_lt-webfont.woff2') format('woff2'),
         url('effra_std_lt-webfont.woff') format('woff'),
         url('effra_std_lt-webfont.ttf') format('truetype'),
         url('effra_std_lt-webfont.svg#effra_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_medium';
    src: url('effra_std_md-webfont.eot');
    src: url('effra_std_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('effra_std_md-webfont.woff2') format('woff2'),
         url('effra_std_md-webfont.woff') format('woff'),
         url('effra_std_md-webfont.ttf') format('truetype'),
         url('effra_std_md-webfont.svg#effra_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'effra_bold';
    src: url('effra_std_bd-webfont.eot');
    src: url('effra_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('effra_std_bd-webfont.woff2') format('woff2'),
         url('effra_std_bd-webfont.woff') format('woff'),
         url('effra_std_bd-webfont.ttf') format('truetype'),
         url('effra_std_bd-webfont.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'Interstate';
	src: url('Interstate-Regular.eot');
	src: url('Interstate-Regular.eot?#iefix') format('embedded-opentype'),
		url('Interstate-Regular.woff') format('woff'),
		url('Interstate-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
				font-family: 'SeroPro';
				src: url('seropro.eot');
				src: url('seropro.eot?#iefix') format('embedded-opentype'),
						 url('seropro.woff') format('woff'),
						 url('seropro.ttf') format('truetype'),
						 url('seropro.svg#seropro') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Black';
				src: url('seroproblack.eot');
				src: url('seroproblack.eot?#iefix') format('embedded-opentype'),
						 url('seroproblack.woff') format('woff'),
						 url('seroproblack.ttf') format('truetype'),
						 url('seroproblack.svg#seroproblack') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Bold';
				src: url('seroprobold.eot');
				src: url('seroprobold.eot?#iefix') format('embedded-opentype'),
						 url('seroprobold.woff') format('woff'),
						 url('seroprobold.ttf') format('truetype'),
						 url('seroprobold.svg#seroprobold') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Extralight';
				src: url('seroproextralight.eot');
				src: url('seroproextralight.eot?#iefix') format('embedded-opentype'),
						 url('seroproextralight.woff') format('woff'),
						 url('seroproextralight.ttf') format('truetype'),
						 url('seroproextralight.svg#seroproextralight') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Extrathin';
				src: url('seroproextrathin.eot');
				src: url('seroproextrathin.eot?#iefix') format('embedded-opentype'),
						 url('seroproextrathin.woff') format('woff'),
						 url('seroproextrathin.ttf') format('truetype'),
						 url('seroproextrathin.svg#seroproextrathin') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Light';
				src: url('seroprolight.eot');
				src: url('seroprolight.eot?#iefix') format('embedded-opentype'),
						 url('seroprolight.woff') format('woff'),
						 url('seroprolight.ttf') format('truetype'),
						 url('seroprolight.svg#seroprolight') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Medium';
				src: url('seropromedium.eot');
				src: url('seropromedium.eot?#iefix') format('embedded-opentype'),
						 url('seropromedium.woff') format('woff'),
						 url('seropromedium.ttf') format('truetype'),
						 url('seropromedium.svg#seropromedium') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-Thin';
				src: url('seroprothin.eot');
				src: url('seroprothin.eot?#iefix') format('embedded-opentype'),
						 url('seroprothin.woff') format('woff'),
						 url('seroprothin.ttf') format('truetype'),
						 url('seroprothin.svg#seroprothin') format('svg');
				font-weight: normal;
				font-style: normal;
		}

		@font-face {
				font-family: 'SeroPro-ThinItalic';
				src: url('seroprothinitalic.eot');
				src: url('seroprothinitalic.eot?#iefix') format('embedded-opentype'),
						 url('seroprothinitalic.woff') format('woff'),
						 url('seroprothinitalic.ttf') format('truetype'),
						 url('seroprothinitalic.svg#seroprothinitalic') format('svg');
				font-weight: normal;
				font-style: normal;
		}



@font-face {
    font-family: 'w_sans_newbook';
    src: url('wsansnew-book-webfont.eot');
    src: url('wsansnew-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('wsansnew-book-webfont.woff') format('woff'),
         url('wsansnew-book-webfont.ttf') format('truetype'),
         url('wsansnew-book-webfont.svg#w_sans_newbook') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'proxima_nova_regular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff2') format('woff2'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_light';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff2') format('woff2'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_bold';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold-webfont.woff2') format('woff2'),
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Baskerville';
	src: url('Baskerville.eot');
	src: url('Baskerville.eot?#iefix') format('embedded-opentype'),
		url('Baskerville.woff') format('woff'),
		url('Baskerville.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'DINOT-Light';
    src: url('DINOT-Light.eot');
    src: url('DINOT-Light.eot?#iefix') format('embedded-opentype'),
         url('DINOT-Light.woff') format('woff'),
         url('DINOT-Light.ttf') format('truetype'),
         url('DINOT-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINOT-Bold';
    src: url('DINOT-Bold.eot');
    src: url('DINOT-Bold.eot?#iefix') format('embedded-opentype'),
         url('DINOT-Bold.woff') format('woff'),
         url('DINOT-Bold.ttf') format('truetype'),
         url('DINOT-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Requiem';
    src: url('RequiemDisplay-Roman.eot');
    src: url('RequiemDisplay-Roman.eot?#iefix') format('embedded-opentype'),
         url('RequiemDisplay-Roman.woff') format('woff'),
         url('RequiemDisplay-Roman.ttf') format('truetype'),
         url('RequiemDisplay-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir';
    src: url('avenirltstdroman.eot');
    src: url('avenirltstdroman.eot?#iefix') format('embedded-opentype'),
         url('avenirltstdroman.woff') format('woff'),
         url('avenirltstdroman.ttf') format('truetype'),
         url('avenirltstdroman.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Eurostyle';
    src: url('EurostileLTStd.eot');
    src: url('EurostileLTStd.eot?#iefix') format('embedded-opentype'),
         url('EurostileLTStd.woff') format('woff'),
         url('EurostileLTStd.ttf') format('truetype'),
         url('EurostileLTStd.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArialNarrow';
    src: url('arialnarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TungstenSemiBold';
    src: url('tungsten-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MillerItalic';
    src: url('miller-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Miller';
    src: url('miller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ScalaSans';
    src: url('scala-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.avenir {
	font-family:Avenir;
}

.euro {
	font-family:Eurostyle;
}


.brown {
	color: rgb(106,98,90);
}

.champagne {
	color:#2b2b2b;
}

.orange {
	color: rgb(239,164,79);
}

.bold {
	font-family: 'effra_medium';
}

.small {
  font-size:14px;
}

.medium {
  font-size:16px;
}
