/* ==========================================================================
  AGENT
   ========================================================================== */


   .spacio-top-menu{
     position: fixed;
     top:0px;
     left:0px;
     width:100%;
     height:60px;
     background: white;
     z-index: 100;
   }

   .web-menu{
     width:100%;
     height:100%;
     display: flex;
     flex-direction: row;
     flex-wrap:nowrap;
     justify-content:center;
     align-items:center;
   }

   .spacio-top-menu-logo{
     display: block;
     width: 160px;
     text-align: center;
   }

   a, a:visited {
     color:currentColor;
     text-decoration: none;
   }

   body{
     font-family:effra_regular;
     font-size:16px;
   }

   .twitter-button{
     display:inline-block;
     float:right;
     padding-top:5px;
     padding-left:5px;
     padding-right:20px;
     width: 60px;
   }

   .fb-share-button{
    display: inline-block !important;
    float:right;
    padding-top:5px;
    width: 60px;

    }

/* this is desktop version */
@media (min-width: 641px) {

  .main-container {
    display: flex;
    flex-direction: row;
    width: 820px;
    margin: 0 auto;
    margin-top:120px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-left-container{
    flex-basis:320px;
    flex-grow: 0;
    flex-shrink:0;
    order: 1;
  }

  .main-right-container{
    flex-basis:500px;
    flex-grow: 0;
    flex-shrink:0;
    order:2;
    margin-left: 5px;
  }

  .agent-photo-section{
    display:block;
    width:100%;
    height:150px;
    background-color:white;
  }

  .pphoto-container{
    flex-basis: 80px;
    flex-grow:0;
    flex-shrink:0;
    margin:auto;
  }

  .pphoto{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    border: 5px solid #eee;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .name-container{
    display:block;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size:20px;
    line-height: 30px;
    font-family:effra_medium;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-bottom:1px solid #eee;
  }

  .title{
    display:block;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size:16px;
    line-height: 20px;
    font-family:effra_regular;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-bottom:10px;
  }

  .agent-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    line-height:30px;
    background-color:#f2f2f2;
    padding-top:10px;

  }

  .agent-info-titles{
    order:1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:80px;
    box-sizing:border-box;
    padding-left:20px;
  }

  .agent-info-values{
    order:2;
    text-align:right;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing:border-box;
    padding-right:20px;
  }

  .sharing-buttons{
    display:block;
    background-color:#f2f2f2;
    height:30px;
    padding-left:20px;
    line-height:30px;
    width: calc(100% - 20px);
    padding-bottom:10px;
  }

  .brokerage-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    line-height:30px;
    background-color:white;
    padding:10px 0px;
  }

  .brokerage-logo-container{
    flex-basis: 120px;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
  }

  .brokerageLogo{
    flex-grow:0;
    flex-shrink:0;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .brokerage-contact-info{
    display: block;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0px 20px;
  }

  .phone, .mobile, .website, .email, .brokerageName, .office, .brokerageDomain {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .main-right-title{
    display:block;
    height:40px;
    line-height:40px;
    text-transform: uppercase;
    background-color:#f2f2f2;
    padding:0px 10px;
    box-sizing:border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }

  .listing{
    width:100%;
    height: 80px;
    line-height: 30px;
    border-bottom:1px solid rgba(255,255,255,0.75);
    background-color:#f2f2f2;
    padding: 0px 0px;
  }

  .listing-image-container{
    width: 120px;
    float:left;
  }

  .listing-image{
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .listing-details{
    /*display: block;*/
    float:right;
    width: calc(100% - 120px);
    /*align-items:center;*/
    text-align:left;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  .listing-address, .listing-price {
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .listing-address{
    font-size: 17px;
  }

}/*end of media min width 641px*/

/* this is mobile version */
@media (max-width: 640px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
    margin-top:60px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eee;
  }

  .mobile-listing-info{
    display: block;
    width:100%;
  }

  .main-left-container{
    display: block;
    width: 100%;
  }

  .agent-photo-section{
    display:block;
    width:100%;
    height:150px;
    background-color:white;
  }

  .pphoto-container{
    flex-basis: 80px;
    flex-grow:0;
    flex-shrink:0;
    margin:auto;
  }

  .pphoto{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    border: 5px solid #eee;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .name-container{
    display:block;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size:20px;
    line-height: 30px;
    font-family:effra_medium;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-bottom:1px solid #eee;
  }

  .title{
    display:block;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size:16px;
    line-height: 20px;
    font-family:effra_regular;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-bottom:10px;
  }

  .agent-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    line-height:30px;
    background-color:#f2f2f2;
    padding-top:10px;
  }

  .agent-info-titles{
    order:1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:80px;
    box-sizing:border-box;
    padding-left:20px;
    padding-bottom
  }

  .agent-info-values{
    order:2;
    text-align:right;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing:border-box;
    padding-right:20px;
  }

  .sharing-buttons{
    display:block;
    background-color:#f2f2f2;
    height:30px;
    padding-left:20px;
    padding-bottom:10px;
    line-height:30px;
    width: calc(100% - 20px);
  }

  .brokerage-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    line-height:30px;
    background-color:white;
    padding:10px 20px;
  }

  .brokerage-logo-container{
    flex-basis: 120px;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
  }

  .brokerageLogo{
    flex-grow:0;
    flex-shrink:0;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .brokerage-contact-info{
    display: block;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0px 20px;
  }

  .main-right-container{
    display:block;
    width:100%;
    background-color:#f2f2f2;
  }

  .main-right-title{
    display:block;
    height:40px;
    line-height:40px;
    text-transform: uppercase;
    background-color:#f2f2f2;
    padding:0px 10px;
    box-sizing:border-box;
  }

  .listing{
    width:100%;
    height: 80px;
    line-height: 30px;
    border-bottom:1px solid rgba(255,255,255,0.75);
    background-color:#f2f2f2;
    /*padding: 5px 0px;*/
  }

  .listing-image-container{
    width: 120px;
    float:left;
  }

  .listing-image{
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .listing-details{
    float:right;
    width: calc(100% - 120px);
    text-align:left;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  .listing-address, .listing-price {
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .listing-address{
    font-size: 17px;
  }


}/*End of media max width 640px*/
