.viewer-overlay {
  display:none;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  width:100vw;
  height:100vh;
  z-index: 100;
}

.viewer-container {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.viewer-container .arrows {
    width:40px;
    height:40px;
    color:white;
    line-height:40px;
    text-align: center;
    font-size:30px;
    cursor: pointer;
}

.viewer-overlay .close {
    width:30px;
    height:30px;
    color:white;
    line-height:30px;
    text-align: center;
    font-size:20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right:10px;
}

.viewer-container .image-container {
  width:calc(100% - 120px);
  height:calc(100% - 80px);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}



@media (min-width: 801px) {
    .branding-scroll-one {
        width: 800px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 40px;
        text-align: center;
    }

    .branding-scroll-one img {
      width:360px;
      margin:10px;
      cursor: pointer;
    }
}

@media (max-width: 800px) {
    .branding-scroll-one {
        width: calc(100% - 40px);
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 40px;
        text-align: center;
    }

    .branding-scroll-one img {
      width:100%;
      margin-bottom:10px;
    }
}
