/***************************** GENERAL BUTTON ELEMENTS ****************************/

.btn {
  cursor:pointer;
}
.submit-btn {
    -webkit-appearance: none;
    width:200px;
    border-radius:0px;
    height:30px;
    color:#2b2b2b;
    border:1px solid #2b2b2b;
    box-sizing:border-box;
    background:transparent;
    font-size:14px;
    font-family:effra_medium;
    -webkit-user-select: none;
}

.standard-btn {
    -webkit-appearance: none;
    padding:0 10px;
    height:30px;
    color:#2b2b2b;
    border:1px solid #2b2b2b;
    box-sizing:border-box;
    background:transparent;
    font-size:14px;
    font-family:effra_medium;
    -webkit-user-select: none;
    margin-left:20px;
    display:inline-block;
    text-align:center;
    line-height:28px;
    border-radius:3px;
    cursor: pointer;
}

.standard-btn.filled {
    background-color:#2b2b2b;
    color:white!important;
    border:none;
    line-height:30px;
}

.standard-btn.w200 {
    width:200px;
}


.standard-btn.w300 {
    width:300px;
}

.standard-btn.panel-btn {
    float:right;
    margin-left:0;
    margin-top:20px;
    margin-right:5px;
}


.tags-explain-btn {
    position:absolute;
    right:10px;
    top:10px;
    height:20px;
    padding:0 10px;
    border-radius:3px;
    background:#666;
    color:white;
    font-size:12px;
    font-family:effra_medium;
    text-align:center;
    line-height:20px;
    letter-spacing:2px;
    cursor:pointer;
}

.settings-explain-btn {
    height:20px;
    padding:0 10px;
    border-radius:3px;
    background:#666;
    color:white;
    font-size:12px;
    font-family:effra_medium;
    text-align:center;
    line-height:20px;
    letter-spacing:2px;
    cursor:pointer;
    float:right;
}

.settings-explain-btn .more {

}

.settings-explain-btn.toggled .more {
    display:none;
}

.settings-explain-btn .less {
    display:none;
}

.settings-explain-btn.toggled .less {
    display:inline;
}

.remove-question-button,.add-question-button, .delete-question-button {
    position:absolute;
    right:20px;
    top:10px;
    height:20px;
    width:20px;
    border-radius:3px;
    background:#666;
    color:white;
    font-size:12px;
    font-family:effra_medium;
    text-align:center;
    line-height:20px;
    cursor:pointer;
    box-sizing: border-box;
    padding-left:1px;
}


.move-question-up-button:active, .move-question-down-button:active {
  opacity: 0.75;
}

.move-question-up-button{
    position:absolute;
    right:50px;
    top:10px;
    height:20px;
    width:20px;
    border-radius:3px;
    background:#666;
    color:white;
    font-size:12px;
    font-family:effra_medium;
    text-align:center;
    line-height:20px;
    cursor:pointer;
    box-sizing: border-box;
    padding-left:1px;
}

.move-question-down-button{
    position:absolute;
    right:80px;
    top:10px;
    height:20px;
    width:20px;
    border-radius:3px;
    background:#666;
    color:white;
    font-size:12px;
    font-family:effra_medium;
    text-align:center;
    line-height:20px;
    cursor:pointer;
    box-sizing: border-box;
    padding-left:1px;

}

.move-question-down-button.disabled, .move-question-up-button.disabled{
    opacity: 0.5;
}

.delete-question-button {
    top:40px;

}

.form-input-row .clipboard-copy {
    order:2;
    height:20px;
    padding:0 10px;
    margin-right:10px;
    line-height:18px;
    text-align:center;
    border-radius:3px;
    color:#666;
    border:1px solid #666;
    background-color:transparent;
    box-sizing:border-box;
    font-size:12px;
    letter-spacing:2px;
    font-family:effra_medium;
    margin-top:10px;
    cursor:pointer
}

.form-input-row .downgrade-button {

}

.form-input-row .print-instructions {
    order:3;
    height:20px;
    padding:0 10px;
    margin-right:20px;
    line-height:18px;
    text-align:center;
    border-radius:3px;
    color:#666;
    border:1px solid #666;
    background-color:transparent;
    box-sizing:border-box;
    font-size:12px;
    letter-spacing:2px;
    font-family:effra_medium;
    margin-top:10px;
    cursor:pointer
}

.share-btn, .xpressdocs-btn, .boost-btn {
    letter-spacing:2px;
    font-family:effra_medium;
    background-color:white;
    font-size:12px;
    width:100px;
    border-radius:3px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:black;
    margin-bottom:10px;
}

.xpressdocs-btn {
    position:absolute;
    bottom:40px;
    left:10px;
    font-family:effra_medium;
    background-color:white;
    letter-spacing:1px;

    font-size:12px;
    width:100px;
    border-radius:3px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:black;
    display: none;
}

.close-btn {
    position:absolute;
    right:0px;
    top:0px;
    z-index:100;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    font-size:14px;
    color:black;
}


 .sso-button {
     padding: 0 10px;
     box-sizing: border-box;
     height:30px;
     line-height: 30px;
     text-align: center;
     background:white;
     border:1px solid white;
     cursor: pointer;
     color:black;
     font-family: effra_medium;
     width:100%;
    font-size:12px;
    border-radius:3px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0px;
}
