/* ==========================================================================
  CONTACT
   ========================================================================== */

@media (min-width: 901px) {

	 .social-icons-contact {
      height:30px;
      margin:5px;
    }

	.contact-scroll-one {
	 width:100%;
	 background-size:cover;
	 background-repeat:no-repeat;
	 background-position:center center;
	 background-image:url(/assets/img/website/contact_bg.jpg);
	  color:white;
	  text-align:center;
	}

	.contact-scroll-one .overlay{
	  background-color: rgba(0,0,0,0.8);
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
	  color:white;
	  text-align:center;
	}



	.contact-scroll-one .addresses {
		display:inline-block;
		width:550px;
		text-align:center;
		padding-top:90px;
		vertical-align:center;
	}

	.contact-scroll-one .address {
		display:inline-block;
		width:250px;
		margin:0 10px;
	}

	.contact-scroll-one .findus {
		display:inline-block;
		width:350px;
		vertical-align:top;
		border-left:1px solid #ddd;
		text-align:center;
		padding:40px 0px;
		vertical-align:center;
	}



	.contact-scroll-one .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.contact-scroll-one .content .desc {
	  font-family: effra_light;
	  line-height: 1.6;
	}

}

@media (max-width: 900px) {

	 .social-icons-contact {
      height:30px;
      margin:5px;
    }

	.contact-scroll-one {
	 width:100%;
	 background:white;
	text-align:center;
	}

	.contact-scroll-one .overlay{
	  background-color: rgba(0,0,0,0.8);
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
	  color:white;
	  text-align:center;
	}



	.contact-scroll-one .addresses {
		display:block;
		width:100%;
		text-align:center;
		vertical-align:center;
	}

	.contact-scroll-one .address {
		display:block;
		width:100%;
		margin-bottom:40px;
	}

	.contact-scroll-one .findus {
		display:block;
		width:100%;
		text-align:center;
		padding:40px 0px;
	}



	.contact-scroll-one .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.contact-scroll-one .content .desc {
	  font-family: effra_light;
	  line-height: 1.6;
	}

}
