/* ==========================================================================
  PARTNER
   ========================================================================== */


   .customers-scroll-one .content .title {
     font-family:proxima_nova_rgregular;
     letter-spacing: 3px;

   }

   .customers-scroll-one .content .subtitle {
     font-family:effra_regular;
     line-height: 1.3;
   }

   /* .customer-scroll-one a, .customer-scroll-one a:visited, .customer-scroll-two a, .customer-scroll-two a:visited {
     color:#e77f24;
     text-decoration: none;
   } */

@media (min-width: 901px) {
  .customer-header {
    padding-top:55px;
    width:100%;
    height:450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .customer-header .overlay-container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.75);

  }

  .customer-header .overlay-container .picture {
    width:120px;
    height:120px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom:15px;

  }

  .customer-header .overlay-container .logos {

    width:800px;
    text-align: center;
    color:white;
    font-family:effra_medium;
    margin-bottom:20px;
  }

  .customer-header .overlay-container .title {

    width:800px;
    text-align: center;
    color:white;
    font-family:effra_medium;
    margin-bottom:20px;
    line-height: 1.6;
  }

  .customer-header .overlay-container .intro {
    width:800px;
    text-align: center;
    color:white;
    line-height:1.6;
    font-size:20px;
    font-weight: 400;
  }




  .customer-scroll-one {
    width:100%;
    padding-top:80px;
    padding-bottom:40px;
    background:white;
    color:black;
    line-height: 1.6;

  }

  .customer-scroll-one .center{
    width:900px;
    margin:0 auto;

  }

  .customer-profile {
    width:320px;
    /*display: inline-block;*/
    min-height:300px;
    margin-right:20px;
    margin-bottom:10px;
    text-align:left;
    box-sizing: border-box;
    padding: 20px;
    background:#eee;
    float:left;

  }

  .customer-profile .picture {
    width:80px;
    height:80px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:15px;


  }

  .customer-profile .subtitle{
    font-family:effra_medium;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom:5px;
    margin-top:20px;

  }

  .customer-profile .question{
    font-family:effra_medium;
    margin-bottom:5px;
    margin-top:20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  /
  .customer-testimonial {
    /*
    width:475px;
    display: inline-block;
    min-height:300px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
    */
  }

  .customer-testimonial .question{
    font-family:effra_medium;
    margin-bottom:5px;
    margin-top:20px;
    line-height: 1.2;

  }

  .customer-scroll-two {
    padding-top: 40px;
    padding-bottom:60px;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
    width:100%;

  }

  .customer-scroll-two .quote,.customer-scroll-two .about-company-info {
  width:800px;
  margin:0 auto;
  text-align: center;
  font-size:20px;
  line-height: 1.6;

  }

  .customer-scroll-three{
    width:100%;
    border-bottom:1px solid #eeeeee;


  }

  .customer-scroll-three .content {
    padding-top: 20px;
    padding-bottom:20px;
    max-width:800px;
    text-align: center;
    color:#666;
    line-height: 1.6;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }

  .customer-scroll-three .content .companies {
    margin-top:10px;
  }

  .customer-scroll-three .content .companies .companies-logo-section {
    margin-right:20px;
    margin-left:20px;
    margin-bottom:15px;
    max-height: 100px;
  }

  ul {
    overflow:auto;

  }

}


@media (max-width: 900px) {
  .customer-header {

    box-sizing: border-box;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .customer-header .overlay-container {

    width:100%;
    padding-top:80px;
    padding-bottom:40px;
    background:rgba(0,0,0,0.75);

  }

  .customer-header .overlay-container .picture {
    width:120px;
    height:120px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom:15px;

  }

  .customer-header .overlay-container .logos {

    width:100%;
    text-align: center;
    color:white;
    font-family:effra_medium;
    box-sizing: border-box;
    padding:20px;
    margin-bottom:20px;
  }

  .customer-header .overlay-container .title {

    width:100%;
    text-align: center;
    color:white;
    font-family:effra_medium;
    box-sizing: border-box;
    padding:20px;
    padding-bottom:0px;
  }

  .customer-header .overlay-container .intro {
    width:100%;
    text-align: center;
    color:white;
    font-family:effra_regular;
    box-sizing: border-box;
    padding:20px;
  }

  .customer-scroll-one {
    width:100%;
    padding-bottom:40px;
    background:white;
    color:black;
    line-height: 1.6;
    overflow:hidden;

  }

  .customer-scroll-one .center{
    width:100%;
    margin:0 auto;
    box-sizing: border-box;
    padding:20px;
    padding-top:0px;

  }

  .customer-profile {
    width:calc(100% + 40px);
    /*display: inline-block;*/
    position: relative;
    left:-20px;
    text-align:center;
    box-sizing: border-box;
    padding: 20px;
    padding-top:40px;
    background:#eee;

  }

  .customer-profile .picture {
    width:120px;
    height:120px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;


  }

  .customer-profile .subtitle{
    font-family:effra_medium;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom:5px;
    margin-top:20px;

  }

  .customer-profile .question{
    font-family:effra_medium;
    margin-bottom:5px;
    margin-top:20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  /
  .customer-testimonial {
    /*
    width:475px;
    display: inline-block;
    min-height:300px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
    */
  }

  .customer-testimonial .question{
    font-family:effra_medium;
    margin-bottom:5px;
    margin-top:20px;
    line-height: 1.2;

  }

  .customer-scroll-two {
    padding-top: 40px;
    padding-bottom:60px;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
    width:100%;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:20px;

  }

  .customer-scroll-two .quote{
  width:100%;
  margin:0 auto;
  text-align: center;
  font-size:20px;
  line-height: 1.6;

  }

  .customer-scroll-three{
    width:100%;
    border-bottom:1px solid #eeeeee;

  }

  .customer-scroll-three .content{
    padding-top: 20px;
    padding-bottom:20px;
    width:100%;
    text-align: center;
    color:#666;
    line-height: 1.6;
  }

  .customer-scroll-three .content .companies {
    margin-top:10px;
  }

  .customer-scroll-three .content .companies .companies-logo-section {
    margin-right:20px;
    margin-left:20px;
    margin-bottom:15px;
    max-height: 100px;
  }

  ul {
    overflow:auto;

  }

}

.customer-video-scroll{
  width:100%;
  border-bottom:1px solid #eeeeee;

}

.customer-video-scroll .content {
  padding:20px;
  max-width:800px;
  color:#666;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  line-height: 1.6;
}

.customer-video-scroll .video-container{
  float: none;
  clear: both;
  /*max-width:640px;*/
  width: 80%;
  position: relative;
  padding-bottom: 45%;  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}

.customer-video-scroll .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
