/* ==========================================================================
  CUSTOMERS
   ========================================================================== */


   .customers-scroll-one .content .title {
     font-family:effra_regular;
     letter-spacing: 3px;

   }

   .customers-scroll-one .content .subtitle {
     font-family:effra_regular;
     line-height: 1.3;
   }

@media (min-width: 901px) {

  .customers-scroll-one {
    background-color: white;
    /*padding:60px 20px;*/
    padding-top: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
  }

  .customers-scroll-one .content {
    max-width: 900px;
    color:#282828;
    margin: 0 auto;
    text-align: left;
  }

  .customer-squares {
    margin-top:30px;
    margin-bottom:40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .customer-square {
    position:relative;
    width:250px;
    height:250px;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px auto;
    cursor: pointer;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    box-sizing: border-box;
    padding-top: 20px;

  }

  .learn-more-button {
      height:40px;
      line-height:40px;
      border:1px solid black;
      width:130px;
      font-size:16px;
      text-align:center;
      text-transform:uppercase;
      color:black;
      cursor: pointer;
      font-family: effra_regular;
      position: absolute;
      bottom: 20px;
      left:60px;
      display: none;
  }
  .customer-square:hover .learn-more-button {
    display: block;

  }

  .customer-square .picture {
    width:120px;
    height:120px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right:auto;

  }


}


@media (max-width: 900px) {
  .customers-scroll-one {
    background-color: white;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:10px;
    padding-top: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
  }

  .customers-scroll-one .content {
    width:100%;
    color:#282828;
    margin: 0 auto;
    text-align: left;
  }

  .customer-squares {
    margin-top:30px;
    margin-bottom:40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .customer-square {
    position:relative;
    width:calc(50vw - 25px);
    height:calc(50vw - 25px);
    margin-right:10px;
    margin-bottom:10px;
    background-color:#f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
    cursor: pointer;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    box-sizing: border-box;
    padding-top: 20px;
  }

  .customer-square .picture {
    width:calc(50vw - 25px - 80px);
    height:calc(50vw - 25px - 80px);
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right:auto;

  }

  .learn-more-button {
    display:none;
  }

}
