/* ==========================================================================
  MANUAL
   ========================================================================== */

@media (min-width: 901px) {

	.offline-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.offline-scroll-one .content {
	  max-width: 800px;
	  color:#bababa;
	  margin: 0 auto;

	}

	.offline-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.offline-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.offline-scroll-two {
	  padding-top:60px;
		padding-bottom:60px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}

	.offline-scroll-two .right {
		width:800px;
		font-family: effra_regular;
		text-align:left;
		margin-left:20px;
		position:relative;
		margin: 0px auto;
	}



	.offline-scroll-two .right .offline-subtitle{

		font-family:effra_medium;
		margin-bottom:10px;

	}


	.offline-scroll-two .bold{

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}

@media (max-width: 900px) {

	.offline-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.offline-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;

	}

	.offline-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.offline-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.offline-scroll-two {
	  padding-top:20px;
		padding-bottom:20px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}


	.offline-scroll-two .right {
		width:100%;
		min-height:100vh;
		text-align:left;
		box-sizing: border-box;
		padding:20px;
		font-family: effra_regular;
	}


	.offline-scroll-two .right .offline-subtitle{

	  font-family: effra_medium;
	  margin-bottom:10px;

	}


	.offline-scroll-two .bold{

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}

.offline-scroll-two a {
  color:#e77f24;
}

.offline-scroll-two a:visited {
  color:#e77f24;
}
.offline-scroll-two .video-section {
  padding-bottom:60px;
  max-width:640px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.offline-scroll-two .video-container{
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.offline-scroll-two .video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
