
 /* ==========================================================================
  DOWNLOAD
   ========================================================================== */

 .download-title {
    width: calc(100% - 80px);
    margin: 0 auto;
    text-align: center;
	margin-bottom:40px;
  }

  .download-subtitle {
	width: calc(100% - 80px);
	margin: 0 auto;
	text-align: center;
  }

  @media (min-width: 801px) {

	  .download-scroll-one {
		  margin-top:100px;border-bottom:1px solid #eee;padding-bottom:60px;
	  }
	 .download-options {
		max-width:900px;
		margin:0 auto;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:flex-start;
	  }

	  .download-option {
	  	width:420px;
	  	height:420px;
	  	box-sizing:border-box;
	  	padding:20px;
	  	text-align:center;
	  	font-family:effra_regular;
	  	line-height:1.3;
  		}

		.download-option-agents {
			margin-right:20px;
		}

		 .download-option img {
			height:50px;
		 }

		 .download-platform {
		  display:inline-block;
		  width:140px;
		  height:50px;
		  line-height:50px;
		  letter-spacing:3px;
		  font-family:proxima_nova_rgregular;
		  font-size:14px;
		  vertical-align:top;
		  margin-left:10px;
		  text-align:left;
	  }
  }

  @media (max-width: 800px) {
	 .download-scroll-one {
		  margin-top:100px;
	  }

	  .download-options {
		width:100%;
		margin:0 auto;
  	}

  .download-option {
	  	width:calc(100% - 40px;);
	  	height:340px;
	  	box-sizing:border-box;
	  	padding:20px;
	  	text-align:center;
	  	font-family:effra_regular;
		  margin:0 auto;
	  	line-height:1.3;
  		}

		.download-option img {
			height:40px;
		 }

		 .download-platform {
		  display:inline-block;
		  width:calc(50% - 30px);
		  height:40px;
		  line-height:40px;
		  letter-spacing:3px;
		  font-family:proxima_nova_rgregular;
		  font-size:14px;
		  vertical-align:top;
		  margin-left:10px;
		  text-align:left;
	  }
  }




  .download-option-type {

    height:30px;
    line-height: 30px;
    width:100%;
    letter-spacing: 3px;
    font-family:proxima_nova_rgregular;

  }

  .download-option-desc {
    height:40px;
	line-height:1.3;

  }
