/* ==========================================================================
  AGENT
   ========================================================================== */


  .spacio-top-menu{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
    background: white;
    z-index: 100;
  }

  .web-menu{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
  }

  .spacio-top-menu-logo{
    display: block;
    width: 160px;
    text-align: center;
  }

  a, a:visited {
    color:currentColor;
    text-decoration: none;
  }

  body{
    font-family:effra_regular;
    font-size:16px;
  }

  .twitter-button{
    display:inline-block;
    float:right;
    padding-top:5px;
    padding-left:5px;
    padding-right:20px;
    width: 60px;
  }

  .fb-share-button{
    display: inline-block !important;
    float:right;
    padding-top:5px;
    width: 60px;
  }

/* this is desktop version */
@media (min-width: 641px) {

  .main-container {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-top:120px;
  }

  .title{
    width:100%;
    height: 40px;
    text-align: left;
    font-size:20px;
    line-height: 40px;
    font-family:effra_regular;
    background-color:#f2f2f2;
    padding:0px 10px;
    box-sizing:border-box;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .questions{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    line-height:30px;
    padding-top:10px;
  }

  .question{
    width:100%;
    line-height:30px;
    padding-top:10px;
    font-size: 16px;
    font-family: effra_regular;
    word-wrap: normal;
  }

  .answer{
    width:100%;
    line-height:30px;
    padding-left: 20px;
    font-size:14px;
    font-family: effra_regular;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .submit-button{
    box-sizing: border-box;
    margin-top:20px;
    height: 30px;
    float: left;
    line-height: normal;
    text-align: center;
    background: #E87E04;
    cursor: pointer;
    border: none;
    color: white;
    font-family: effra_regular;
    width: 185px;

  }


}/*end of media min width 641px*/

/* this is mobile version */
@media (max-width: 640px) {
  .main-container {
    display:block;
    max-width:500px;
    width: 100%;
    margin-top:60px;
    overflow: auto;
  }

  .title{
    width: calc(100% - 60px);
    margin:0px 30px;
    height: 40px;
    text-align: left;
    font-size:20px;
    line-height: 40px;
    font-family:effra_regular;
    background-color:#f2f2f2;
    padding-left:10px;
    box-sizing:border-box;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .questions{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    line-height:30px;
    padding-top:10px;
    box-sizing:border-box;
    align-items: center;
  }

  .question{
    width:100%;
    line-height:30px;
    padding-top:10px;
    font-size: 16px;
    text-align:left;
    font-family: effra_regular;
    word-wrap: normal;
  }

  .answer{
    width:100%;
    line-height:30px;
    padding-left: 20px;
    font-size:14px;
    font-family: effra_regular;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .submit-button{
    box-sizing: border-box;
    margin-top:20px;
    height: 30px;
    float: left;
    line-height: normal;
    text-align: center;
    background: #E87E04;
    cursor: pointer;
    border: none;
    color: white;
    font-family: effra_regular;
    width: 185px;
  }


}/*End of media max width 640px*/
