/* ==========================================================================
  MANUAL
   ========================================================================== */

@media (min-width: 901px) {

	.features-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
		vertical-align:top;
	}

	.features-scroll-one .content {
	  max-width: 800px;
	  color:#bababa;
	  margin: 0 auto;

	}

	.features-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.features-scroll-one .content .desc {
	  font-family: effra_light;
	  line-height: 1.6;
	}

	.features-scroll-two {
	 	padding-top: 60px;
		padding-bottom:60px;
		width:100%;
		margin:0 auto;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;

	}

	.features-scroll-two .left {
		width:300px;
		display:inline-block;
		height:auto;
		text-align:left;
		vertical-align:top;
		margin-right:20px;
	}

	.features-scroll-two .left .feature-title {
		width:100%;
		padding-top:10px;
		margin-top:10px;
		border-top:1px solid #eee;
		font-family:effra_medium;
		letter-spacing:3px;
		cursor:pointer;
	}

	.features-scroll-two .left .feature-subtitles {
		display:none;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		box-sizing:border-box;
		width:100%;
	}

	.features-scroll-two .left .feature-subtitle {
		width:100%;
		line-height:1.2;
		font-family:effra_regular;
		color:#5e5e5e;
		cursor:pointer;
		margin-bottom:15px;
	}

	.features-scroll-two .right {
		width:440px;
		display:inline-block;
		height:auto;
		vertical-align:top;
		text-align:left;

	}

	.features-scroll-two .right .feature-subtitle {
		font-family:effra_medium;
		margin-bottom:10px;
	}

	.features-scroll-two .right .feature-desc {
	}

	.hidden {
		display:none;
	}


}

/* ==========================================================================
  MOBILE
   ========================================================================== */

@media (max-width: 900px) {

	.features-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
		vertical-align:top;
	}

	.features-scroll-one .content {
	  max-width: 800px;
	  color:#bababa;
	  margin: 0 auto;

	}

	.features-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.features-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.features-scroll-two {
		box-sizing:border-box;
		padding:20px;
	 	padding-top:60px;
		padding-bottom:60px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:left;

	}

	.features-scroll-two .left {
		display:none;
	}

	.features-scroll-two .left .feature-title {
		width:100%;
		padding-top:10px;
		margin-top:10px;
		border-top:1px solid #eee;
		font-family:effra_medium;
		letter-spacing:3px;
		cursor:pointer;
	}

	.features-scroll-two .left .feature-subtitles {
		display:none;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		box-sizing:border-box;
		width:100%;
	}

	.features-scroll-two .left .feature-subtitle {
		width:100%;
		line-height:1.2;
		font-family:effra_regular;
		color:#5e5e5e;
		cursor:pointer;
		margin-bottom:15px;
	}

	.features-scroll-two .right {
		width:100%;
		height:auto;
	}

	.features-scroll-two .right .feature-subtitle {
		font-family:effra_medium;
		margin-bottom:10px;
	}

	.features-scroll-two .right .feature-desc {
		margin-top:15px;
	}

}
