table, th, td {
  border: 1px solid #000000;
  table-layout: fixed;
  text-align: center;
  width: 100%
}

th {
  background: #F5F5F5;
}

th, td {
  padding: 8px;
}

.oh-checklist-container {
  letter-spacing: 0.9px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 800px;
}

.oh-checklist-table {
  line-height: 1.4;
}

/* ****** LINKS ****** */

 .oh-checklist-container a, .oh-checklist-container a:visited {
   color:#e77f24;
 }

 .tutorials-container a, .tutorials-container a:visited {
   color:#e77f24;
 }

 /* ****** END OF LINKS ******* */

/* ******* HEADER ******* */
#oh-checklist-google-link {
  margin: 5px auto;
  float:none;
}

#oh-checklist-google-link a, #oh-checklist-google-link a:visited  {
  color:#ffffff;
}

.checklist-header {
display: flex;
margin: 20px auto;
}

.checklist-spacio-logo img {
  display: block;
  height: 96px;
  width:390px;
}

/* ******* LEFT MENU******* */

/* === LEADS QUALIFICATION PROGRAM PAGE ===*/


.program-menu-item, .planning-menu-item, .next-level-mrkt-menu-item, .relationships-menu-item  {
  background-size: 25px 25px;
  background-position: right bottom 5px;
  background-repeat: no-repeat;
  background-image: url(../img/website/arrow_down_black.png);
}

.program-menu-item.selected, .planning-menu-item.selected, .next-level-mrkt-menu-item.selected, .relationships-menu-item.selected {
  background-image: url(../img/website/arrow_up_black.png);
}

#program-menu-not-selected, #planning-menu-not-selected, #next-level-mrkt-menu-not-selected, #relationships-menu-not-selected {
  display: none;
}

.left .subtitle-items .submenu {
  font-family: effra_light;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 15px;
  margin-bottom:5px;
  padding-bottom:8px;
  margin-top:5px;
  text-transform:none;
  color:#3a3a3a;
  cursor:pointer;
  border-bottom:1px solid #eee;
  display: flex;
}

#submenu-last-leadsplus {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-bottom: 8px;
}

/* === END OF LEADS QUALIFICATION... ===  */



/* ***** STYLING CUSTOMIZATIONS ***** */

/* === FOR EMAIL TEMPLATES === */

.highlight-orange {
  background-color: #e77f24;
  color:#ffffff;
}
/* ====== */

.italicize {
  font-style: italic;
}

.leadsPlusTitle {
  color: #3a3a3a;
  font-family: effra_medium;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.leadsPlusImg {
  width: 100%;
}
.letterSpacing {
  letter-spacing: 0.9px;
}

#letterSpacing {
  letter-spacing: 0.9px;
}

.ohTableLeftAlign {
  text-align: left;
  padding: 0px;
}

.section-header-no-title {
  background-color: #000000;
  height:20px;
}

.section-header-with-title {
  background:#000000;
  color:#fff;
  text-align: left;
}

@media (max-width:900px) {
  #listing_presentation_one_pager_general {
    display:none;
  }
}
