textarea {
  resize: none;
}

body {
  height:100vh;
}

@media (min-width:701px) {

  .gmap-button {
    width:100%;
  }

  .gmap-button-mobile {
    display: none;
  }

  .powered-by-spacio {
    position: absolute;
    bottom: 0;
    left: 0;
    height:30px;
    box-sizing: border-box;
    text-align: right;
    line-height: 30px;
    padding: 0 20px;
    color:white;
    font-size:12px;
    font-family: effra_regular;
    cursor: pointer;
  }

  .brokerage-logo-mobile{

    display: none;

  }

  .listing-scroll-one {
    width:100%;
    height:100vh;
    background:#eee;
    position: relative;
    box-sizing: border-box;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .left-column {
    width:300px;
    position: absolute;
    top:0px;
    left:0;
    box-sizing: border-box;
    background:white;
    max-height:calc(100vh - 30px);
    overflow: auto;

  }
    .padded-content{
    padding:20px;

  }
  .brokerage-logo{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    height:80px;
    margin-bottom:20px;

  }

  .listing-title{
    font-size:20px;
    font-family: effra_medium;
    margin-bottom:5px;

  }

  .listing-address {
    margin-bottom:10px;

  }

  .listing-desc-container{
    position: absolute;
    bottom:30px;
    right:0px;
    width: 300px;
    background: white;
    line-height: 1.4;
    max-height: 75vh;
    overflow: auto;
  }

  .listing-desc-title{
    font-family: effra_medium;
    padding:20px 20px;
    box-sizing: border-box;
    width:100%;height:30px;line-height:30px;letter-spacing:3px;
  }


  .listing-desc{
    padding: 20px;
  }

  .agent-pphoto {
    order:1;
    flex-basis: 60px;
    width:60px;
    height:60px;
    border-radius: 60px;
    overflow: hidden;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;

  }

  .agent-name {
    font-family: effra_regular;
    font-size:20px;

  }

  .agent-name-container {
    order:2;
    width:calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding:0px 10px;
  }

  .agent-name {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .agent-title {
    font-size:14px;
    font-family: effra_light;
    width:100%;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/

  }
  .agent-email, .agent-phone, .agent-mobile, .agent-website, .agent-facebook, .agent-twitter, .agent-instagram {
    margin-bottom:5px;
    font-family: effra_regular;
  }
  .listing-icon {
    display: inline-block;
    text-align: center;
    width:16px;
    font-size:12px;
    margin-right:3px;
  }
  .listing-beds,.listing-baths,.listing-size{
    font-family: effra_regular;
    margin-bottom:3px;

  }

  .price-panel {
    width:100%;
    padding: 20px;
    color:white;
    font-size:24px;
    font-family: effra_regular;
    box-sizing: border-box;

  }

  .view-more-panel{
    width:100%;
    padding: 10px 20px;
    font-family: effra_regular;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    border-top:1px solid rgba(0,0,0,0.1);
  }

  .view-more-panel:hover{
    opacity: 0.5;
  }

  .inquire-button{
    padding: 0px 20px;
    height:30px;
    line-height: 30px;
    font-family: effra_regular;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-top:1px solid rgba(0,0,0,0.1);
    color:white;
    margin-bottom:10px;
  }

  .inquire-button:hover{
    opacity: 0.5;
  }

  .listing-scroll-one .right {
    width:50%;
    height: 100%;
    position: absolute;
    top:0px;
    left:50%;
    background:white;
  }

  .signin-form-overlay {
    position: fixed;
    z-index:100;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display: none;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
    background: rgba(0,0,0,0.65);
  }

  .signin-form {
    width:600px;
    height:100%;
    overflow: hidden;
    position: relative;
    background:white;
    margin: 0 auto;
  }

  .form-title-section {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
  }

  .form-content-section {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    text-align: left;
    box-sizing: border-box;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
  }

  .signin-button {
    border:none;
    -webkit-appearance: none;
    margin-top: 18px;
    margin-left:10px;
    height: 44px;
    float:right;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
    font-family: effra_regular;
    -webkit-user-select: none;
    z-index: 10;
    border-radius: 0px;
  }

  .cancel-button {
    border:1px solid black;
    -webkit-appearance: none;
    margin-top: 18px;
    margin-left:10px;
    height: 44px;
    float:right;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
    font-family: effra_regular;
    -webkit-user-select: none;
    z-index: 10;
    border-radius: 0px;
    background:transparent;
  }

  .visitor-info-input-row {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-direction: row;
  }

  .visitor-info-input-row .input-label {
    order: 1;
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    text-align: left;
    line-height: 40px;
    border-right: 1px solid #eee;
    font-family: effra_medium;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
  }

  .visitor-info-input-row input[type="text"],
  .visitor-info-input-row input[type="email"],
  .visitor-info-input-row input[type="tel"]{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .visitor-info-input-row textarea{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    font-family: effra_light;
    box-sizing: border-box;
    padding:12px 20px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right top;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .add-registrant-question-row {

  }

  .add-registrant-question-row .question{
    width:100%;
    padding: 10px 20px;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: effra_medium;
  	border: none!important;
  }

  .add-registrant-question-row input[type="text"]{
    height:40px;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
    width:100%;
    border-bottom: 1px solid #f2f2f2;

  }

  .full-width-checkboxes {
  	width: 100%;
  	border-bottom: 1px solid #f2f2f2;
  	padding-bottom: 10px;

  }

  .half-width-checkboxes {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	border-bottom: 1px solid #f2f2f2;
  	padding-bottom: 10px;


  }

  .full-width-checkboxes .checkbox{
  	width: 100%;
  	box-sizing: border-box;
  	padding-left:20px;
  	height: 30px;
  	line-height: 30px;

  }

  .half-width-checkboxes .checkbox{
  	flex-grow: 1;
  	box-sizing: border-box;
  	padding-left:20px;
  	height: 30px;
  	line-height: 30px;

  }

  .add-registrant-question-row [type="radio"]:checked,
  .add-registrant-question-row [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  		visibility: hidden;
  }
  .add-registrant-question-row [type="radio"]:checked + label,
  .add-registrant-question-row [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 30px;
      display: inline-block;
      color: #666;
  		height:30px;
  }
  .add-registrant-question-row [type="radio"]:checked + label:before,
  .add-registrant-question-row [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 4px;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      border-radius: 100%;
      background: #fff;
  }
  .add-registrant-question-row [type="radio"]:checked + label:after,
  .add-registrant-question-row [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #333;
      position: absolute;
      top: 9px;
      left: 5px;
      border-radius: 100%;

  }
  .add-registrant-question-row [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  .add-registrant-question-row [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  .bottom-bar-mobile {
    display: none;
  }

  .comments-row {
    height:120px;
  }

  .comments-row .input-label {
    flex-basis:130px;
  }

}

@media (max-width:700px) {
  .gmap-button-mobile {
    width:40px;
    height:40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius:40px;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    background-color: white;
  }

  .gmap-button {
    display:none;
  }
  .brokerage-logo-mobile{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    background-color:white;
    height:80px;
    width: 100%;
  }

  .listing-desc-container{
    display: none;
  }
  .listing-scroll-one {
    width:100%;
    height:300px;
    background:#eee;
    position: relative;
    box-sizing: border-box;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .left-column {
    width:100%;
    box-sizing: border-box;
    background:white;

  }
  .padded-content{
    padding:20px;

  }
  .brokerage-logo{

    display: none;

  }

  .listing-title{
    font-size:20px;
    font-family: effra_medium;

  }

  .listing-address {
    margin-bottom:10px;

  }

  .agent-pphoto {
    order:1;
    flex-basis: 60px;
    width:60px;
    height:60px;
    border-radius: 60px;
    overflow: hidden;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;

  }

  .agent-name {
    font-family: effra_regular;
    font-size:20px;

  }

  .agent-name-container {
    order:2;
    width:calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding:0px 10px;
  }

  .agent-name {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .agent-title {
    font-size:14px;
    font-family: effra_light;
    width:100%;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/

  }
  .agent-email, .agent-phone, .agent-mobile, .agent-website, .agent-facebook, .agent-twitter, .agent-instagram {
    margin-bottom:5px;
    font-family: effra_regular;
  }
  .listing-icon {
    display: inline-block;
    text-align: center;
    width:16px;
    font-size:12px;
    margin-right:3px;
  }
  .listing-beds,.listing-baths,.listing-size{
    font-family: effra_regular;
    margin-bottom:3px;

  }

  .price-panel {
    width:100%;
    padding: 20px;
    color:white;
    font-size:24px;
    font-family: effra_regular;
    box-sizing: border-box;

  }

  .view-more-panel{
    width:100%;
    padding: 15px 20px;
    font-family: effra_regular;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-top:1px solid rgba(0,0,0,0.1);
  }

  .view-more-panel:hover{
    opacity: 0.5;
  }

  .powered-by-spacio {

    height:60px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    padding: 0 20px;
    width: 100%;
    color:black;
    font-size:12px;
    font-family: effra_regular;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .inquire-button{
    padding: 0px 20px;
    height:30px;
    line-height: 30px;
    font-family: effra_regular;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-top:1px solid rgba(0,0,0,0.1);
    color:white;
    margin-bottom:10px;
  }

  .inquire-button:hover{
    opacity: 0.5;
  }

  .signin-form-overlay {
    position: fixed;
    z-index:100;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display: none;
    box-sizing: border-box;
    padding:10px;
    background: rgba(0,0,0,0.65);
  }

  .signin-form {
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
    background:white;
  }

  .form-title-section {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0px;
    border-bottom: 1px solid #eee;
  }

  .form-content-section {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 60px;
    z-index: 10;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
  }

  .bottom-bar-mobile {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height:40px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    background: white;
    border-top:1px solid black;
  }

  .signin-button-mobile {
    order:2;
    flex-grow: 1;
    height:100%;
    border:none;
    -webkit-appearance: none;
    border-radius: 0px;
    font-family: effra_regular;
    color:white;



  }

  .cancel-button-mobile {
    order:1;
    flex-grow: 1;
    height:100%;
    border:none;
    -webkit-appearance: none;
    border-radius: 0px;
    font-family: effra_regular;
    background:white;
    color:black;

  }
  .signin-button {
    border:none;
    -webkit-appearance: none;
    height: 40px;
    float:right;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
    font-family: effra_regular;
    -webkit-user-select: none;
    z-index: 10;
    border-radius: 0px;
    display: none;

  }

  .cancel-button {
    border:1px solid black;
    -webkit-appearance: none;
    height: 40px;
    float:right;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
    font-family: effra_regular;
    -webkit-user-select: none;
    z-index: 10;
    border-radius: 0px;
    background:transparent;
    display: none;
  }

  .visitor-info-input-row {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-direction: row;
  }

  .visitor-info-input-row .input-label {
    order: 1;
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    text-align: left;
    line-height: 40px;
    border-right: 1px solid #eee;
    font-family: effra_medium;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
  }

  .visitor-info-input-row input[type="text"],
  .visitor-info-input-row input[type="email"],
  .visitor-info-input-row input[type="tel"]{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .visitor-info-input-row textarea{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    font-family: effra_light;
    box-sizing: border-box;
    padding:12px 20px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right top;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .add-registrant-question-row {

  }

  .add-registrant-question-row .question{
    width:100%;
    padding: 10px 20px;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: effra_medium;
  	border: none!important;
  }

  .add-registrant-question-row input[type="text"]{
    height:40px;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
    width:100%;
    border-bottom: 1px solid #f2f2f2;

  }

  .full-width-checkboxes {
  	width: 100%;
  	border-bottom: 1px solid #f2f2f2;
  	padding-bottom: 10px;

  }

  .half-width-checkboxes {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	border-bottom: 1px solid #f2f2f2;
  	padding-bottom: 10px;


  }

  .full-width-checkboxes .checkbox{
  	width: 100%;
  	box-sizing: border-box;
  	padding-left:20px;
  	height: 30px;
  	line-height: 30px;

  }

  .half-width-checkboxes .checkbox{
  	flex-grow: 1;
  	box-sizing: border-box;
  	padding-left:20px;
  	height: 30px;
  	line-height: 30px;

  }

  .add-registrant-question-row [type="radio"]:checked,
  .add-registrant-question-row [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  		visibility: hidden;
  }
  .add-registrant-question-row [type="radio"]:checked + label,
  .add-registrant-question-row [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 30px;
      display: inline-block;
      color: #666;
  		height:30px;
  }
  .add-registrant-question-row [type="radio"]:checked + label:before,
  .add-registrant-question-row [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 4px;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      border-radius: 100%;
      background: #fff;
  }
  .add-registrant-question-row [type="radio"]:checked + label:after,
  .add-registrant-question-row [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #333;
      position: absolute;
      top: 9px;
      left: 5px;
      border-radius: 100%;

  }
  .add-registrant-question-row [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  .add-registrant-question-row [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  .comments-row {
    height:160px;
    flex-direction: column;
  }

  .comments-row .input-label {
    flex-basis:40px;
    width:100%;
  }


}
