/* ==========================================================================
  MANUAL
   ========================================================================== */

	 /* LINKS */
   .manual-scroll-two .right a, .manual-scroll-two .right a:visited {
     color:#e77f24;
   }

@media (min-width: 901px) {

	.manual-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.manual-scroll-one .content {
	  max-width: 800px;
	  color:#bababa;
	  margin: 0 auto;

	}

	.manual-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.manual-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.manual-scroll-two {
	  	padding-top:60px;
		padding-bottom:60px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}

	.manual-scroll-two .left {
		width:200px;
		text-align:left;
		position:absolute;
		top:60px;
		left:calc(50% - 400px);
	}

	.manual-scroll-two .right {
		width:580px;
		min-height:100vh;
		text-align:left;
		margin-left:20px;
		position:relative;
		left:calc(50% - 400px + 220px);
	}

	.manual-scroll-two .left .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;
	  cursor:pointer;
	  border-bottom:1px solid #eee;

	}

	.manual-scroll-two .right .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:20px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;

	}

	.manual-scroll-two .question{
	  	margin-bottom:10px;

	}

	.manual-scroll-two .bold{

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}

@media (max-width: 900px) {

	.manual-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.manual-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;

	}

	.manual-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.manual-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.manual-scroll-two {
	  padding-top:20px;
		padding-bottom:20px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}

	.manual-scroll-two .left {
		display:none;
	}

	.manual-scroll-two .right {
		width:100%;
		min-height:100vh;
		text-align:left;
		box-sizing: border-box;
		padding:20px;
	}

	.manual-scroll-two .left .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;
	  cursor:pointer;
	  border-bottom:1px solid #eee;

	}

	.manual-scroll-two .right .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:20px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;

	}

	.manual-scroll-two .question{
	  	margin-bottom:10px;

	}

	.manual-scroll-two .bold{

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}
