/* ==========================================================================
  OFFLINE
   ========================================================================== */

   /* ==========================================================================
   TABLE
   ========================================================================== */

   table, th, td {
     border: 1px solid #000000;
     table-layout: fixed;
     text-align: center;
     width: 100%
   }

   th {
     background: #F5F5F5;
   }

   th, td {
     padding: 5px;
   }


   /* ==========================================================================
   VIDEO
   ========================================================================== */

   .offline-scroll-two .video-section {
     padding-bottom: 15px;
     max-width: 640px;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
   }

   .offline-scroll-two .video-container{
     float: none;
     clear: both;
     width: 100%;
     position: relative;
     padding-bottom: 56.25%;  /* 16:9 */
     padding-top: 25px;
     height: 0;


   }

   .offline-scroll-two .video-section iframe {
     position: absolute;
     top: 0;
     left: 155px;
     width: 100%;
     height: 100%;
   }

   /* LINKS */
   .offline-scroll-two a {
     color:#e77f24;
   }

   .offline-scroll-two a:visited {
     color:#e77f24;
   }

   .offline-scroll-two .question {
       margin-bottom:10px;
        font-weight: bold;
   }

@media (min-width: 901px) {

	.offline-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.offline-scroll-one .content {
	  max-width: 800px;
	  color:#bababa;
	  margin: 0 auto;

	}

	.offline-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.offline-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.offline-scroll-two {
	  padding-top:60px;
		padding-bottom:60px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}


	.offline-scroll-two .left {
    width:235px;
		text-align:left;
		position:absolute;
		top:60px;
		left:calc(48% - 410px);
    z-index: 1000;
	}

	.offline-scroll-two .right {
		width:580px;
		min-height:100vh;
		text-align:left;
		margin-left:20px;
		position:relative;
		left:calc(50% - 400px + 220px);
	}


	.offline-scroll-two .left .subtitle{

    font-family: effra_medium;
	  letter-spacing: 0.9px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;
	  cursor:pointer;
	  border-bottom:1px solid #eee;
		background-size: 30px 30px;
    background-position: right bottom 5px;
    background-repeat: no-repeat;
		background-image: url(../img/website/arrow_down_black.png);

	}

  .offline-scroll-two .left .subtitle.selected {

    background-image: url(../img/website/arrow_up_black.png);

  }

  .offline-scroll-two .left .subtitle-items {

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;
	  cursor:pointer;
	  border-bottom:1px solid #eee;

	}


  #general_information-menu-not-selected,
  #getting_started-menu-not-selected,
  #troubleshooting-menu-not-selected {
    display: none;
  }

  #submenu-last {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .offline-scroll-two .left .subtitle-items .submenu {

    font-family: effra_light;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 15px;
    margin-bottom:5px;
    padding-bottom:8px;
    margin-top:5px;
    text-transform:none;
    color:#3a3a3a;
    cursor:pointer;
    border-bottom:1px solid #eee;
    display: flex;

  }


	.offline-scroll-two .right .subtitle {

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:20px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;

	}

	.offline-scroll-two .bold {

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}

@media (max-width: 900px) {

    /* Video */
  .offline-scroll-two .video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

	.offline-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;

	}

	.offline-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;

	}

	.offline-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.offline-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

	.offline-scroll-two {
	  padding-top:20px;
		padding-bottom:20px;
		width:100%;
		line-height:1.4;
		border-bottom:1px solid #eee;
		text-align:center;
		position:relative;
	}

	.offline-scroll-two .left {
		display:none;
	}

	.offline-scroll-two .right {
		width:100%;
		min-height:100vh;
		text-align:left;
		box-sizing: border-box;
		padding:20px;
	}

	.offline-scroll-two .left .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;
	  cursor:pointer;
	  border-bottom:1px solid #eee;

	}

	.offline-scroll-two .right .subtitle{

	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:20px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#3a3a3a;

	}

	.offline-scroll-two .question{
	  	margin-bottom:10px;

	}

	.offline-scroll-two .bold{

	  font-family: effra_medium;
	  color:#3a3a3a;

	}
}
