/* ==========================================================================
  PARTNERS
   ========================================================================== */



.partners-scroll-one .content .title {
  font-family:proxima_nova_rgregular;
  letter-spacing: 3px;

}

.partners-scroll-one .content .subtitle {
  font-family:effra_regular;
  line-height: 1.3;
}

@media (min-width: 901px) {

  .partners-scroll-one {
    background-color: white;
    /*padding:60px 20px;*/
    padding-top: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
  }

  .partners-scroll-one .content {
    max-width: 900px;
    color:#282828;
    margin: 0 auto;
    text-align: left;
  }

.partner-squares {
  margin-top:30px;
  margin-bottom:40px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.partner-square {
  position:relative;
  width:250px;
  height:250px;
  margin-right:10px;
  margin-bottom:10px;
  background-color:#f8f8f8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px auto;
  cursor: pointer;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.learn-more-button {
    height:40px;
    line-height:40px;
    border:1px solid black;
    width:130px;
    font-size:16px;
    text-align:center;
    text-transform:uppercase;
    color:black;
    cursor: pointer;
    font-family: effra_regular;
    position: absolute;
    bottom: 20px;
    left:60px;
    display: none;
}
.partner-square:hover .learn-more-button {
  display: block;

}

}

@media (max-width: 900px) {

  .partners-scroll-one {
    background-color: white;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:10px;
    padding-top: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
  }

  .partners-scroll-one .content {
    width:100%;
    color:#282828;
    margin: 0 auto;
    text-align: left;
  }

  .partner-squares {
    margin-top:30px;
    margin-bottom:40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .partner-square {
    position:relative;
    width:calc(50vw - 25px);
    height:calc(50vw - 25px);
    margin-right:10px;
    margin-bottom:10px;
    background-color:#f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
    cursor: pointer;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
  }

  .learn-more-button {
    display:none;
  }

}
