/* ==========================================================================
  PARTNER
   ========================================================================== */


@media (min-width: 901px) {
  .partner-scroll-one {
    background-color: #232323;
    padding:60px 20px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .partner-scroll-one .content {
    max-width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .partner-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
  }

  .partner-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
  }

  .partner-scroll-two {
    padding:60px 0px;
    padding-bottom:10px;
  }

  .partner-scroll-two .content {
    width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .partner-scroll-two .content .partner-top-row{
    width:100%;display:flex;justify-content:space-between;flex-direction:row;
  }

  .partner-scroll-two .content .logo-section {
    flex:1;
    display:inline-block;
    width:390px;
    /*height:100%;*/
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:240px auto;
    background-position: center center;
    vertical-align: top;
  }

  .partner-scroll-two .content .info-section {
    flex:1;
    display: inline-block;
    box-sizing: border-box;
    width:390px;
    padding-top:40px;
    border-top:1px solid #c5c5c5;
    vertical-align: top;
    color: #666666;
  }

  .partner-hq {
    width:50%;
    float:left;
  }

  .partner-website {
    width:49%;
    float:left;
  }

  .partner-highlights {
    margin-top:40px;
    width:100%;
    float:left;
    line-height: 1.6;
  }


  .info-section-title {
    margin-bottom:20px;
    font-family:effra_medium;
    color:black;
  }

  .full-width-section-title{

    font-family:effra_medium;
    color:black;
    width:800px;
    margin:0 auto;
    margin-bottom:20px;

  }

  .full-width-section{
    width:100%;
    margin-top:40px;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:40px;
    padding-top:40px;
    padding-bottom:40px;
    text-align: center;
    line-height: 1.6;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
  }

  .full-width-image-section{
    width:800px;

  }

  .partner-scroll-two .content .how-section {
    display: inline-block;
    box-sizing: border-box;
    width:390px;
    margin-top:40px;
    margin-right:10px;
    padding:20px;
    background:#F8F8F8;
    line-height: 1.6;
    color:#333;
    vertical-align: top;
  }

  .partner-scroll-two .content .benefits-section {
    display: inline-block;
    box-sizing: border-box;
    width:390px;
    padding:20px;
    margin-top:40px;
    line-height: 1.6;
    color:#666666;
    vertical-align: top;
  }

  .partner-scroll-three .companies {
    margin-top:10px;
    font-size: 18px;
  }

  .partner-scroll-three .companies-flex{
    margin:0px auto;
    width:900px;
    font-size: 18px;
    margin-bottom:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-scroll-three .companies .companies-logo-section {
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
    max-height:100px;
    max-width:180px;
  }

  .partner-scroll-three .companies-flex .partner-company-logo {
    position:relative;
    margin-right: 10px;
    margin-bottom: 10px;
    width:250px;
    height:125px;
    /*background-color: #f8f8f8;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85% auto;
  }

}

@media (max-width: 900px) {
  .partner-scroll-one {
    background-color: #232323;
    padding:60px 40px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .partner-scroll-one .content {
    width: 100%;
    color:#bababa;
    margin: 0 auto;
  }

  .partner-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
    font-size:18px;
  }

  .partner-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
  }

  .partner-scroll-two {
    padding-top:0px;
    padding-bottom:40px;

  }

  .partner-scroll-two .content {
    box-sizing: border-box;
    color:#666666;
    padding:0 0px;
  }

  .logo-section {
    display:block;
    height:200px;
    background-repeat: no-repeat;
    background-size:60% auto;
    background-position: center center;
    vertical-align: top;
  }

  .partner-scroll-two .content .info-section {
    display: block;
    box-sizing: border-box;
    width:calc(100% - 40px);
    padding-top:20px;
    margin:0 auto;
    border-top:1px solid #c5c5c5;
    color: #666666;
  }

  .partner-hq {
    width:100%;
    margin-bottom:20px;
  }

  .partner-website {
    width:100%;
    margin-bottom:20px;
  }

  .partner-highlights {
    margin-top:20px;
    width:100%;
    line-height: 1.6;
  }

  .info-section-title {
    margin-bottom:5px;
    font-family:effra_medium;
    color:black;
  }

  .partner-scroll-two .content .how-section {
    display: block;
    box-sizing: border-box;
    width:100%;
    margin-top:20px;
    padding:20px;
    background:#F8F8F8;
    line-height: 1.6;
    color:#333;
  }

  .partner-scroll-two .content .benefits-section {
    display: block;
    box-sizing: border-box;
    width:100%;
    padding:20px;
    margin-top:10px;
    line-height: 1.6;
    color:#666666;
  }
  .full-width-section-title {
    margin-bottom:5px;
    font-family:effra_medium;
    color:black;
    text-align: center;
  }
  .full-width-section{
    margin-top: 20px;
    margin-bottom:20px;
    padding:20px;
    text-align: center;
    line-height: 1.6;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
  }

ol {
  padding:0;
}

  .full-width-image-section{
    width:90%;
  }

  .partner-scroll-three .companies {
    margin-top:10px;
  }

  .partner-scroll-three .companies-flex {
    margin-top:20px;
    margin-bottom:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-scroll-three .companies .companies-logo-section {
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
    width:75%;
  }
  .partner-scroll-three .companies-flex .partner-company-logo {
    position:relative;
    width:calc(100vw - 25px);
    height:calc(40vw - 25px);
    margin-bottom:10px;
    /*background-color: #f8f8f8;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
  }
}

.partner-scroll-two .partner-highlights a {
  color:#e77f24;
}

.partner-scroll-two .partner-highlights a:visited {
  color:#e77f24;
}

.partner-scroll-two .how-section a {
  color:#e77f24;
}

.partner-scroll-two .how-section a:visited {
  color:#e77f24;
}

.partner-scroll-two .benefits-section a {
  color:#e77f24;
}

.partner-scroll-two .benefits-section a:visited {
  color:#e77f24;
}

.partner-scroll-two .content .title {
  color:black;
  margin-bottom:20px;
  line-height:1.3;
}

.partner-scroll-two .content .video-section {
  padding-top:20px;
  max-width:640px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.partner-scroll-two .content .video-container{
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.partner-scroll-two .content .video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  margin-bottom:10px;
}

.partner-scroll-three {
  padding-top: 20px;
  padding-bottom:20px;
  border-bottom:1px solid #eeeeee;
  text-align: center;
  color:#666;
  line-height: 1.6;
}

.partner-scroll-three .agents-testimonials {
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
}

.partner-scroll-three .agents-testimonials .testimonial {
  width:250px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
  flex-basis:250px;
  flex-grow:0;
  flex-shrink:0;
}

.partner-scroll-three .agents-testimonials .testimonial .realtor-headshot {
  width: 100px;
  height: 100px;
  border-radius: 120px;
  padding: 0;
  border: 5px solid white;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.partner-scroll-three .agents-testimonials .testimonial .testimonial-names{
  font-family: proxima_nova_rgregular;
  text-transform: uppercase;
  letter-spacing: 3px;
}
