@media (min-width: 801px) {
  .payment-scroll-one {
    width:100%;
    min-height:100vh;
    margin:0 auto;

    background:#f2f2f2;
    color:black;
    padding-bottom:80px;
  }

  .payment-panel {
    width:600px;
    min-height:100vh;

    margin:0 auto;
    position:relative;
    overflow: hidden;
    text-align: left;
  }

  .step-1 {
    position: absolute;
    top:0px;
    left:0px;
    transition:0.5s ease-in;
    padding:120px 20px;
    box-sizing: border-box;
    width:100%;
  }

  .step-2 {
    position: absolute;
    top:0px;
    left:100%;
    transition:0.5s ease-in;
    padding:120px 20px;
    box-sizing: border-box;
    width:100%;
  }


  .payment-input-flex {
    height:40px;
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
    align-items: center;
    background:white;
  }

  .payment-input-flex-2 {
    height:120px;
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
    align-items: flex-start;
    background:white;
  }

  .payment-input-flex .payment-label {
    flex-basis: 200px;
    height:100%;
    line-height: 40px;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: effra_regular;
    color:#666;
  }

  .payment-input-flex-2 .payment-label {
    flex-basis: 110px;
    height:100%;
    line-height: 40px;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: effra_regular;
    color:#666;
  }

  .payment-input-flex .payment-seperator {
    flex-basis: 1px;
    height:20px;
    width:1px;
    background:#ccc;
  }

  .payment-input-flex-2 .payment-seperator {
    flex-basis: 1px;
    height:100px;
    margin-top:10px;
    width:1px;
    background:#ccc;
  }

  .payment-input-flex-2 .payment-plans {
    height:100%;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 1;
    border:none;
    font-family: effra_regular;
  }

  .payment-input-flex .payment-input, .payment-input-flex .payment-input-half {
    height:100%;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 1;
    border:none;
    font-family: effra_regular;
  }

  .payment-input-flex .payment-expiration-row {
    height:40px;
    line-height: 40px;
    width:100%;
    box-sizing: border-box;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
    display:flex;
    flex-direction: row;
  }


  .payment-input-flex .payment-select {
    height:100%;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:35px;
    font-size:16px;
    background:white;
    flex-grow: 1;
    border:none;
    font-family: effra_regular;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center right 10px;
    background-image: url(/assets/img/website/arrow_down_black.png);
    color:black;
    -webkit-appearance:none;

  }

  .payment-plan {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: top;
    margin-bottom:10px;
  }

  .payment-plan .payment-radio{
    flex-basis:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .payment-plan label{
    flex-grow: 1;
    padding-top:10px;
    line-height: 1.2;
    display: block;

  }

}

@media (max-width: 800px) {
  .payment-scroll-one {
    width:100%;
    min-height:100vh;
    margin:0 auto;

    background:#f2f2f2;
    color:black;
  }

  .payment-panel {
    width:100%;
    min-height:800px;

    margin:0 auto;
    position:relative;
    overflow: hidden;
    text-align: left;
  }

  .step-1 {
    position: absolute;
    top:0px;
    left:0px;
    transition:0.5s ease-in;
    padding:100px 20px;
    box-sizing: border-box;
    width:100%;
  }

  .step-2 {
    position: absolute;
    top:0px;
    left:100%;
    transition:0.5s ease-in;
    padding:100px 20px;
    box-sizing: border-box;
    width:100%;
  }


  .payment-input-flex {
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
    background:white;
  }

  .payment-input-flex-2 {
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    align-items: flex-start;
    background:white;
  }

  .payment-input-flex .payment-label {
    width:100%;
    height:40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: effra_regular;
    color:#666;
  }

  .payment-input-flex-2 .payment-label {
    width: 100%;
    height:40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: effra_regular;
    color:#666;
  }

  .payment-input-flex .payment-seperator {
    height:1px;
    width:100%;
    background:#ccc;
  }

  .payment-input-flex-2 .payment-seperator {
    height:1px;
    width:100%;
    background:#ccc;
  }

  .payment-input-flex-2 .payment-plans {
    height:auto;
    width:100%;
    box-sizing: border-box;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
  }

  .payment-input-flex .payment-input {
    height:40px;
    width:100%;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
  }

  .payment-input-flex .payment-expiration-row {
    height:40px;
    line-height: 40px;
    width:100%;
    box-sizing: border-box;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
    display:flex;
    flex-direction: row;
  }

  .payment-input-flex .payment-input-half {
    height:40px;
    flex-grow:1;
    box-sizing: border-box;
    padding-left:20px;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
  }


  .payment-input-flex .payment-select {
    height:40px;
    width:100%;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:35px;
    font-size:16px;
    background:white;
    border:none;
    font-family: effra_regular;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center right 10px;
    background-image: url(/assets/img/website/arrow_down_black.png);
    color:black;
    -webkit-appearance:none;

  }

  .payment-plan {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom:10px;
  }

  .payment-plan .payment-radio{
    flex-basis:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;

  }



  .payment-plan label{
    flex-grow: 1;
    padding-top:10px;
    line-height: 1.2;
    display: block;

  }

}


.payment-back-btn {
  display: inline-block;
  height:40px;
  border:1px solid black;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:black;
  -webkit-appearance:none;
  background:transparent;
  font-family:effra_regular;
  float:left;

}





.payment-next-btn {
  -webkit-apperance:none;
  display: inline-block;
  height:40px;
  border: none;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  -webkit-appearance:none;
  background:#e77f24;
  font-family:effra_regular;
}

.payment-submit-btn {
  -webkit-apperance:none;
  display: inline-block;
  height:40px;
  border: none;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  -webkit-appearance:none;
  background:#e77f24;
  font-family:effra_regular;
}

.charge-info {
  width:100%;
  margin-bottom:30px;
  margin-top:20px;
}

.bill-to {
  line-height: 1.4;
  font-family:effra_regular;
}
.charge-type, .plan-tax, .plan-discount, .plan-total {
  line-height: 1.4;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size:16px;
}

.left-column {
  order:1;
  font-family: effra_regular;
}

.right-column {
  order:2;
}
.plan-total {
  border-top:1px solid #333;
}

.payment-plan .payment-radio input[type="radio"]{
  margin-top:12px;

}
