/* ==========================================================================
  PODCAST
   ========================================================================== */

/* === HEADER ===*/

  .title-header {
    width: 800px;
    text-align: center;
    color: white;
    font-family: effra_medium;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .title-text {
    width: 800px;
    text-align: center;
    color: white;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 400;
  }
/* ============= */

/* === LINKS === */

   .podcasts a {
     color:#e77f24;
   }

   .podcasts a:visited {
     color:#e77f24;
   }
 /* ============= */

  /* HEADSHOT */

  .picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-sizing: border-box;
    border:2px solid #fba31e;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom: 15px;
  }
  /* ============= */

   .podcasts {
     font-family: effra_regular;
     font-size: 18px;
     line-height: 1.4;
     width: auto;
   }

   .podcast {
     display: flex;
     justify-content: center;
     margin: 0px auto;
     padding: 50px 0 2.5%
   }

   .podcast-art img {
     vertical-align: middle;
   }

   .podcast-title, .podcast-readmore {
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: .1em;
     text-decoration: underline;
   }

   .podcast-title {
     text-decoration: none;
     font-size: 20px;
   }

   .podcast-summary {
     padding-top: 15px;
     padding-bottom: 10px;
   }

   .podcast-readmore {
     font-size: 14px;
   }

@media (min-width: 901px) {

  .podcast {
    max-width: 1100px;
  }

  .short-black-line {
      width:75%;
      margin:20px auto;
      border-bottom:2px dotted #ccc;
    }

   .podcast-art {
     width: 35%;
     margin: -1% auto 3%;
   }

   .podcast-art img {
     width: 100%;
     height: auto;
   }

   .podcast-description {
    padding: 0 15px;
    text-align: left;
    width: 60%;
    word-spacing: 0.3em;
   }

   .podcast-audio {
     padding: 40px 0;
   }

/* LOGO STYLINGS FOR MAIN PAGE */

   .podcast-badges {
     outline: 0;
   }

   .podcast-badges img {
     width: 20%;
     margin-right: 1em;
   }
/* ================================== */

/* LOGO STYLINGS FOR SHOWNOTES PAGE */

   .podcast-badges-shownotes {
     /* padding-top: 20px; */
     display: flex;
     justify-content: flex-start;
     outline: 0;
   }

   .podcast-individual-badge {
     width: 120px;
     margin-right: 20px;
   }

   .podcast-individual-badge img {
     width: 100%;
   }
/* ==================================== */
}

/* =========== MOBILE ============*/
@media (max-width:900px) {

  .offline-scroll-one {
    background-color: #232323;
    padding: 30px 20px;
    padding-top: 90px;
    box-sizing: border-box;
  }

  .picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    background-image:url(https://mediarouting.vestahub.com/Media/22506516);
    border:2px solid #fba31e;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom: 15px;
  }

  .title-header {
    width: 100%;
    text-align: center;
    color: white;
    font-family: effra_medium;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .title-text {
    width: 100%;
    text-align: center;
    color: white;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
  }

  .podcast {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0px auto;
    padding: 30px 0 2.5%;
  }

  .short-black-line {
    width: 81%;
    margin: 20px auto;
    border-bottom: 2px dotted #ccc;
  }

  .podcast-art {
   box-sizing: border-box;
   float: left;
   padding: 0 30px 0 30px;
   width:100%;
  }

  .podcast-art img {
   width:100%;
   height: auto;
  }

  .podcast-description {
   box-sizing: border-box;
   float: right;
   padding: 30px 30px 0 30px;
   text-align: left;
   width: 100%;
   word-spacing: 0.3em;
  }

  .podcast-audio {
    padding: 20px 0;
  }

  .podcast-badges {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    outline: 0;
  }

  .podcast-badges img {
    width: 120px;
  }

  /* LOGO STYLINGS FOR SHOWNOTES PAGE */

     .podcast-badges-shownotes {
       /* padding-top: 20px; */
       display: flex;
       justify-content: flex-start;
       outline: 0;
     }

     .podcast-individual-badge {
       width: 80px;
       margin-right: 20px;
     }

     .podcast-individual-badge img {
       width: 100%;
     }
  /* ==================================== */
  }

}
