/* ==========================================================================
  PRICING
   ========================================================================== */

@media (min-width: 801px) {

  .pricing-title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    background: white;
  }

  .pricing-oh-packages {
    width:100%;
    padding-bottom:40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background:#F0F0F0;
  }

  .pricing-column {
    width:300px;
    margin-right:1px;
    letter-spacing: 3px;
  }

  .pricing-box {
    width:300px;
    height:280px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .pricing-box-type {
    position: absolute;
    left:0px;
    top:0px;
    height:40px;
    line-height: 40px;
    width:100%;
    letter-spacing: 3px;
    font-family:proxima_nova_rgregular;
    background: rgba(255,255,255,0.15);

  }

  .pricing-box-footer {
    position: absolute;
    left:0px;
    bottom:20px;
    height:30px;
    line-height: 30px;
    width:100%;
    font-family:proxima_nova_rgregular;
  }

  .pricing-box-footer .short-line {
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    width:50px;
    height: 1px;
  }

  .pricing-subtitle {
    width:100%;
    box-sizing: border-box;
    padding:40px 20px;

    background:white;
    letter-spacing: 0px;
    font-family:proxima_nova_rgregular;
    margin-bottom:1px;
  }

  .pricing-features-list {
    line-height: 1.8;
    text-align:center;
    letter-spacing: 0px;
  }

  .pricing-disclaimer {
    padding-bottom:40px;
    width:100%;
    text-align: center;
    background:#f0f0f0;
  }

  .pricing-features-list .feature {
    background:white;
    margin-bottom:1px;
    padding:15px 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.2;
    position: relative;
  }

  .pricing-features-list .sub-features {
    background:rgba(255,255,255,0.65);
    box-sizing: border-box;
    text-align: center;
    line-height: 1.4;
    color:#333;
    display:none;
  }

  .pricing-features-list .sub-features .sub-feature {
    margin-bottom:1px;
    padding:15px 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .collapsable .collapse-button, .collapsable .uncollapse-button {
    height:100%;
    width:40px;
    position: absolute;
    top:0px;
    right:0px;
    line-height: 49px;
    font-size:10px;
    text-align: center;
    color:#666;
  }

  .collapsable .uncollapse-button {
    display: none;
  }

  .collapsable.collapsed .uncollapse-button {
    display: block;
  }

  .collapsable.collapsed .collapse-button {
    display: none;
  }

  .collapsable.uncollapse-button {
    height:100%;
    width:40px;
    position: absolute;
    top:0px;
    right:0px;
    line-height: 40px;
    font-size:12px;
    text-align: center;
    display: none;
  }

  .pricing-features-list .feature.na {
    background:rgba(255,255,255,0.25);

    color:#CCC;
    text-decoration: line-through;
  }
  .pricing-features-list .feature-limitations .limitations-list {
  margin-top:10px;
  box-sizing: border-box;
  padding:10px;
  line-height:1.4;
  width:100%;
  background:white;
  box-shadow: 0px 0px 20px #666;

  display: none;
}

.pricing-features-list .feature-limitations:hover .limitations-list {
  display: block;
}
}

@media (max-width: 800px) {

  .small {
    font-size:16px;
  }

  .pricing-title {
    width: calc(100% - 40px);
    margin: 20px auto;
    text-align: center;
  }

    .pricing-oh-packages {
    width:100%;
    margin-bottom:40px;
    text-align: center;
    background:#F0F0F0;
  }

  .pricing-disclaimer {
    height:20px;
    line-height: 20px;
    width:100%;
    text-align: center;
  }

  .pricing-column {
    width:100%;
    letter-spacing: 3px;
	margin-bottom:20px;
  }

   .pricing-box {
    width:100%;
    height:280px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

   .pricing-box-type {
    position: absolute;
    left:0px;
    top:0px;
    height:40px;
    line-height: 40px;
    width:100%;
    letter-spacing: 3px;
    font-family:proxima_nova_rgregular;
    background: rgba(255,255,255,0.15);

  }

  .pricing-box-footer {
    position: absolute;
    left:0px;
    bottom:20px;
    height:30px;
    line-height: 30px;
    width:100%;
    font-family:proxima_nova_rgregular;
  }

  .pricing-box-footer .short-line {
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    width:50px;
    height: 1px;
  }

  .pricing-subtitle {
    width:100%;
    padding:30px 20px;
    background:white;
    box-sizing: border-box;
    letter-spacing: 0px;
    font-family:proxima_nova_rgregular;
    margin-bottom:1px;

  }

  .pricing-features-list {
    line-height: 1.8;
    text-align:center;
    letter-spacing: 0px;
  }

  .pricing-features-list .feature {
    background:white;
    margin-bottom:1px;
    padding:15px 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.2;
    position: relative;
  }

  .pricing-features-list .sub-features {
    background:rgba(255,255,255,0.8);
    margin-bottom:1px;
    padding:10px 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.8;
    color:black;
    font-family:effra_regular;
    display:none;
  }

  .collapsable .collapse-button, .collapsable .uncollapse-button {
    height:100%;
    width:40px;
    position: absolute;
    top:0px;
    right:0px;
    line-height: 49px;
    font-size:10px;
    text-align: center;
    color:#666;
  }

  .collapsable .uncollapse-button {
    display: none;
  }

  .collapsable.collapsed .uncollapse-button {
    display: block;
  }

  .collapsable.collapsed .collapse-button {
    display: none;
  }

  .collapsable.uncollapse-button {
    height:100%;
    width:40px;
    position: absolute;
    top:0px;
    right:0px;
    line-height: 40px;
    font-size:12px;
    text-align: center;
    display: none;
  }

  .pricing-features-list .feature.na {
    background:rgba(255,255,255,0.25);

    color:#CCC;
    text-decoration: line-through;
  }

  .pricing-features-list .feature-limitations {
  padding-top:10px;
  padding-bottom:10px;
  background:#eee;

}

  .pricing-features-list .feature-limitations .limitations-list {
  margin-top:10px;
  box-sizing: border-box;
  padding:10px;
  line-height:1.4;
  width:100%;
  background:#eee;

}

  .pricing-box .xxlarge {
    font-size:60px!important;
  }

  .pricing-box .xxlarge div{
    margin-top:5px;
  }

}

.pricing-features-list .feature-limitations {


}
