@media (min-width: 801px) {
  .product-scroll-one {
    width:calc(100% - 120px);
    margin:0 auto;
    background-image: url(../img/website/product1.jpg);
    background-size:cover;
    background-position: center center;
  }

  .product-scroll-one .content .download-link {
	  height:50px;
	  display:inline-block;

  }

 .teams {
    margin-top:20px;
  }

  .teams .teams-logo-section {
    margin-right:15px;
    margin-left:15px;
    margin-bottom:10px;

    height:60px;
  }
}

@media (max-width: 800px) {
  .product-scroll-one {
    width:100%;
    background-image: url(../img/website/product1.jpg);
    background-size:cover;
    background-position: center center;
  }

  .product-scroll-one .content .download-link {
	  height:40px;
	  display:inline-block;
  }

  .teams {
    margin-top:10px;
  }

  .teams .teams-logo-section {
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
    width:75%;

  }
}

.product-scroll-one .overlay {
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom:40px;

}

@media (min-width: 801px) {

  .product-scroll-one .overlay .content {
    color:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    letter-spacing: 3px;

  }
}

@media (max-width: 800px) {

  .product-scroll-one .overlay .content {
    color:white;
    line-height: 1.4;
    width: 80%;
    text-align:center;
    font-family: effra_regular;
    letter-spacing: 3px;

  }
}

/* ==========================================================================
  SCROLL TWO
   ========================================================================== */




@media (min-width: 801px) {
  .product-scroll-two {
    width:100%;
    font-size:40px;
    background:white;
    line-height: 1.4;
    text-align:left;
    font-family: effra_regular;
    position:relative;
    border-bottom:1px solid #eee;
    padding: 60px;
    box-sizing: border-box;

  }

  .product-scroll-two .left {
    display: inline-block;
    width: 430px;
    margin-left: calc(40% - 420px);
    text-align:left;
    box-sizing: border-box;

    min-height: 440px;
    vertical-align: top;
  }

  .product-scroll-two .right {
    display: inline-block;
    width:calc(60% - 60px);
    text-align:left;
    min-height: 440px;
    vertical-align: top;
  }

  .brokerage-scroll-two-bg {
    background-image:url(../img/website/brokerage5.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    min-height: 400px;
  }

  .product-scroll-two .right2 {
    display: inline-block;
    width:calc(60% - 60px);
    text-align:left;
    min-height: 440px;
    vertical-align: top;
  }



  .product-scroll-two-bg {
    background-image:url(../img/website/product2.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    min-height: 440px;
  }

  .product-scroll-three .onboard-steps {
	width:100%;
	display:flex;
	flex-direction:rows;
	justify-content:center;
	align-itesm:flex-start;
	flex-wrap:nowrap;

  }

  .onboard-step {
	width:290px;
	height:250px;
	position:relative;
	margin:0 5px;

  }

  .onboard-step-number {
	 height:45px;
	 width:40px;
	 text-align:center;
	 font-size:50px;
	 color:#666;
	 position:absolute;
	 bottom:0;
	 left:0;
	 line-height:40px;
  }

  .onboard-step-text {
	  height:45px;
	  width:250px;
	  position:absolute;
	  bottom:0px;
	  left:45px;
	  text-align:left;
	  color:#666;
  }
}

@media (max-width: 800px) {
  .product-scroll-two {
    width:100%;
    margin:0 auto;
    font-size:40px;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    border-bottom:1px solid #eee;
    box-sizing: border-box;
    padding:20px;
  }

  .product-scroll-two .left {
    width:100%;
    height:100%;
    text-align:center;

    padding-top:20px;

  }

  .product-scroll-two .right {

    display: none;
  }

  .product-scroll-two .right2 {
    width:100%;
    height:60vw;
    margin-top:20px;
    display: block;
  }

  .brokerage-scroll-two-bg {
    background-image:url(../img/website/brokerage5.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width:calc(100% - 40px);
    height:100%;
    margin:0 auto;
  }

  .product-scroll-two-bg {
    background-image:url(../img/website/product2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width:calc(100% - 40px);
    height:100%;
    margin:0 auto;
  }

   .product-scroll-three .onboard-steps {
	width:100%;


  }

  .onboard-step {
	width:290px;
	height:260px;
	position:relative;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;

  }



  .onboard-step-number {
	 height:65px;
	 width:40px;
	 text-align:center;
	 font-size:50px;
	 color:#666;
	 position:absolute;
	 bottom:0;
	 left:0;
	 line-height:40px;
  }

  .onboard-step-text {
	  height:65px;
	  width:250px;
	  position:absolute;
	  bottom:0px;
	  left:45px;
	  text-align:left;
	  color:#666;
  }
}


/* ==========================================================================
  SCROLL THREE
   ========================================================================== */

   @media (min-width: 801px) {
     .product-scroll-three {
       width:100%;
       background:white;
       line-height: 1.4;
       text-align:center;
       font-family: effra_regular;
       position:relative;
       padding: 60px;
       box-sizing: border-box;

     }

     .product-scroll-three .content{
       	width:600px;
      	margin:0 auto;

     }

   }

   @media (max-width: 800px) {
     .product-scroll-three {
       width:100%;
       background:white;
       line-height: 1.4;
       text-align:center;
       font-family: effra_regular;
       position:relative;
       box-sizing: border-box;
       padding:20px;
	   font-size:16px;
     }

	  .product-scroll-three .content{
       	width:100%;
		font-size:16px;
     }

   }

   /* ==========================================================================
     SCROLL FOUR
      ========================================================================== */

      @media (min-width: 801px) {
        .product-scroll-four {
          width:100%;
          background:white;
          line-height: 1.4;
          text-align:center;
          font-family: effra_regular;
          position:relative;
          border-bottom:1px solid #eee;
          padding-bottom: 40px;

        }



        .product-scroll-four .content .column{
			display:inline-block;
          width:240px;
          padding-bottom:30px;
          cursor: pointer;

        }

		.product-scroll-four .content .column.selected .title{
			 border-bottom:5px solid #eee;

        }

        .product-scroll-four .content .title{
          margin-bottom:20px;
          font-family: proxima_nova_rgregular;
		  box-sizing:border-box;
		  height:50px;
		   border-bottom:none;
        }

      }

      @media (max-width: 800px) {
        .product-scroll-four {
          width:100%;
          font-size:16px;
          background:white;
          line-height: 1.4;
          text-align:center;
          font-family: effra_regular;
          position:relative;
          border-bottom:1px solid #eee;
          box-sizing: border-box;
          padding:20px;
        }

		 .product-scroll-four .content{
          width:100%;

        }

		 .product-scroll-four .content .column{
          width:240px;
          padding-bottom:20px;
          cursor: pointer;
		  display:none;
        }

		.product-scroll-four .content .column.selected{
			 display:inline-block;

        }

        .product-scroll-four .content .title{
          margin-bottom:5px;
          font-family: proxima_nova_rgregular;
		  box-sizing:border-box;
		  height:50px;
        }

      }

/* ==========================================================================
  SCROLL FIVE
   ========================================================================== */

   @media (min-width: 801px) {
     .product-scroll-five {
       width:100%;
       background:white;
       line-height: 1.4;
       text-align:center;
       font-family: effra_regular;
       position:relative;
       padding: 60px;
       box-sizing: border-box;

     }

     .product-scroll-five .content{
       max-width:680px;
      margin:0 auto;

     }

   }

   @media (max-width: 800px) {
     .product-scroll-five {
       width:100%;
       font-size:16px;
       background:white;
       line-height: 1.4;
       text-align:center;
       font-family: effra_regular;
       position:relative;
       box-sizing: border-box;
       padding:20px;
     }

   }

   /* ==========================================================================
     SCROLL SIX
      ========================================================================== */

 @media (min-width: 801px) {
   .product-scroll-six {
     width:calc(100% - 120px);
     margin:0 auto;
     height:240px;
     background-image: url(../img/website/product6.png);
     background-size:cover;
     background-position: center center;
   }

   .builder-scroll-six {
     width:100%;
     margin:0 auto;
     height:600px;
     background-image: url(../img/website/builder6.png);
     background-size:cover;
     background-position: center center;

   }

   .alt {
      background-image:none!important;
      height:120px;
      padding-top:60px;
   }

   .alt .overlay{
      background-color: white!important;

   }
   .alt .overlay .content{
      color:black!important;

   }
 }

 @media (max-width: 800px) {
   .product-scroll-six {
     width:100%;
     height:240px;
     background-image: url(../img/website/product6.png);
     background-size:cover;
     background-position: center center;
   }
 }

 .product-scroll-six .overlay {
   width:100%;
   height:100%;
   background:rgba(0,0,0,0.8);
   display: flex;
   flex-flow: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;

 }

 @media (min-width: 801px) {

   .product-scroll-six .overlay .content {
     color:white;
     line-height: 1.4;
     max-width:800px;
     text-align:center;
     font-family: effra_regular;
     letter-spacing: 3px;

   }
 }

 @media (max-width: 800px) {

   .product-scroll-six .overlay .content {
     color:white;
     line-height: 1.4;
     width: 80%;
     text-align:center;
     font-family: effra_regular;
     letter-spacing: 3px;

   }
 }

 /* ==========================================================================
   SCROLL SEVEN
    ========================================================================== */

    @media (min-width: 801px) {
      .product-scroll-seven {
        width:100%;
        background:white;
        line-height: 1.4;
        text-align:center;
        font-family: effra_regular;
        position:relative;
        border-bottom:1px solid #eee;
        padding-bottom: 20px;
        padding-top: 60px;

      }

      .product-scroll-seven .content{
        width:900px;
        margin:0 auto;
        display: flex;
        flex-flow: row;
        flex-wrap:wrap;
        justify-content: space-between;;
        align-items: flex-start;
      }

      .product-scroll-seven .content .column{
        width:260px;
        padding-bottom:30px;
      }

      .product-scroll-seven .content .title{
        margin-bottom:10px;
        font-family: proxima_nova_rgregular;
      }

    }

    @media (max-width: 800px) {
      .product-scroll-seven {
        width:100%;
        font-size:40px;
        background:white;
        line-height: 1.4;
        text-align:center;
        font-family: effra_regular;
        position:relative;
        border-bottom:1px solid #eee;
        box-sizing: border-box;
        padding:20px;
      }

	   .product-scroll-seven .content .column{
		   display:inline-block;
        width:260px;
        padding-bottom:20px;
      }

      .product-scroll-seven .content .title{
        margin-bottom:10px;
        font-family: proxima_nova_rgregular;
      }

    }

    /* ==========================================================================
      SCROLL EIGHT
       ========================================================================== */



     .product-scroll-eight img {
       margin:10px;
     }


    @media (min-width: 801px) {
      .product-scroll-eight {
        width:calc(100% - 80px);
        margin:0 auto;
        background:white;
        line-height: 1.4;
        text-align:center;
        font-family: effra_regular;
        position:relative;
        box-sizing: border-box;
        padding-top:60px;
        padding-bottom:60px;
        margin: 0 auto;
        border-bottom:1px solid #eee;
      }

      .product-scroll-eight .title {
        font-family: proxima_novalight;
        width:800px;
        text-align: center;
        margin-bottom: 40px;
        margin-left:auto;
        margin-right:auto;
      }

	  .product-nav-bar-button {
      line-height: 40px;
      height:40px;
      display: inline-block;
      text-align: center;
      letter-spacing: 3px;
      padding-left:40px;
      padding-right:40px;
      font-size:16px;
      cursor:pointer;
      font-family: proxima_nova_rgregular;
      margin: 0;
      margin-top:20px;
      vertical-align: top;
      color:#999;
    }
    }

    @media (max-width: 800px) {
      .product-scroll-eight {
        width:calc(100% - 40px);
        margin:0 auto;
        background:white;
        line-height: 1.4;
        text-align:center;
        font-family: effra_regular;
        position:relative;
        box-sizing: border-box;
        padding-top:40px;
        padding-bottom:40px;
        margin: 0 auto;
        border-bottom:1px solid #eee;
      }

      .product-scroll-eight .title {
        font-family: proxima_novalight;
        width:100%;
        text-align: center;
        margin-bottom: 40px;
        margin-left:auto;
        margin-right:auto;
      }

	  .product-nav-bar-button {
      line-height: 40px;
      height:40px;
      display: inline-block;
      text-align: center;
      padding-left:5px;
      padding-right:5px;
      font-size:14px;
      cursor:pointer;
      font-family: proxima_nova_rgregular;
      margin: 0;
      margin-top:20px;
      vertical-align: top;
      color:#999;
    }
    }

    .product-nav-bar {
      height:60px;
      width:100%;
      text-align:center;
      line-height: 60px;
    }



    .product-nav-bar-button.selected {
      color: black
    }

    .product-nav-bar-button.selected .underline {
      display: block;
    }

    .product-nav-bar-button .underline {
      display: none;
      width:100%;
      height:5px;
      background:#EEEEEE;
      position: relative;
      top: -10px;
    }
