
@media (min-width:701px) {
  .powered-by-spacio {
    height:60px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    padding: 0 20px;
    width: 100%;
    color:black;
    font-size:12px;
    font-family: effra_regular;
    cursor: pointer;
  }

  .brokerage-logo{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    height:100px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .profile-scroll-one {
    width:100%;
    background:white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
  }


  .padded-content{
    padding:20px;
  }

  .agent-pphoto {

    width:80px;
    height:80px;
    border-radius: 80px;
    overflow: hidden;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;
    margin:20px auto;
  }

  .agent-name {
    font-family: effra_regular;
    font-size:20px;

  }
  .agent-title {
    font-family: effra_regular;
    margin-bottom: 21px;

  }

  .agent-name {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
  }
  .agent-title {
    font-family: effra_light;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  .agent-email, .agent-phone, .agent-mobile, .agent-website {
    margin-bottom:5px;
    font-family: effra_regular;
  }

  .agent-socialMedia-container {
    display:flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0px 39%;
  }
  .listing-icon {
    display: inline-block;
    text-align: center;
    width:16px;
    font-size:12px;
    margin-right:3px;
  }


  .agent-properties {
    margin:20px auto;
    max-width:900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .agent-property {
    display: block;
    flex-basis:33%;
    flex-grow:0;
    flex-shrink:0;
    box-sizing: border-box;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .listing-image {
    width:100%;
    height:250px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;
  }

  .listing-details {
    width:100%;
    box-sizing: border-box;
    padding:20px;
    text-align: left;
    background-color:rgba(0,0,0,0.1);

  }

  .listing-title {
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .listing-price {
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-family: effra_medium;
  }

  .listing-beds,.listing-baths,.listing-size{
    font-family: effra_regular;
    margin-bottom:3px;

  }

}
@media (max-width:700px) {

  .powered-by-spacio {

    height:60px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    padding: 0 20px;
    width: 100%;
    color:black;
    font-size:12px;
    font-family: effra_regular;
    cursor: pointer;
  }


  .brokerage-logo{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    height:100px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .profile-scroll-one {
    width:100%;
    background:white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
  }


  .padded-content{
    padding:20px;
  }

  .agent-pphoto {

    width:80px;
    height:80px;
    border-radius: 80px;
    overflow: hidden;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;
    margin:20px auto;
  }

  .agent-name {
    font-family: effra_regular;
    font-size:20px;

  }
  .agent-title {
    font-family: effra_regular;
    margin-bottom: 21px;

  }

  .agent-name {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
  }
  .agent-title {
    font-family: effra_light;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  .agent-email, .agent-phone, .agent-mobile, .agent-website {
    margin-bottom:5px;
    font-family: effra_regular;
  }
  .agent-socialMedia-container {
    display:flex;
    justify-content: space-around;
    cursor: pointer;
    margin: 0px 15%;
  }

  .listing-icon {
    display: inline-block;
    text-align: center;
    width:16px;
    font-size:12px;
    margin-right:3px;
  }


  .agent-properties {
    margin:20px auto;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .agent-property {
    display: block;
    flex-basis:100%;
    flex-grow:0;
    flex-shrink:0;
    box-sizing: border-box;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .listing-image {
    width:100%;
    height:200px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center top;
  }

  .listing-details {
    width:100%;
    box-sizing: border-box;
    padding:20px;
    text-align: left;
    background-color:rgba(0,0,0,0.1);

  }

  .listing-title {
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .listing-price {
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-family: effra_medium;
  }

  .listing-beds,.listing-baths,.listing-size{
    font-family: effra_regular;
    margin-bottom:3px;

  }

}
