/* ==========================================================================
  LISTING
   ========================================================================== */


   .spacio-top-menu{
     position: fixed;
     top:0px;
     left:0px;
     width:100%;
     height:60px;
     background: white;
     z-index: 100;
   }

   .web-menu{
     width:100%;
     height:100%;
     display: flex;
     flex-direction: row;
     flex-wrap:nowrap;
     justify-content:center;
     align-items:center;
   }

   .spacio-top-menu-logo{
     display: block;
     width: 160px;
     text-align: center;
   }

   a, a:visited {
     color:currentColor;
     text-decoration: none;
   }

   body{
     font-family:effra_regular;
     font-size:18px;
   }


/* this is desktop version */
@media (min-width: 641px) {

  .listing-image{
    position: relative;
    margin-top:70px;
    margin-left:auto;
    margin-right:auto;
    width:1024px;
    height:680px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .listing-info{
    position:absolute;
    bottom:0px;
    left:0px;
    width:1024px;
    padding:20px;
    box-sizing:border-box;
    background-color:rgba(255,255,255,0.7);
  }

  .title{
    height: 25px;
    width: 100%;
    text-align: left;
    font-family:effra_medium;
    color:black;
    font-size:22px;
    line-height: 25px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .addr1{
    height: 25px;
    width: 100%;
    text-align: left;
    font-size:20px;
    line-height:25px;
    color:#333;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top:5px;
  }

  .sharing-buttons{
    position:absolute;
    top:0px;
    right:0px;
    display:flex;
    flex-direction: row;
    flex-grow:1;
    flex-shrink:1;
    height:30px;
    align-items:center;
    margin-right:10px;
    margin-top:10px;
  }

  .twitter-button{
    width:75px;
    padding-left:10px;
  }

  .fb-share-button{
    width:75px;
    padding-left:10px;
  }

  .main-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1024px;
    margin: 0 auto;
    background-color: #f2f2f2;
  }

  .mobile-listing-info{
    display: none;
  }

  .mobile-sharing-buttons{
    display: none;
  }

  .main-left-container{
    flex-grow: 1;
    order: 1;
  }

  .main-right-container{
    display: block;
    flex-grow:1;
    order:2;
    padding-top:20px;
    padding-bottom:20px;
    color:black;
  }

  .main-right-title{
    font-size:18px;
    padding-left:20px;
    padding-bottom:10px;
    text-transform: uppercase;
    box-sizing:border-box;
  }

  .listing-stat{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
  }

  .listing-stat-label{
    display: inline-block;
    float: left;
    width: 70px;
  }

  .listing-value{
    display: inline-block;
    float: right;
    text-align:right;
  }

  .listing-stat-desc{
    display: block;
    height: auto;
    line-height: 1.4;
    padding: 0px 20px;
  }

  .listing-stat-label-desc{
    display: block;
    float: left;
    width: 280px;
  }

  .listing-value-desc {
    display: inline-block;
    float: right;
    text-align:left;
    height:auto;
  }

  .agent-info{
    display:flex;
    flex-direction:row;
    flex-grow:0;
    flex-shrink:0;
    width:100%;
    height:150px;
    box-sizing: border-box;
    background-color:white;
    font-family:effra_regular;
    line-height:1.6;
    border-left: 5px solid #eee;
    border-top:5px solid #eee;
  }

  .name{
    margin-top:5px;
  }

  .name, .email, .phone-number{
    margin-bottom:3px;
  }

  .pphoto-container{
    display: flex;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
    flex-basis: 120px;
    padding-left:10px;
  }


  .pphoto{
    flex-grow:0;
    flex-shrink:0;
    width: 120px;
    height: 120px;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    border: 5px solid white;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .agent-contact-info{
    display: flex;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0 10px;
  }

  .brokerage-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    box-sizing: border-box;
    line-height:30px;
    background-color:white;
    padding:10px 0px;
    border-top: 5px solid #eee;
    border-left: 5px solid #eee;
  }

  .brokerage-logo-container{
    flex-basis: 120px;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
    padding-left:10px;
  }

  .brokerageLogo{
    flex-grow:0;
    flex-shrink:0;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .brokerage-contact-info{
    display: block;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0px 10px;
  }

  .phone, .mobile, .website, .email, .brokerageName, .office, .brokerageDomain {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .agent-more-info{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    width: 100%;
    height: 70px;
    flex-grow:0;
    flex-shrink:0;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
    font-size:16px;
  }

  .see-more-listings-button{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
    width: 100%;
    height:55px;
    line-height:20px;
    background-color:#d9d9d9;
    align-items:center;
    margin-left:5px;
  }

  .request-info-button{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
    width: 100%;
    height:55px;
    line-height:20px;
    background-color:#d9d9d9;
    align-items:center;
    margin-left:5px;
  }

  .agent-more-info-button-icon{
    display:block;
    text-align:center;
    padding-top:10px;
  }

  .agent-more-info-button-text{
    display:block;
    text-align:center;
    text-transform: uppercase;
    padding-top:5px;
  }

}/*end of media min width 641px*/

/* this is mobile version */
@media (max-width: 640px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eee;
  }

  .mobile-listing-info{
    display: block;
    width:100%;
  }

  .main-right-container{
    display: none;
  }

  .sharing-buttons{
    display:none;
  }

  .main-left-container{
    display: block;
    width: 100%;
  }

  .listing-image{
    position: relative;
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .listing-info{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    padding:20px;
    box-sizing:border-box;
    background-color:rgba(255,255,255,0.7);
  }

  .title{
    height: 30px;
    width: 100%;
    text-align: left;
    font-size:20px;
    line-height: 30px;
    font-family:effra_medium;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .addr{
    height: 30px;
    width: 100%;
    text-align: left;
    font-size:16px;
    line-height: 30px;
    font-family:effra_regular;
    color:#333;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .agent-info{
    display:flex;
    flex-direction:row;
    flex-grow:0;
    flex-shrink:0;
    width:100%;
    height:120px;
    background-color:white;
    padding: 10px 0;
  }

  .name{
    margin-top:5px;
  }

  .name, .email, .phone-number{
    margin-bottom:5px;
  }

  .pphoto-container{
    display: flex;
    flex-basis: 100px;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
    padding-left:10px;
  }

  .pphoto{
    flex-grow:0;
    flex-shrink:0;
    width: 100px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: 5px solid white;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .agent-contact-info{
    display: flex;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0px 20px;
    line-height: 25px;
  }

  .brokerage-info-section{
    display:flex;
    flex-direction:row;
    width:100%;
    line-height:30px;
    background-color:white;
    padding:10px 0;
    border-top: 1px solid #eee;

  }

  .brokerage-logo-container{
    flex-basis: 120px;
    flex-grow:0;
    flex-shrink:0;
    align-items:center;
    padding-left:10px;
  }

  .brokerageLogo{
    flex-grow:0;
    flex-shrink:0;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .brokerage-contact-info{
    display: block;
    flex-grow:1;
    align-items:center;
    text-align:left;
    padding: 0px 20px;
  }


  .stats-title{
    height:40px;
    line-height:40px;
    text-transform: uppercase;
    border-top:1px solid rgba(255,255,255,0.75);
    border-bottom:1px solid rgba(255,255,255,0.75);
    background-color:#f2f2f2;
    padding:0px 20px;
    box-sizing:border-box;
  }

  .listing-stat{
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom:1px solid rgba(255,255,255,0.75);
    background-color:#f2f2f2;
    padding:0px 20px;
    box-sizing:border-box;
  }

  .listing-stat-label{
    display: inline-block;
    width: 70px;
  }

  .listing-value{
    display: inline-block;
    float: right;
    text-align:right;
  }

  .listing-stat-label-desc{
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  .listing-stat-desc{
    line-height: 1.4;
    background-color:#f2f2f2;
    height:auto;
    padding:0px 20px;
    padding-bottom:10px;
    box-sizing:border-box;
  }

  .listing-value-desc {
    text-align:left;
  }

  .agent-more-info{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    width: 100%;
    height: 60px;
    flex-grow:0;
    flex-shrink:0;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #f2f2f2
  }

  .see-more-listings-button{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
    width: 100%;
    height:60px;
    line-height:20px;
    background-color:#d9d9d9;
    align-items:center;
    margin-left:5px;
  }

  .request-info-button{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
    width: 100%;
    height:60px;
    line-height:20px;
    background-color:#d9d9d9;
    align-items:center;
    margin-left:5px;
    margin-right:5px;
  }

  .agent-more-info-button-icon{
    display:block;
    text-align:center;
    padding-top:10px;
  }

  .agent-more-info-button-text{
    display:block;
    text-align:center;
    text-transform: uppercase;
    padding-top:5px;
  }

  .mobile-sharing-buttons{
    position:relative;
    background-color:#d9d9d9;
    bottom:0px;
    line-height: 40px;
    height:40px;
    padding-left:15px;
  }

  .twitter-button{
    display: inline-block;
    float:right;
    padding-top:6px;
    padding-right:5px;
    width:75px;
  }

  .fb-share-button{
    display: inline-block !important;
    width:75px;
    float:right;
    padding-top:6px;
    padding-left:1px;
  }

}/*End of media max width 640px*/
