/* ==========================================================================
  AGENT
   ========================================================================== */


  .spacio-top-menu{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
    background: white;
    z-index: 100;
  }

  .web-menu{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
  }

  .spacio-top-menu-logo{
    display: block;
    width: 160px;
    text-align: center;
  }

  a, a:visited {
    color:currentColor;
    text-decoration: none;
  }

  body{
    font-family:effra_regular;
    font-size:16px;
  }

  .twitter-button{
    display:inline-block;
    float:right;
    padding-top:5px;
    padding-left:5px;
    padding-right:20px;
    width: 60px;
  }

  .fb-share-button{
    display: inline-block !important;
    float:right;
    padding-top:5px;
    width: 60px;
  }


  /***************************** GENERAL FORM INPUTS ****************************/

  .form-input-row {
    height:40px;
    width:100%;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-direction: row;
  }

  .form-input-row .input-label{
    order: 1;
    flex-basis: 125px;
    flex-grow: 0;
    flex-shrink: 0;
    height:100%;
    text-align: left;
    line-height: 40px;
    border-right:1px solid #eee;
    font-family: effra_medium;
    box-sizing: border-box;
    padding:0px;
    padding-left:20px;
    margin:0px;
    font-size:16px;
  }



  .form-input-row input[type="text"],
  .form-input-row input[type="email"],
  .form-input-row input[type="tel"]{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .form-input-row textarea{
    order: 2;
    flex-grow: 1;
    height:100%;
    text-align: left;
    font-family: effra_light;
    box-sizing: border-box;
    padding:12px 20px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right top;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
  }

  .form-questions textarea {
      width:100%;
      height:120px;
      background:transparent;
      margin-top:0px;
      box-sizing:border-box;
      padding:20px;
      font-size:16px;
      border-bottom:1px solid #eeeeee;
      border-radius:0px;
      -webkit-appearance:none;
      font-family:effra_light;
      text-align:left;
  }


  .form-question-row {
      font-size:16px;
      text-align:left;
  }

  .form-question-row .question{
    width:100%;
    padding: 10px 20px;
    padding-bottom:0px;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: effra_medium;
  	border: none!important;
    margin-bottom:10px;
  }

  .form-question-row input[type="text"]{
    height:40px;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: right center;
    background-image: url(../img/edit_grey.png);
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
    width:100%;
    border-bottom: 1px solid #f2f2f2;

  }

  .form-question-row .answer{
    height:40px;
    text-align: left;
    line-height: 40px;
    font-family: effra_light;
    box-sizing: border-box;
    padding:0 20px;
    padding-right:40px;
    -webkit-appearance: none;
    border:none;
    margin:0;
    font-size:14px;
    width:100%;
    border-bottom: 1px solid #f2f2f2;
  }

  .form-question-row label{
    margin-right:20px;
    margin-left:5px;
    cursor: pointer;
  }

  .full-width-checkboxes {
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 10px;
  }

  .half-width-checkboxes {
      width: 100%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 10px;
  }

  .full-width-checkboxes .checkbox{
      width: 100%;
      box-sizing: border-box;
      padding-left:20px;
      height: 30px;
      line-height: 30px;
  }

  .half-width-checkboxes .checkbox{
      flex-grow: 1;
      box-sizing: border-box;
      padding-left:20px;
      height: 30px;
      line-height: 30px;
  }

  .form-question-row [type="radio"]:checked,
  .form-question-row [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
          visibility: hidden;
  }

  .form-question-row [type="radio"]:checked + label,
  .form-question-row [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 30px;
      display: inline-block;
      color: #666;
          height:30px;
  }

  .form-question-row [type="radio"]:checked + label:before,
  .form-question-row [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 4px;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      border-radius: 100%;
      background: #fff;
  }

  .form-question-row [type="radio"]:checked + label:after,
  .form-question-row [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #333;
      position: absolute;
      top: 9px;
      left: 5px;
      border-radius: 100%;

  }

  .form-question-row [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  .form-question-row [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }


  /***************************** VISITOR SIGN IN FORM ****************************/
  #propertyReg_Form .signin-form-content {
     width:100%;
     padding-bottom:50px;
     box-sizing:border-box;
     position:absolute;
     top:80px;
     height:calc(100vh - 160px);
     left:0px;
     overflow-y:scroll;
     overflow-x:hidden;
  }

  #propertyReg_Form .form-input-row .input-label{
    flex-basis: 200px;
  }

  #propertyReg_Form .form-title-section {
      position:absolute;
      top:0px;
      left:0;
      width:100%;
      height:80px;
      line-height:80px;
      font-size:24px;
      text-align:left;
      box-sizing:border-box;
      padding-left:30px;
      padding-right:30px;
      border-bottom:1px solid #eee;
  }

  #propertyReg_Form .signin-button {
      -webkit-appearance:none;
      position:absolute;
      top:18px;
      right:30px;
      height:44px;
      background-color:#2b2b2b;
      color:white;
      padding:0px 15px;
      font-size:16px;
  		font-family:effra_light;
  	 	-webkit-user-select: none;
      z-index:10;
      border-radius:0px;
  }

  .extra-permission-row {
      width:100%;
      box-sizing: border-box;
      padding:10px 20px;
      line-height: 1.2;
      margin-top:10px;
      display:none;
      text-align:left;
      font-size:16px;
  }

  .brokerage-disclaimer {
  	margin-top:40px;
  	width:100%;
      box-sizing: border-box;
      padding:10px 20px;
      line-height: 1.2;
      font-size:12px;
  }







/* this is desktop version */
@media (min-width: 641px) {

  .main-container {
    width: 650px;
    margin: 0 auto;
    margin-top:60px;
    margin-bottom:50px;
  }

  .survey-scroll-one{
    background-color: #232323;
    padding: 60px 20px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .survey-scroll-one .content {
    max-width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .survey-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
    padding-left:80px;
  }

  .survey-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
    padding-left:80px;
  }



  /*.title{
    width:100%;
    height: 40px;
    text-align: left;
    font-size:20px;
    line-height: 40px;
    font-family:effra_regular;
    background-color:#f2f2f2;
    padding:0px 10px;
    box-sizing:border-box;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }*/

  .questions{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    line-height:30px;
    padding-top:10px;
  }

  .question{
    width:100%;
    line-height:30px;
    padding-top:10px;
    font-size: 16px;
    font-family: effra_regular;
    word-wrap: normal;
  }

  .answer{
    width:100%;
    line-height:30px;
    padding-left: 20px;
    font-size:14px;
    font-family: effra_regular;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .submit-button{
    box-sizing: border-box;
    margin-top:20px;
    height: 30px;
    float: left;
    line-height: normal;
    text-align: center;
    background: #E87E04;
    cursor: pointer;
    border: none;
    color: white;
    font-family: effra_regular;
    width: 185px;

  }


}/*end of media min width 641px*/

/* this is mobile version */
@media (max-width: 640px) {
  .main-container {
    display:block;
    max-width:500px;
    width: 100%;
    margin-top:60px;
    overflow: auto;
  }

  .survey-scroll-one {
  	  background-color: #232323;
  	  padding:60px 20px;
  	  padding-top: 120px;
  	  box-sizing: border-box;
  	}

  	.survey-scroll-one .content {
  	  width: 100%;
  	  color:#bababa;
  	  margin: 0 auto;
  	}

  	.survey-scroll-one .content .subtitle {
  	  font-family: effra_medium;
  	  letter-spacing: 3px;
  	  margin-bottom:5px;
  	}

  	.survey-scroll-one .content .desc {
  	  font-family: effra_regular;
  	  line-height: 1.6;
  	}




  /*.title{
    width: calc(100% - 60px);
    margin:0px 30px;
    height: 40px;
    text-align: left;
    font-size:20px;
    line-height: 40px;
    font-family:effra_regular;
    background-color:#f2f2f2;
    padding-left:10px;
    box-sizing:border-box;
    color:black;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }*/

  .questions{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    line-height:30px;
    padding-top:10px;
    box-sizing:border-box;
    align-items: center;
  }

  .question{
    width:100%;
    line-height:30px;
    padding-top:10px;
    font-size: 16px;
    text-align:left;
    font-family: effra_regular;
    word-wrap: normal;
  }

  .answer{
    width:100%;
    line-height:30px;
    padding-left: 20px;
    font-size:14px;
    font-family: effra_regular;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .submit-button{
    box-sizing: border-box;
    margin-top:20px;
    height: 30px;
    float: left;
    line-height: normal;
    text-align: center;
    background: #E87E04;
    cursor: pointer;
    border: none;
    color: white;
    font-family: effra_regular;
    width: 185px;
  }


}/*End of media max width 640px*/
