/* ==========================================================================
  TEMPLATES
   ========================================================================== */

   .branding-background-container{
     display:flex;
     flex-direction: column;
     position:relative;
     width:512px;
     height:768px;
   }

   .branding-background-overlay{
     display:flex;
     flex-direction: column;
     align-items: center;
     width:100%;
     height:100%;
     background-color:rgba(0,0,0,0.2);
     text-align:center;
     color:white;
   }

   .branding-close-container-bottom{
      display:flex;
      flex-direction:column;
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      height:60px;
      justify-content: center;
      align-items: center;
   }

/*round button*/
   .branding-close-btn-round{
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     background-color:rgba(0,0,0,1);
     height:25px;
     width:25px;
     border-radius:25px;
   }

   /*square button*/
    .branding-close-btn-square{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height:15px;
      width:18px;
      z-index:30;
    }

   .branding-logo-container-top{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position:absolute;
     left:0;
     width:100%;
     text-align:center;
   }

   .branding-logo-img{
     background-repeat:no-repeat;
     background-size:contain;
     background-position:center;
   }

   .branding-open-house-title-container{
     display:flex;
     flex-direction: column;
     position:absolute;
     justify-content:center;
     text-align: center;
     align-items: center;
     width:100%;
     left:0px;
     text-shadow: 1px 1px 15px #ffffff;
   }

  .branding-open-house-title{
    width:60%;
    text-transform: uppercase;
  }

   .branding-listing-container{
     display:flex;
     flex-direction: column;
     align-items: center;
     position:absolute;
     left:0;
     width:100%;
     /*min-height:420px;*/
     text-align:center;
   }

   .branding-long-thin-line{
     margin-top:25px;
     margin-bottom:35px;
   }

   .branding-welcome-greeting{
     font-size:20px;
   }

   .branding-property-title-value{
     padding:10px 30px;
     line-height: 30px;
   }

   .branding-short-line-break{
     margin-top:35px;
     margin-bottom:25px;
   }

   .branding-agent-container{
     display:flex;
     flex-direction: column;
     align-items: center;
     position:absolute;
     bottom:50px;
     left:0;
     min-height:170px;
     text-align:center;
     box-sizing: border-box;
     padding-bottom:30px;
   }

   .branding-profile-image-round{
     margin:0px auto;
     overflow:hidden;
     background-repeat:no-repeat;
     background-size:contain;
     background-position:center;
   }

   .branding-hosted-by{
     padding-top: 10px;
     padding-bottom:0px;
   }

   .branding-agent-listing-combined-bottom{
     position:absolute;
     height:150px;
     margin: 0px 40px auto;
     text-align: left;
   }

   .branding-profile-image-square-container-bottom{
     display:inline-block;
     height:150px;
     width:120px;
     border-radius:0px;
     overflow:hidden;
     display:inline-block;
     overflow:hidden;
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
   }

   .branding-property-agent-container-bottom{
     display:inline-block;
     height:150px;
     width:240px;
     margin-left:15px;
     vertical-align:top;
     font-size:16px;
     color:white;
   }


   .branding-logo-container-bottom{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position:absolute;
     bottom:50px;
     left:0;
     width:100%;
     text-align:center;
   }


/* Border */

  .branding-border-container{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:30;
  }

  .branding-border-container-top{
    position:absolute;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:flex-start;
    left:0px;
    top:0px;
    height:100px;
    width:100%;
    box-sizing:border-box;
    padding-right:30px;
    padding-left:30px;
  }

  .branding-border-top-left{
    height:28px;
    order:1;
    flex-grow:1;
    border-bottom:2px solid white;
   }

   .branding-logo-top-with-border{
     order:2;
     background-repeat:no-repeat;
     background-size:contain;
     background-position:center;
   }

  .branding-border-top-right{
    height:28px;
    order:3;
    flex-grow:1;
    border-bottom:2px solid white;
  }

   .branding-border-container-left{
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:30px;
    box-sizing:border-box;
    padding-top:28px;
    padding-left:27px;
    padding-bottom:50px;
   }

   .branding-border-left{
    width:1px;
    height:100%;
    border-right:2px solid white;
   }

   .branding-border-container-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:30px;
    box-sizing:border-box;
    padding-top:28px;
    padding-bottom:28px;
    padding-right:27px;
   }

   .branding-border-right{
    width:1px;
    height:100%;
   }

  .branding-border-container-bottom{
    position:absolute;
    box-sizing:border-box;
    bottom:0;
    right:0;
    width:100%;
    height:30px;
    padding-right:30px;
    padding-bottom:27px;
    padding-left:50px;
  }

  .branding-border-bottom{
    height:1px;
    width:100%;
  }

/* end of Border*/
