/* ==========================================================================
  TUTORIALS
   ========================================================================== */

   a, a:visited {
     color:currentColor;
     text-decoration: none;
   }

   body{
     font-family:effra_regular;
     font-size:16px;
   }

   .partners-scroll-one .content .subtitle {
     font-family:effra_regular;
     line-height: 1.3;
   }


/*This is the desktop version*/
@media (min-width: 901px) {

  .main-container{
    width:640px;
    margin: 0 auto;
    margin-top:60px;
    margin-bottom:50px;
    background-color: #f2f2f2;
  }

  .left {
		text-align:center;
		position:relative;
    width:180px;
		text-align:left;
		position:absolute;
		top:310px;
		left:calc(48% - 500px);
    z-index: 1000;
  }

  .left .subtitle {
    font-family: effra_medium;
	  letter-spacing: 0.9px;
	  margin-bottom:10px;
	  padding-bottom:10px;
	  margin-top:10px;
	  text-transform:uppercase;
	  color:#000000;
	  cursor:pointer;
	  border-bottom:1px solid #eee;
  }

  .tutorials-scroll-one {
    background-color: #232323;
    padding:60px 20px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .tutorials-scroll-one .content {
    max-width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .tutorials-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
    padding-left:80px;
  }

  .tutorials-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
    padding-left:80px;
  }

  .tutorials-container{
    width: 100%;
    background: white;
  }

  .tutorial-container{
    border: 1px solid #eee;
  }


  .tutorial-title{
    height:40px;
    line-height: 40px;
    background-size: 30px 30px;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(//spac.io/dashboard/img/arrow_down.png);
    cursor:pointer;
    padding-right:30px;
    padding-left:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .tutorials-section-title{
    padding:20px 5px;
    font-size: 20px;
    font-family: effra_medium;
  }

  .tutorial-title.open{
    background-image: url(//spac.io/dashboard/img/arrow_up.png);
  }

  .tutorial-video-container {
    display: none;
    box-sizing: border-box;
    padding: 20px;
    background: #eee;
  }

  .tutorial-video-container.open{
    display:block;
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .tutorial-video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer.normal{
    border-top: 1px solid #eee;
  }

}


/* this is the mobile version */
@media (max-width: 900px) {

  .main-container{
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    margin-bottom:50px;
  }

  .left {
    display:none;
  }
  
  .tutorials-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
	}

	.tutorials-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;
	}

	.tutorials-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.tutorials-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

  .tutorials-container{
    width: 100%;
    background: white;
  }

  .tutorials-section-title{
    padding:20px 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: effra_medium;
  }

  .tutorial-container{
    border: 1px solid #eee;
  }

  .tutorial-title{
    height:40px;
    line-height: 40px;
    background-size: 30px 30px;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(http://spac.io/dashboard/img/arrow_down.png);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor:pointer;
    padding-right:10px;
    padding-left:10px;
  }

  .tutorial-title.open{
    background-image: url(http://spac.io/dashboard/img/arrow_up.png);
  }

  .tutorial-video-container {
    display: none;
    box-sizing: border-box;
    padding: 20px;
    background: #eee;
  }

  .tutorial-video-container.open{
    display:block;
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .tutorial-video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer.normal{
    border-top: 1px solid #eee;
  }
}
