/* ==========================================================================
    webinars
   ========================================================================== */

   a, a:visited {
     color:currentColor;
     text-decoration: none;
   }

   body{
     font-family:effra_regular;
     font-size:16px;
   }

   .partners-scroll-one .content .subtitle {
     font-family:effra_regular;
     line-height: 1.3;
   }


/*This is the desktop version*/
@media (min-width: 901px) {

  .main-container{
    width:640px;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom:50px;
    background-color: #f2f2f2;
  }

  .webinars-scroll-one {
    background-color: #232323;
    padding:60px 20px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .webinars-scroll-one .content {
    max-width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .webinars-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
    padding-left:80px;
  }

  .webinars-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
    padding-left:80px;
  }

  .webinars-container{
    width: 100%;
    background: white;
  }

  .webinars-section-title{
    padding:20px 5px;
    font-size: 20px;
    font-family: effra_medium;
  }


  .webinar-container{
    border: 1px solid #eee;
  }

  .webinar-title{
    height:40px;
    line-height: 40px;
    background-size: 30px 30px;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(http://spac.io/dashboard/img/arrow_down.png);
    cursor:pointer;
    padding-right:10px;
    padding-left:10px;
  }

  .webinar-title.open{
    background-image: url(http://spac.io/dashboard/img/arrow_up.png);
  }

  .webinar-desc-container {
    display: none;
    box-sizing: border-box;
    padding: 20px;
    background: #F2F2F2;
    line-height: 1.6;
  }

  .webinar-desc-container.open{
    display:block;
    width: 100%;
    position: relative;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .footer.normal{
    border-top: 1px solid #eee;
  }

}


/* this is the mobile version */
@media (max-width: 900px) {

  .main-container{
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    margin-bottom:50px;
  }

  .webinars-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
	}

	.webinars-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;
	}

	.webinars-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.webinars-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

  .webinars-container{
    width: 100%;
    background: white;
  }

  .webinars-section-title{
    padding:20px 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: effra_medium;

  }

  .webinar-container{
    border: 1px solid #eee;
  }

  .webinar-title{
    height:40px;
    line-height: 40px;
    background-size: 30px 30px;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(http://spac.io/dashboard/img/arrow_down.png);
    cursor:pointer;
    padding-right:10px;
    padding-left:10px;
  }

  .webinar-title.open{
    background-image: url(http://spac.io/dashboard/img/arrow_up.png);
  }

  .webinar-desc-container {
    display: none;
    box-sizing: border-box;
    padding: 20px;
    background: #F2F2F2;
    line-height: 1.6;
  }

  .webinar-desc-container.open{
    display:block;
    width: 100%;
    position: relative;
    padding-bottom: 25px;
    padding-top: 25px;
  }


  .footer.normal{
    border-top: 1px solid #eee;
  }
}
