/* ==========================================================================
  WHY SPACIO
   ========================================================================== */

small {
 line-height: 1.3;
 padding-bottom: 10px;
}

table {
  width: 100%;
  border: 3px solid;
  padding: 50px 50px 50px 50px;
  font-size: 18px;
}

tr {

}

td {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.info-col {
 order: 1;
 flex-grow: 1;
 width: 50%;
 padding-right: 60px;
}

.title {
  font-family: proxima_nova_rgregular;
}

.gen-space {
  line-height: 1.6;
}

.para-pad {
  padding-top: 25px;
}

.bline {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.invis {
  color: white;
}

input {
  font-family: effra_regular;

}
/* Desktop version */
@media (min-width: 901px) {
  .ws-main {
   padding-top: 60px;
   width: 700px;
   margin: 0 auto;
   border-bottom: 1px solid #eee;
   box-sizing: border-box;
  }


  .calc-col {

   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   border:2px solid black;
   box-sizing: border-box;
  }

  .calc-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .calc-row .left {
    order:1;
    flex-grow: 1;
    box-sizing: border-box;
    padding:10px 20px;
    padding-left:40px;
  }

  .calc-row .right {
    order:2;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:160px;
    box-sizing: border-box;
    padding:10px 20px;

  }

  .total-col {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
    font-size:24px;
    font-family: effra_medium;

  }


  .whyspacio-scroll-one {
    background-color: #232323;
    padding:60px 20px;
    padding-top: 120px;
    box-sizing: border-box;
  }

  .whyspacio-scroll-one .content {
    max-width: 800px;
    color:#bababa;
    margin: 0 auto;
  }

  .whyspacio-scroll-one .content .subtitle {
    font-family: effra_medium;
    letter-spacing: 3px;
    margin-bottom:5px;
    padding-left:80px;
  }

  .whyspacio-scroll-one .content .desc {
    font-family: effra_regular;
    line-height: 1.6;
    padding-left:80px;
  }

}

/* mobile version */
@media (max-width: 900px) {

  .ws-main {
   padding-top: 20px;
   width: 100%;
   margin: 0 auto;
   border-bottom: 1px solid #eee;
   box-sizing: border-box;
  }


  .calc-col {

   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   border:2px solid black;
   box-sizing: border-box;
  }

  .calc-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom:1px solid #eee;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  .calc-row .left {
    order:1;
    flex-grow: 1;
    box-sizing: border-box;
    padding:5px 20px;
    font-family:effra_regular;
  }

  .calc-row .right {
    order:2;
    flex-grow: 1;
    box-sizing: border-box;
    padding:5px 20px;

  }

  .total-col {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-left:5px;
    padding-right:5px;
    font-size:24px;
    font-family: effra_medium;
  }

  .whyspacio-scroll-one {
	  background-color: #232323;
	  padding:60px 20px;
	  padding-top: 120px;
	  box-sizing: border-box;
	}

	.whyspacio-scroll-one .content {
	  width: 100%;
	  color:#bababa;
	  margin: 0 auto;
	}

	.whyspacio-scroll-one .content .subtitle {
	  font-family: effra_medium;
	  letter-spacing: 3px;
	  margin-bottom:5px;
	}

	.whyspacio-scroll-one .content .desc {
	  font-family: effra_regular;
	  line-height: 1.6;
	}

  .whyspacio-scroll-three{
    padding: 0px 20px;
    text-align: center;
  }

}
